﻿@model PruebaEmpresa.Models.MentorView
@using PruebaEmpresa.Util;

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}

<link type="text/css" href="~/Content/iconos_cajas.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/jquery.toast.min.css" />


@section scripts{

<script type="text/javascript">

        $(function () {

            verificarSiEmpresa();

            $('#Es_Empresa').change(function () {

                if (this.checked) {
                    $('#Apellido_Paterno').attr("disabled", "disabled");
                    $('#Apellido_Materno').attr("disabled", "disabled");

                    $('#Apellido_Paterno').val('');
                    $('#Apellido_Materno').val('');
                    $('#Apellido_Paterno').removeClass('input-validation-error');
                    $('#Apellido_Paterno').next('span').hide();

                    

                } else {
                    $('#Apellido_Paterno').removeAttr("disabled");
                    $('#Apellido_Materno').removeAttr("disabled");
                }


            });



            function verificarSiEmpresa() {

                var es_una_empresa = '@Model.Es_Empresa';

                if (es_una_empresa == "True") {
                    $('#Apellido_Paterno').attr("disabled", "disabled");
                    $('#Apellido_Materno').attr("disabled", "disabled");

                    $('#Apellido_Paterno').val('');
                    $('#Apellido_Materno').val('');
                } else {
                    $('#Apellido_Paterno').removeAttr("disabled");
                    $('#Apellido_Materno').removeAttr("disabled");
                }
            }

            var mensaje = '@ViewBag.Mensaje';

            if (mensaje.length > 0) {

                $.toast({
                    heading: 'Centro Capacitación',
                    text: mensaje,
                    position: 'top-right',
                    stack: false

                });
            }

            $('#btnSubmit').click(function () {
                var ventantaEspera = $('#Ventana_Espera');
                ventantaEspera.modal();
            });

            const togglePassword = document.querySelector('#togglePassword');
            const password = document.querySelector('#password');

            togglePassword.addEventListener('click', function (e) {
                // toggle the type attribute
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                // toggle the eye slash icon
                this.classList.toggle('glyphicon-eye-close');

            });

            const togglePasswordConfirmar = document.querySelector('#togglePasswordConfirmar');
            const passwordConfirmar = document.querySelector('#passwordConfirmar');

            togglePasswordConfirmar.addEventListener('click', function (e) {
                // toggle the type attribute
                const type = passwordConfirmar.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordConfirmar.setAttribute('type', type);
                // toggle the eye slash icon
                this.classList.toggle('glyphicon-eye-close');
            });

        });

</script>

}

<div class="page-header">

    @if (Cls_Sesiones.NOMBRE_ROL.ToLower() != "mentor")
    {
        <h3>Mentores</h3>
    }
    else
    {
        <h3>Mis Datos</h3>
    }

</div>



<div class="panel panel-primary">

    <div class="panel-heading clearfix">

        @if (Model.Usuarios_ID == 0)
        {
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Registrar Mentor </h4>
        }
        else
        {
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Editar Mentor </h4>
        }
        <div class="btn-group pull-right">

            @if (Cls_Sesiones.NOMBRE_ROL.ToLower() != "mentor")
            {
                <a class="btn btn-success btn-sm" href="@Url.Action("Listado","Mentores")">Regresar <span class="glyphicon glyphicon-share-alt"></span> </a>
            }


        </div>

    </div>

    <div class="panel-body">

        @using (Html.BeginForm("Guardar", "Mentores" ,FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                <div class="form-group">
                    <div class="col-md-12">
                        <div style="text-align:center">
                            @Html.ValidationMessage("error", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                @Html.HiddenFor(x => x.Usuarios_ID)
                @Html.HiddenFor(x => x.Rol_ID)
                @Html.HiddenFor(x=> x.Tipo_Imagen)
                @Html.HiddenFor(x=> x.Nombre_Imagen)

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre_Especialidad, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Especialidad_ID", null, "Selecciona", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Especialidad_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                     @Html.LabelFor(model=> model.Es_Empresa , htmlAttributes: new { @class = "control-label col-md-11" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model=> model.Es_Empresa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Es_Empresa, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @maxlength = "100" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Apellido_Paterno, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Apellido_Paterno, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @maxlength = "100" } })
                        @Html.ValidationMessageFor(model => model.Apellido_Paterno, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Apellido_Materno, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Apellido_Materno, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @maxlength = "100" } })
                        @Html.ValidationMessageFor(model => model.Apellido_Materno, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Correo_Electronico, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Correo_Electronico, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Correo_Electronico, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Estatus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Estatus", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Estatus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-2">

                    </div>

                    <div class="col-md-10">

                        <div style="position:relative">
                            <label>Logotipo</label>
                            <a class="btn" href="javascript:;">
                                selecciona un archivo...
                                <input type="file" name="Image" size="40"
                                       style="position:absolute;z-index:2; top:0;
                           left:0; filter: alpha(opacity=0); opacity:0;
                           background-color:transparent; color:transparent"
                                       onchange='$("#upload-file-info").html($(this).val());' />

                            </a>
                            <span class="label label-info" id="upload-file-info"></span>
                        </div>

                        @if (string.IsNullOrEmpty(Model.Nombre_Imagen))
                        {
                            <div class="form-control-static">
                                No hay logotipo
                            </div>
                        }
                        else
                        {
                            <img class="img-thumbnail" width="200" height="200"
                                 src="~/Imagenes/@Model.Nombre_Imagen" alt="imagen no disponible" />
                        }
                    </div>
                 

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Contraseña, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-eye-open" id="togglePassword"></i>
                            @Html.PasswordFor(model => model.Contraseña, new { @Value = Model.Contraseña, @class = "form-control", @maxlength = "8", id = "password" })
                            @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    @Html.LabelFor(model => model.Confirmar_Contraseña, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">

                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-eye-open" id="togglePasswordConfirmar"></i>
                            @Html.PasswordFor(model => model.Confirmar_Contraseña, new { @Value = Model.Confirmar_Contraseña, @class = "form-control", @maxlength = "8", id = "passwordConfirmar" })
                            @Html.ValidationMessageFor(model => model.Confirmar_Contraseña, "", new { @class = "text-danger" })
                        </div>

                    </div>



                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <span class="text-info">
                            Introduzca constrase&ntilde;as coincidentes m&iacute;nimo de 6 caracteres y m&aacute;ximo 8 caracteres
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" id="btnSubmit" class="btn btn-primary">  Aceptar <span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                </div>
            </div>
        }



    </div>

</div>


<div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>