﻿body {
    margin-top: 20px;
    background: #f5f7fa;
}

.panel.panel-default {
    border-top-width: 3px;
}

.panel {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
    border: 0;
    border-radius: 4px;
    margin-bottom: 16px;
}

/* cambiar el color a la línea de page header */
.page-header {
    border-bottom: 1px solid #5EAADE;
}


.thumb96 {
    width: 96px !important;
    height: 96px !important;
}

.thumb48 {
    width: 48px !important;
    height: 48px !important;
}


/* el mismo ancho del botón */
.custom {
    width: 120px !important;
}

/* poner las imagenes en  el menu nav boostrap */

.logo img {
    width: 100% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 100%;
    max-height: 80px;
    padding: 10px
}

@media (max-width:480px) {
    .logo img {
        width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 70% !important;
    }
}

@media (max-width:400px) {
    .logo img {
        width: 75% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 75%;
    }
}

@media (max-width:385px) {
    .logo img {
        width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 70%;
    }
}

@media (max-width:345px) {
    .logo img {
        width: 65% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 65%;
    }
}

@media (max-width:335px) {
    .logo img {
        width: 60% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 60%;
    }
}

@media (max-width:325px) {
    .logo img {
        width: 55% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 55%;
    }
}

@media (max-width:315px) {
    .logo img {
        width: 50% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 50%;
    }
}

/* para visualizar las lista de respuestas */

.addScroll {
    overflow-y: auto;
    height: 500px;
}

.fixed-panel {
    min-height: 10px;
    max-height: 120px;
    overflow-y: scroll;
}