﻿body.login .page-section {
    padding: 4em 0;
}

body.login {
    font-weight: normal;
    font-family: "Encode Sans Regular", sans-serif;
}

.page-section--default {
    background-color: #f7f7f7;
}

.page-section--light {
    background-color: white;
}


input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="week"], input[type="number"], input[type="search"], input[type="tel"], input[type="color"], select, textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    border: 0.07143rem solid #d9d9d9;
    border-spacing: 0;
    color: #555555;
    display: inline-block;
    height: 3.21429rem;
    line-height: 1.57143;
    padding: 0.71429rem 0.78571rem 0.78571rem;
    vertical-align: middle;
    width: 100%;
    -moz-transition: border-color 0.3s, color 0.3s;
    -o-transition: border-color 0.3s, color 0.3s;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, ins, kbd, q, s, samp, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


body.login h1 {
        color: #1a1a1a;
        font-size: 1.71429rem;
        line-height: 1.25;
        font-weight: normal;
        font-family: "Encode Sans Condensed Semi Bold", sans-serif;
 }

body.login h1 {
        font-weight: 600;
        margin-bottom: 0.5em;
 }


 body.login .form-submit-section {
        background: transparent;
        padding: 0;
        text-align: right;
 }


.custom {
    width: 120px !important;
}

.column, .columns {
    width: 100%;
    float: left;
    padding-left: 1.42857rem;
    padding-right: 1.42857rem;
}

body.login .helpInfo {
    color: #999;
    font-size: 11px;
}

body.login .helpInfo, body.login .helpLink {
    font-size: 0.92857rem;
    font-style: normal;
}


body.login .form-row {
    box-shadow: 0 21px 0 -20px #d9d9d9, 0 -21px 0 -20px #d9d9d9;
    margin: 1.5em 0;
    padding: 1em 0 1.5em;
}


.logo img {
    width: 100% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 100%;
    max-height: 80px;
    padding: 7px;
}

@media (max-width:480px) {
    .logo img {
        width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 70% !important;
    }
}

@media (max-width:400px) {
    .logo img {
        width: 75% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 75%;
    }
}

@media (max-width:385px) {
    .logo img {
        width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 70%;
    }
}

@media (max-width:345px) {
    .logo img {
        width: 65% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 65%;
    }
}

@media (max-width:335px) {
    .logo img {
        width: 60% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 60%;
    }
}

@media (max-width:325px) {
    .logo img {
        width: 55% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 55%;
    }
}

@media (max-width:315px) {
    .logo img {
        width: 50% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 50%;
    }
}
