﻿.validationMessage {
    color: Red;
    font-size: 9px;
    font-family: Arial
}

.bootstrap-tagsinput {
    width: 100%;
}


/* styles for validation helpers */
.field-validation-error {
    color: red;
    font-size: 12px;
    font-family: Arial
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}


select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}