﻿@model PruebaEmpresa.Models.CheckOutView

@{
    ViewBag.Title = "Hacer_Pago";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}

<style media="screen">

    .green {
        border: solid green 1px;
    }

    .error {
        border: solid red 1px;
    }
</style>

@section scripts{

    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>


    <script src="https://js.stripe.com/v3/" type="text/javascript"></script>

    <script type="text/javascript">

        var ObjFormPagoViewModel;

        $(function () {

            ObjFormPagoViewModel = new FormPagoViewModel();
            ObjFormPagoViewModel.ModelFormPago.errors = ko.validation.group(ObjFormPagoViewModel.ModelFormPago);
            ko.applyBindings(ObjFormPagoViewModel, $("#interfaz_pago")[0]);

            var mensaje = '@Model.Mensaje';

            if (mensaje.length > 0) {

                $.toast({
                    heading: 'Centro Capacitación',
                    text: mensaje,
                    position: 'top-right',
                    stack: false

                });
            }

        });

        var stripe = Stripe('@ViewBag.StripePublishKey');
        // Create an instance of Elements.
        var elements = stripe.elements();

        // Create an instance of the card Element.
        //var card = elements.create('card', { style: style });
        var card = elements.create('cardNumber', {
            classes: {
                base: "form-control",
                invalid: "error"
            }

        });

        var cvc = elements.create('cardCvc', {
            classes: {
                base: "form-control",
                invalid: "error"
            }

        });


        var exp = elements.create('cardExpiry', {
            classes: {
                base: "form-control",
                invalid: "error"
            }

        });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');
        cvc.mount('#card-cvc');
        exp.mount('#card-exp');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            //var hiddenInput = document.createElement('input');
            //hiddenInput.setAttribute('type', 'hidden');
            //hiddenInput.setAttribute('name', 'stripeToken');
            //hiddenInput.setAttribute('value', token.id);
            //form.appendChild(hiddenInput);

            var token_control = document.getElementById('cls_Cargo_Pago_stripeToken');
            token_control.value = token.id;


            if (ObjFormPagoViewModel.ModelFormPago.errors().length == 0) {
                var ventantaEspera = $('#Ventana_Espera');
                ventantaEspera.modal();
                //Submit the form
                form.submit();
            } else {
                ObjFormPagoViewModel.ModelFormPago.errors.showAllMessages();
            }

        }

        var FormPagoModel = function () {

            var _NombreTarjeta = ko.observable('').extend({ required: true })
                      .extend({ maxLength: 100 })
                      .extend({ caracterPermitido: 'ÁÉÍÓÚáéíóúñÑ_/-().' }),
                _Telefono = ko.observable('@Model.cls_Cargo_Pago.Phone').extend({ required: true })
                     .extend({ digit: true })
                     .extend({ minLength: 10 })
                     .extend({ maxLength: 10 }),
                _CorreoElectronico = ko.observable('@Model.cls_Cargo_Pago.Email')
                     .extend({ required: true })
                     .extend({ email: true })
                     .extend({ maxLength: 50 });

            return {
                NombreTarjeta: _NombreTarjeta,
                Telefono: _Telefono,
                CorreoElectronico: _CorreoElectronico
            }
        }



        function FormPagoViewModel() {
            var self = this;
            ko.validation.locale('es-ES');
            "use strict";

            self.ModelFormPago = FormPagoModel();

        }

    </script>


}



<div class="row">


    <div class="col-md-6 col-sm-offset-3">


        <div class="panel panel-success">

            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left">Datos Financieros</h4>

                <div class="btn-group pull-right">
                    <a class="btn btn-success btn-sm" href="@Url.Action("Listado_Cargos","Pago")">Regresar <span class="glyphicon glyphicon-share-alt"></span></a>
                </div>

            </div>

            <div class="panel-body">


                <form action="/Pago/Crear" method="post" id="payment-form">

                    @Html.HiddenFor(x => x.cls_Cargo_Pago.stripeToken)
                    @Html.HiddenFor(x => x.cls_Cargo_Pago.Cargo_ID)


                    <div id="interfaz_pago">

                        <div class="form-group">
                            <label for="card-name">*Nombre en la tarjeta</label>
                            @Html.TextBoxFor(model => model.cls_Cargo_Pago.CardName, new { @class = "form-control" ,data_bind= "textInput: ModelFormPago.NombreTarjeta" })
                            @Html.ValidationMessageFor(model => model.cls_Cargo_Pago.CardName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="card-name">*Correo Electr&oacute;nico</label>
                            @Html.TextBoxFor(model => model.cls_Cargo_Pago.Email, new { @class = "form-control", data_bind = "textInput: ModelFormPago.CorreoElectronico", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.cls_Cargo_Pago.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="card-name">*Tel&eacute;fono</label>
                            @Html.TextBoxFor(model => model.cls_Cargo_Pago.Phone, new { @class = "form-control", data_bind = "textInput: ModelFormPago.Telefono", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.cls_Cargo_Pago.Phone, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="card-element">
                                *Tarjeta de Cr&eacute;dito o D&eacute;bito
                            </label>
                            <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                        </div>


                        <div class="form-group">

                            <div class="row">

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="card-cvc">
                                            *cvc
                                        </label>
                                        <div id="card-cvc">
                                            <!-- A Stripe Element will be inserted here. -->
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="card-exp">
                                            *exp
                                        </label>
                                        <div id="card-exp">
                                            <!-- A Stripe Element will be inserted here. -->
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <!-- Used to display Element errors. -->
                        <div id="card-errors" role="alert"></div>

                        <div class="form-group">
                            <button class="form-control btn btn-primary">Realizar Pago</button>
                        </div>


                    </div>
                </form>


            </div>

        </div>

    </div>

</div>


<div class="row">


    <div class="col-md-6 col-sm-offset-3">

        <div class="panel panel-primary">

            <div class="panel-heading">
                <h4 class="panel-title">Cargos</h4>
            </div>

            <div class="panel-body">

                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.cargosView.Nombre_Cargo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.cargosView.Nombre_Cargo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.cargosView.Dias)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.cargosView.Dias)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.cargosView.Precio)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.cargosView.Precio)
                    </dd>




                </dl>

            </div>


        </div>

    </div>

</div>


<div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


