﻿
@model  Stripe.Checkout.Session

@{
    ViewBag.Title = "Iniciar";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}

<link type="text/css" href="~/Content/estilo-stripers.css" rel="stylesheet" />

<style media="screen">

    .green{
        border: solid green 1px;
    }

    .error {
        border: solid red 1px;
    }
</style>

@section scripts{
    <script src="https://js.stripe.com/v3/" type="text/javascript"></script>

    <script type="text/javascript">

        var stripe = Stripe('pk_test_TzrqqoY6KRTiueT5kI1lCypo');

        var element = document.getElementById('btnPay');

        element.addEventListener('click', function () {


            stripe.redirectToCheckout({

                sessionId: '@Model.Id'
            }).then(function (result) {

            });

        });

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        //var card = elements.create('card', { style: style });
        var card = elements.create('cardNumber', {
            classes: {
                base: "form-control",
                invalid: "error"
            }

        });

        var cvc = elements.create('cardCvc', {
            classes: {
                base: "form-control",
                invalid: "error"
            }

        });


        var exp = elements.create('cardExpiry', {
            classes: {
                base: "form-control",
                invalid: "error"
            }

        });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');
        cvc.mount('#card-cvc');
        exp.mount('#card-exp');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);


            //Submit the form
            form.submit();

        }

    </script>
}


<button class="btn btn-info" id="btnPay">Checkout</button>


<br />
<br />
<br />

@*<form action="/Pago/Create" method="post" id="payment-form">
    <div class="form-row">
        <label for="card-element">
            Credit or debit card
        </label>
        <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display Element errors. -->
        <div id="card-errors" role="alert"></div>
    </div>

    <button>Submit Payment</button>
</form>*@


<br />


<div class="row">
   

    <div class="col-md-6 col-sm-offset-3">

        <h2> Stripe Form </h2>
        <form action="/Pago/Create" method="post" id="payment-form">


            <div class="form-group">
                <label for="card-name">Card Name</label>
                <input type="text" name="CardName" class="form-control" id="card-name" placeholder="Card Name" />
            </div>

            <div class="form-group">
                <label for="card-name">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email" />
            </div>

            <div class="form-group">
                <label for="card-name">Phone Number</label>
                <input type="tel" name="phone" class="form-control" id="phone" placeholder="Phone Number" />
            </div>

            <div class="form-group">
                <label for="card-element">
                    Credit or debit card
                </label>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>
            </div>


            <div class="form-group">

                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="card-cvc">
                                cvc
                            </label>
                            <div id="card-cvc">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="card-exp">
                                exp
                            </label>
                            <div id="card-exp">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Used to display Element errors. -->
            <div id="card-errors" role="alert"></div>

            <div class="form-group">
                <button class="form-control btn btn-primary">Submit Payment</button>
            </div>

        </form>


    </div>




</div>