﻿
@{
    ViewBag.Title = "Iniciar_Suscripcion";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}


@section scripts{

    <script src="https://js.stripe.com/v3/" type="text/javascript"></script>

    <script type="text/javascript">
        var stripe = Stripe('@ViewBag.StripePublishKey');


        document
        .getElementById("checkout")
         .addEventListener("click", function (evt) {
      // You'll have to define PRICE_ID as a price ID before this code block
      createCheckoutSession('price_1J4rBpLJvtqh8HFDspMcr75b').then(function (data) {
          // Call Stripe.js method to redirect to the new Checkout page
          stripe
            .redirectToCheckout({
                sessionId: data.sessionId
            })
            .then(handleResult);
        });
      });


        var createCheckoutSession = function (priceId) {
            return fetch("../Pago/Crear_Session", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    priceId: priceId
                })
            }).then(function (result) {
                return result.json();
            });
        };



    </script>

    }

    <h2>Iniciar_Suscripcion</h2>


    <button id="checkout">Subscribe</button>