﻿@model PruebaEmpresa.Models.CargosSeleccionView

@{
    ViewBag.Title = "Listado de Cargos";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}

<div class="page-header ">
    <h3>Cargos Disponibles</h3>
</div>


@if(Model.Tiene_Proveedor == false)
{

    <span class="label label-danger">Se requiere dar alta un proveedor</span>
    <br />
    <br />

}

@foreach(var item in Model.Lista_Cargo)
{


    <div class="panel panel-primary">

        <div class="panel-heading">
            <h4 class="panel-title"> @item.Nombre_Cargo </h4>
        </div>
        <div class="panel-body">

             <div class="row">

                 <div class="col-md-6">
                     <b> N&uacute;mero de d&iacute;as disponible :  </b>    <span class="badge">@item.Dias</span>
                 </div>

                 <div class="col-md-6">


                     @if (Model.Tiene_Proveedor == true && Model.Tiene_Pago == false)
                     {
                         <div style="text-align:right">
                             <a href="@Url.Action("Hacer_Pago", "Pago", new { Cargo_ID = item.Cargo_ID })" class="btn btn-primary custom">  Pagar <span> @item.Precio $</span> </a>
                         </div>
                     }
                     else
                     {
                         <div style="text-align:right">
                             <a href="#" class="btn btn-primary custom disabled">  Pagar <span> @item.Precio $</span> </a>
                         </div>
                     }


                 </div>

             </div>

             <div>
                 @if (Model.Cargo_ID == item.Cargo_ID)
                 {
                     <span class="label label-danger">Este cargo ha sido adquirido</span>
                 }
             </div>

        </div>

        @if (Model.Tiene_Pago && Model.Cargo_ID == item.Cargo_ID)
        {
            <div class="panel-footer clearfix">

                 <div class="btn-group pull-right">
                      
                      <a href="@Url.Action("Eliminar_Suscripcion","Pago", new { Cargo_ID = item.Cargo_ID } )" class="btn btn-danger btn-sm" > Cancelar  </a>

                 </div>

            </div>
        }

    </div>
}



