﻿@model PruebaEmpresa.Models.CargosView

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}


@section scripts{



}


<div class="page-header ">
    <h3>Pago Exitoso</h3>
</div>


<div class="panel panel-primary">

    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Usted adquiri&oacute; el siguiente cargo </h4>
    </div>

    <div class="panel panel-body">

        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre_Cargo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre_Cargo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Precio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Dias)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Dias)
                </dd>

            </dl>

        </div>

    </div>

</div>




