﻿@model PruebaEmpresa.Models.RecuperarPassword

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recupera Password</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/validaciones.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.toast.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/recuperar_password.css" />
</head>
<body class="login">
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
            <a class="logo" href="#"> <img src="~/Estructura/imagenes/icons/logo_completo.png" /> </a>
        </div>

    </div>


    <div class=" page-section page-section--default">

        <div class="panel-body">

            <div class="col-md-6 col-md-offset-3">

                <h3>Escribe tu direcci&oacute;n de correo electr&oacute;nico</h3>

                <p>
                    Para recuperar tu constrase&ntilde;a te enviaremos correo electr&oacute;nico
                </p>
                <br />


                @Html.ValidationMessage("no_encontrado", new { @class = "text-danger" })

                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(x => x.returnUrl)
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Corre_Electronico, new { @class = "form-control", @maxlength = "80", placeholder = "Correo Electrónico", autocomplete = "off" })
                        <div> @Html.ValidationMessageFor(x => x.Corre_Electronico) </div>
                    </div>



                    if (string.IsNullOrEmpty(Model.returnUrl))
                    {
                        <a href="@Url.Action("Verificar", "Login")" class="btn btn-link"> Regresar </a>
                    }
                    else
                    {
                        <a href="@Model.returnUrl" class="btn btn-link"> Regresar </a>
                    }




                    <div class="form-submit-section">
                        <input type="submit" id="btnSubmit" class="btn btn-primary custom" value="Aceptar" />
                    </div>
                }

            </div>

        </div>

    </div>


    <div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Procesando</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.toast.min.js"></script>

    <script type="text/javascript">

        $(function () {

            var mensaje = '@Model.Mensajes';

            if (mensaje.length > 0) {

                $.toast({
                    heading: 'Centro Capacitación',
                    text: mensaje,
                    position: 'top-right',
                    stack: false

                });
            }


            $('#btnSubmit').click(function () {
                var ventantaEspera = $('#Ventana_Espera');
                ventantaEspera.modal();
            });

        });

    </script>

</body>
</html>
