﻿@model PagedList.IPagedList<PruebaEmpresa.Models.MentorView>
@using PruebaEmpresa.Util;
@using PagedList.Mvc;
@{
    /**/

    ViewBag.Title = "Asistencia_Local";
}

@section style{

    <style>

        .contenido {
            display: none;
            font-size: 15px;
            font-family: Montserrat;
            font-weight: 400;
            line-height: 1.7;
            color: #666666;
            margin: 0px;
        }

            .contenido li {
                margin-left: 2em;
                list-style-type: disc;
            }

            .contenido ol {
                list-style-type: upper-alpha;
            }

        .visible {
            display: block;
        }

        .titulo {
            font-size: 40px;
            font-weight: bold;
        }

        .subtitulo, .subtitulo a {
            font-size: 19px;
            font-weight: bold;
        }


        .negritas {
            font-weight: bold;
        }


        .banner_asistencia_local {
            background: #1b3aa1;
            width: 80%;
            padding: 40px 50px;
            margin: 0 auto;
        }
    </style>
}


@section scripts{

    <script>

        function cambiar_contenido(seleccion) {

            $('.contenido').fadeOut();
            $('#' + seleccion).fadeIn();

            var scroll = $("#contenedor-informacion").offset().top - 150;
            $("html, body").animate({
                scrollTop: scroll
            }, 500);

        }

        function desplazarse(elemento) {

            var scroll = $("#" + elemento).offset().top - 150;

            $("html, body").animate({
                scrollTop: scroll
            }, 500);
        }


        $(document).ready(function () {

            var vista = obtenerGet("vista");

            if (vista != "") {
                cambiar_contenido(vista);
            }
        });


        function obtenerGet(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }


    </script>
}


<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(../../Estructura/imagenes/entrevista_de_trabajo.jpg);">
    <h2 class="tit6 t-center">
        <span style="color:blue">
            Asistencia Local
        </span>

    </h2>
</section>


<div class="container" style="margin-top:40px; margin-bottom:50px;">


    <h2 class="subtitulo">
        ¿Tienes Alguna Duda?
    </h2>

    @if (string.IsNullOrEmpty(Cls_Sesiones.NOMBRE_ROL))
    {


        <p>
            Preguntale a nuestros mentores altamente calificados, para ello registrate en nuestra plataforma
            <a href='@Url.Action("Login", "UsuariosVisitantes")' > <b> Registro </b> </a> y comienza a preguntar
        </p>

    }
    else
    {
        <p>

            <div style="text-align:center">
                <a href='@Url.Action("Panel_Control","UsuariosVisitantes")'> <b> Ir a Panel de Preguntas </b> </a>
            </div>

        </p>

    }


    <br />

  <div class="panel panel-primary">

      <div class="panel-heading clearfix">
          <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Directorio de Mentores </h4>
           <div class="btn-group pull-right">

           </div>

      </div>

      <div class="panel-body">

          <div class="row">

              <div class="col-md-12">


                  <div class="table-responsive">

                       <table class="table table-bordered table-striped">
                           <tr>
                               <th>Mentor</th>
                               <th>Especialidad</th>
                               <th></th>

                           </tr>
                           @foreach(var item in Model)
                           {
                           <tr>


                               @if (item.Es_Empresa)
                               {
                                   <td> @item.Nombre </td>
                               }
                               else
                               {
                                   <td> @item.Nombre &nbsp; @item.Apellido_Paterno &nbsp; @item.Apellido_Materno </td>
                               }

                               <td>
                                    @item.Nombre_Especialidad
                               </td>

                               <td>
                                   <div class="text-center">

                                       @if (item.Nombre_Imagen.Trim().Length > 0)
                                       {
                                           <img class="img-thumbnail" src="~/Imagenes/@item.Nombre_Imagen" alt="sin imagen" height="150" width="150" />
                                       }
                                       else
                                       {
                                           <img class="img-thumbnail" src="~/Estructura/imagenes/icons/usuario.jpg" alt="sin imagen" height="150" width="150" />
                                       }
                                   </div>
                               </td>
                           </tr>
                           }

                       </table>


                  </div>

              </div>

          </div>

          <div class="row">
              <div class="col-md-12" style="text-align:right">
                  P&aacute;gina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                  @Html.PagedListPager(Model, page => Url.Action("Asistencia_Local",
                   new { page }))
              </div>
          </div>

      </div>

  </div>


<br />
<br />


</div>


@*<!-- Gallery -->
    <div class="section-gallery p-t-118 p-b-100">
        <div class="wrap-label-gallery filter-tope-group size27 flex-w flex-sb-m m-l-r-auto flex-col-c-sm p-l-15 p-r-15 m-b-60">
            <button class="label-gallery txt26 trans-0-4 is-actived" data-filter="*">
                All Photo
            </button>

            <button class="label-gallery txt26 trans-0-4" data-filter=".interior">
                Interior
            </button>

            <button class="label-gallery txt26 trans-0-4" data-filter=".food">
                Food
            </button>

            <button class="label-gallery txt26 trans-0-4" data-filter=".events">
                Events
            </button>

            <button class="label-gallery txt26 trans-0-4" data-filter=".guests">
                Vip guests
            </button>
        </div>

        <div class="wrap-gallery isotope-grid flex-w p-l-25 p-r-25">
            <!-- - -->
            <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events guests">
                <img src="../../Estructura/imagenes/photo-gallery-13.jpg" alt="IMG-GALLERY">

                <div class="overlay-item-gallery trans-0-4 flex-c-m">
                    <a class="btn-show-gallery flex-c-m fa fa-search" href="../../Estructura/imagenes/photo-gallery-13.jpg" data-lightbox="gallery"></a>
                </div>
            </div>

            <!-- - -->
            <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom food">
                <img src="../../Estructura/imagenes/photo-gallery-14.jpg" alt="IMG-GALLERY">

                <div class="overlay-item-gallery trans-0-4 flex-c-m">
                    <a class="btn-show-gallery flex-c-m fa fa-search" href="../../Estructura/imagenes/photo-gallery-14.jpg" data-lightbox="gallery"></a>
                </div>
            </div>

            <!-- - -->
            <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events">
                <img src="../../Estructura/imagenes/photo-gallery-15.jpg" alt="IMG-GALLERY">

                <div class="overlay-item-gallery trans-0-4 flex-c-m">
                    <a class="btn-show-gallery flex-c-m fa fa-search" href="../../Estructura/imagenes/photo-gallery-15.jpg" data-lightbox="gallery"></a>
                </div>
            </div>

            <!-- - -->
            <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom food">
                <img src="../../Estructura/imagenes/photo-gallery-16.jpg" alt="IMG-GALLERY">

                <div class="overlay-item-gallery trans-0-4 flex-c-m">
                    <a class="btn-show-gallery flex-c-m fa fa-search" href="../../Estructura/imagenes/photo-gallery-16.jpg" data-lightbox="gallery"></a>
                </div>
            </div>

            <!-- - -->
            <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom food">
                <img src="../../Estructura/imagenes/photo-gallery-17.jpg" alt="IMG-GALLERY">

                <div class="overlay-item-gallery trans-0-4 flex-c-m">
                    <a class="btn-show-gallery flex-c-m fa fa-search" href="../../Estructura/imagenes/photo-gallery-17.jpg" data-lightbox="gallery"></a>
                </div>
            </div>

            <!-- - -->
            <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom interior guests">
                <img src="../../Estructura/imagenes/photo-gallery-18.jpg" alt="IMG-GALLERY">

                <div class="overlay-item-gallery trans-0-4 flex-c-m">
                    <a class="btn-show-gallery flex-c-m fa fa-search" href="../../Estructura/imagenes/photo-gallery-18.jpg" data-lightbox="gallery"></a>
                </div>
            </div>

            <!-- - -->
            <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom interior">
                <img src="../../Estructura/imagenes/photo-gallery-19.jpg" alt="IMG-GALLERY">

                <div class="overlay-item-gallery trans-0-4 flex-c-m">
                    <a class="btn-show-gallery flex-c-m fa fa-search" href="../../Estructura/imagenes/photo-gallery-19.jpg" data-lightbox="gallery"></a>
                </div>
            </div>

            <!-- - -->
            <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom interior">
                <img src="../../Estructura/imagenes/photo-gallery-20.jpg" alt="IMG-GALLERY">

                <div class="overlay-item-gallery trans-0-4 flex-c-m">
                    <a class="btn-show-gallery flex-c-m fa fa-search" href="../../Estructura/imagenes/photo-gallery-20.jpg" data-lightbox="gallery"></a>
                </div>
            </div>

            <!-- - -->
            <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events">
                <img src="../../Estructura/imagenes/photo-gallery-21.jpg" alt="IMG-GALLERY">

                <div class="overlay-item-gallery trans-0-4 flex-c-m">
                    <a class="btn-show-gallery flex-c-m fa fa-search" href="../../Estructura/imagenes/photo-gallery-21.jpg" data-lightbox="gallery"></a>
                </div>
            </div>
        </div>

        <div class="pagination flex-c-m flex-w p-l-15 p-r-15 m-t-24 m-b-50">
            <a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
            <a href="#" class="item-pagination flex-c-m trans-0-4">2</a>
            <a href="#" class="item-pagination flex-c-m trans-0-4">3</a>
        </div>
    </div>


    <!-- Sign up -->
    <div class="section-signup bg1-pattern p-t-85 p-b-85">
        <form class="flex-c-m flex-w flex-col-c-m-lg p-l-5 p-r-5">
            <span class="txt5 m-10">
                Specials Sign up
            </span>

            <div class="wrap-input-signup size17 bo2 bo-rad-10 bgwhite pos-relative txt10 m-10">
                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email-address" placeholder="Email Adrress">
                <i class="fa fa-envelope ab-r-m m-r-18" aria-hidden="true"></i>
            </div>

            <!-- Button3 -->
            <button type="submit" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">
                Sign-up
            </button>
        </form>
    </div>




    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>*@