﻿
@{
    ViewBag.Title = "Encontrar_Ayuda_Cercana";
}

@section style{
    <link rel="stylesheet" href="~/Estructura/css/encontrar_ayuda_cercana.css"/>
}

@section scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="~/Scripts/Aplicativo/AsistenciaLocal/encontrar_ayuda_cercana.js?3"></script>

    <script type="text/javascript">

        var sessionTimeoutWarning = @Session.Timeout- 1;

        var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
        setTimeout('SessionEnd()', sTimeout);

        function SessionEnd() {
            window.location.href = "@Url.Action("Salir", "UsuariosVisitantes")";
        }

    </script>
}


<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(../../Estructura/imagenes/ayudacercana_title.png);">
    <h2 class="tit6 t-center">
        Encontrar ayuda cercana
    </h2>
</section>
<br /><br /><br />



<div class="container" style="margin-top: 40px; margin-bottom:40px; text-align:center;">

    <span class="tit3 m-10">
        Sistema de mentores profesionales
    </span>

    <br /><br /><br />
    <span class="tit10" style="color:blue; font-weight:bold;">
        ¿Tienes dudas sobre cómo crear, administrar o mejorar tu negocio?
    </span>
    <br /><br />
    <span class="tit10">
        Aquí podrás consultar tus dudas directamente con profesionales de cada área, quienes te asesoraran de la mejor manera sin costo.
    </span>
</div>
<br /><br /><br />



<div class="header-intro parallax100 t-center" style="padding:30px 40px 30px 40px; background-image: url(../../Estructura/imagenes/ayudacercana_preguntas.png);">

    <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
        ¿Tienes dudas sobre cómo preguntar?
    </h3>

    <h4 style="color:white; font-size:25px;">
        Te guiaremos en el proceso. O puedes consultar directamente al mentor que consideres adecuado para responder tu pregunta seleccionándolo en nuestro catálogo.
    </h4>

    <br /><br /><br />
    <div class="row">
        <div class="col-lg-6" style="text-align:center; margin-bottom:20px;">
            @*<button class="btn btn-success" id="btn_guia_pregunta" style="font-size:21px;">Hacer una pregunta</button>*@
            <a class="btn btn-success" href="@Url.Action("Panel_Control","UsuariosVisitantes")"> Regresar a panel de preguntas </a>
        </div>

        <div class="col-lg-6" style="text-align:center; margin-bottom:20px;">
            <button class="btn btn-primary" id="btn_consultar_mentores" style="font-size:21px;">Consultar Mentores</button>
        </div>
    </div>
</div>


<br /><br /><br />


<div class="container">
    <div class="row" id="encabezado_mentores">
        <div class="col-4">
            <h2 style="width:100%; text-align:center;">Especialidades</h2>
        </div>

        <div class="col-8">
            <h2 style="width:100%; text-align:center;">Lista de Mentores</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <div class="list-group" id="lista_especialidades" role="tablist">
                <!--<a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Mercadotecnia</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Derecho</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Administración</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Maketing</a>-->
            </div>
        </div>

        <div class="col-8">
            <div class="tab-content mentores_content" id="lista_mentores">

                <!--<div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                    </div>

                </div>


                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>-->
            </div>
        </div>
    </div>
</div>


<br /><br /><br /><br />





    <div class="modal" tabindex="-1" role="dialog" id="modal_pregunta_mentor">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Hacer una pregunta</h3>                    
                </div>
                <div class="modal-body" style="padding:10px 30px 10px 30px;">
                    <p>Explica tu pregunta lo más claro posible y el mentor seleccionado la contestará en cuanto le sea posible</p>

                    <textarea rows="10" style="width:100%;" id="txt_pregunta_mentor" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_enviar_pregunta_mentor" class="btn btn-primary">Enviar Pregunta</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal" tabindex="-1" role="dialog" id="modal_guia_pregunta">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color:steelblue; color:white;">
                <div class="modal-header">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="float:right;">Cerrar</button>
                    <h3 class="modal-title">Guía para hacer una pregunta</h3>
                </div>
                <div class="modal-body" style="padding:10px 30px 10px 30px;">
                    

                    <textarea rows="10" style="width:100%;" id="txt_pregunta_mentor_guia" class="form-control"></textarea>
                </div>                
            </div>
        </div>
    </div>