﻿
@{
    ViewBag.Title = "Buscar";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}


<link type="text/css" href="~/Content/jquery.toast.min.css" rel="stylesheet" />
<link type="text/css" href="~/Content/collapse.css" rel="stylesheet" />

@section scripts{

    <script type="text/javascript" src="~/Scripts/jquery.toast.min.js"></script>

    <script type="text/javascript" src="~/Scripts/Aplicativo/BuscarProveedor/Model/BuscarProveedorModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/BuscarProveedor/UI/BuscarProveedorUI.js?1"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/BuscarProveedor/BuscarProeveedorViewModel.js?1"></script>

    <script type="text/javascript">
        var Datos_Giro_Proveedor = '@Html.Raw(ViewBag.Lista_Giros_Proveedores)'
        var URL_Proveedor_Detalle = '@Url.Action("Detalle", "Proveedor")'
    </script>
}


<div class="page-header">
    <h3>Buscar Proveedor</h3>
</div>


<div id="Interfaz_Buscar_Proveedor">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">

                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#busqueda_proveedor">
                    Filtros
                </a>

            </div>
        </div>
        <div id="busqueda_proveedor" class="panel-collapse collapse in">
            <div class="panel-body">

                <form>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Giro Provedor</label>
                            <select class="form-control" data-bind="options:ArregloGirosIndustriales, value:BuscarProveedorModel.Giro_Proveedor_Selected,optionsText:'name',optionsCaption:'Selecciona'"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Esciba un nombre o colonia, o domicilio</label>
                            <input type="text" class="form-control" data-bind="textInput:BuscarProveedorModel.Busqueda">
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>



    <div class="panel panel-primary">

        <div class="panel-body">
            <div id="toolbar" class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" title="Buscar" data-bind="click:buscar">
                    <i class="glyphicon glyphicon-search"></i> Buscar
                </button>
            </div>

            <table id="Tabla_Proveedores"
                   data-toggle="table"
                   data-pagination="true"
                   data-search="false"
                   data-side-pagination="server"
                   data-toolbar="#toolbar"
                   data-toolbar-align="right"
                   data-striped="true"
                   data-show-toggle="false"
                   data-show-columns="false"
                   data-show-refresh="false">
                <thead>
                    <tr>

                        <th data-field="Nombre_Giro_Proveedor">Giro </th>
                        <th data-field="Nombre_Proveedor">Proveedor</th>
                        <th data-field="Colonia">Colonia</th>
                        <th data-field="Calle">Calle</th>
                        <th data-field="Numero_Exterior">No.Exterior</th>
                        <th data-field="id" data-formatter="botonMostrarDetalle"
                            data-events="botonesEvento" data-align="center"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>





</div>


