﻿@model PruebaEmpresa.Models.ProveedorView

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}


@section style{

    <link type="text/css" href="~/Content/estilo_proveedor_detalle.css" rel="stylesheet" />
    <style type="text/css">

        #map-canvas {
            width: 100%;
            height: 425px;
        }

    </style>

}



@section scripts{

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2ycCS4THLWZnB1Gjje7CNmS80Ynyarvc"></script>


    <script type="text/javascript">

        var map;
        var myCenter = new google.maps.LatLng(@Model.Latitud, @Model.Longitud);


        $(function () {

            incializar();
        });

        function incializar() {

            var mapProp = {
                center: myCenter,
                zoom: 18,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("map-canvas"), mapProp);
            var marker = new google.maps.Marker({
                position: myCenter,
            });

            marker.setMap(map);

            var infowindow = new google.maps.InfoWindow({
                content: "Proveedor"
            });

            infowindow.open(map, marker);

        }

    </script>
}


<div class="row">

    <div class="col-md-4">

        <div class="panel panel-default">

            <div class="panel-body text-center">

                <h3 class="">Sitio WEB</h3>

                <a class="btn btn-primary" target="_blank" href="@Model.Sitio_WEB"> Visitar</a>

            </div>

        </div>

        <div class="panel panel-primary hidden-xs hidden-sm">

            <div class="panel-heading">
                <div class="panel-title text-center">Mapa</div>
            </div>
            <div class="panel-body">
                <div id="map">
                    <div id="map-canvas"></div>
                </div>

            </div>
        </div>


    </div>

    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-body">

                <div class="h4 text-center">Informaci&oacute;n del proveedor</div>

                <div class="row">
                    <div class="col-lg-1">

                    </div>

                    <div class="col-lg-11">

                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputContact1">Proveedor</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact1" type="text" readonly="readonly" placeholder="" value="@Model.Nombre_Proveedor">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputContact10">Que Hace la Empresa</label>
                                <div class="col-sm-10">
                                    <textarea rows="3" class="form-control" readonly="readonly">@Model.Que_Hace_la_Empresa</textarea>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputContact2">Giro</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact2" type="text" readonly="readonly" placeholder="" value="@Model.Nombre_Giro_Proveedor">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputContact3">Colonia</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact3" type="text" readonly="readonly" placeholder="" value="@Model.Colonia">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputContact4">Calle</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact4" type="text" readonly="readonly" placeholder="" value="@Model.Calle">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputContact7">No. Ext.</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact7" readonly="readonly" type="text" placeholder="" value="@Model.Numero_Exterior">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputContact8">No. Int.</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact8" readonly="readonly" type="text" placeholder="" value="@Model.Numero_Interior">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputContact5">Sitio WEB</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact5" readonly="readonly" type="text" placeholder="" value="@Model.Sitio_WEB">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputContact7">Correo Electr&oacute;nico</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact7" readonly="readonly" type="text" placeholder="" value="@Model.Correo_Electronico">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputContact6">Tel&eacute;fono</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact6" readonly="readonly" type="text" placeholder="" value="@Model.Telefono">
                                </div>
                            </div>




                        </form>
                        <div class="text-right"><a href="@Url.Action("Buscar","Proveedor")">Regresar</a></div>
                    </div>


                </div>

            </div>

        </div>

    </div>

</div>


