﻿@model IEnumerable<PruebaEmpresa.Models.ProveedorView>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}

<div class="page-header ">
    <h3>Mis Proveedores</h3>
</div>


<div class="panel panel-primary">

    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Listado </h4>

        <div class="btn-group pull-right">

            @if (Model.Count() == 0)
            {
              <a class="btn btn-success btn-sm" href="@Url.Action("Registrar","Proveedor")"> <i class="glyphicon glyphicon-plus"></i> Nuevo</a>
            }

        </div>
    </div>

    <div class="panel-body">

        <div class="table-responsive">


            <table class="table table-bordered table-striped">
                <tr>
                    <th>Giro Proveedor</th>
                    <th>Nombre Proveedor</th>
                    <th>Colonia  </th>
                    <th>Calle  </th>
                    <th>No.Exterior  </th>
                    <th>

                    </th>
                </tr>
                @foreach( var item in Model)
                {
                    <tr>
                        <td>
                            @item.Nombre_Giro_Proveedor
                        </td>
                        <td>
                            @item.Nombre_Proveedor
                        </td>
                        <td>
                            @item.Colonia
                        </td>
                        <td>
                            @item.Calle
                        </td>
                        <td>
                            @item.Numero_Exterior
                        </td>

                        <td style="text-align:center">
                            <a class="btn btn-primary btn-sm" href='@Url.Action("Registrar", "Proveedor", new { Proveedor_ID = item.Proveedor_ID })'>
                                Editar
                            </a>
                           
                        </td>
                    </tr>
                }
            </table>

        </div>


    </div>

</div>



