﻿@model PruebaEmpresa.Models.ProveedorView
@using PruebaEmpresa.Extensiones

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}


@section style{
      <link type="text/css" href="~/Content/jquery.toast.min.css" rel="stylesheet" />

      <style type="text/css">

          .disabled_anchor {
              color: gray;
          }

          .pac-container {
              z-index: 99999999999999 !important;
          }


           .map_canvas{
               width:100%;
               height:500px;
               margin:10px,10px,10px,10px;              
           }

      </style>

    }
    

@section scripts{
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC2ycCS4THLWZnB1Gjje7CNmS80Ynyarvc&libraries=places"></script>
        <script src="~/Scripts/Geocomplete/jquery.geocomplete.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.toast.min.js"></script>

        <script type="text/javascript" src="~/Scripts/Aplicativo/Proveedor/Model/ProveedorModel.js?3"></script>
        <script type="text/javascript" src="~/Scripts/Aplicativo/Proveedor/UI/ProveedorUI.js?2"></script>
        <script type="text/javascript" src="~/Scripts/Aplicativo/Proveedor/ProveedorViewModel.js?4"></script>

        <script type="text/javascript">
        var Datos_Giro_Proveedor = '@Html.Raw(ViewBag.Lista_Giros_Proveedores)'
        var Modelo_Proveedor_Servidor = @Html.HtmlConvertToJson(Model);
        var Url_Regresar_Listado = '@Url.Action("Listado","Proveedor")';
        </script>
    }


    <div class="page-header">
        <h3>Cat&aacute;logo Proveedor</h3>
    </div>


    <div id="Interfaz_Registrar_Proveedor">



        <div class="panel panel-primary">

            <div class="panel-heading clearfix">

                @if (Model.Proveedor_ID == 0)
                {
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Registrar Proveedor </h4>
                }
                else
                {
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Editar Proveedor </h4>
                }

                <div class="btn-group pull-right">

                    <a class="btn btn-success btn-sm" href="@Url.Action("Listado","Proveedor")">Regresar <span class="glyphicon glyphicon-share-alt"></span> </a>
                </div>

            </div>

            <div class="panel-body">

                <form>


                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>*Nombre Proveedor</label>
                            <input type="text" class="form-control" data-bind="textInput:ModeloProveedor.Nombre_Proveedor">
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>* Que hace la empresa</label>
                            <textarea rows="3" class="form-control" data-bind="textInput:ModeloProveedor.Que_Hace_la_Empresa"></textarea>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>*Giro Proveedor</label>
                            <select class="form-control" data-bind="options:ArregloGirosIndustriales, value:ModeloProveedor.Giro_Proveedor_Selected,optionsText:'name',optionsCaption:'Selecciona'"></select>
                        </div>

                        <div class="form-group col-md-6">
                            <label>*Estatus</label>
                            <select class="form-control" data-bind="options:ArregloEstatus , value:ModeloProveedor.Estatus, optionsCaption: 'Selecciona'"> </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>*Colonia</label>
                            <input type="text" class="form-control" data-bind="textInput:ModeloProveedor.Colonia">
                        </div>

                        <div class="form-group col-md-6">
                            <label>*Calle</label>
                            <input type="text" class="form-control" data-bind="textInput:ModeloProveedor.Calle">
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>*N&uacute;mero Exterior</label>
                            <input type="text" class="form-control" data-bind="textInput:ModeloProveedor.Numero_Exterior">
                        </div>

                        <div class="form-group col-md-6">
                            <label>N&uacute;mero Interior</label>
                            <input type="text" class="form-control" data-bind="textInput:ModeloProveedor.Numero_Interior">
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>*Tel&eacute;fono</label>
                            <input type="text" class="form-control" data-bind="textInput:ModeloProveedor.Telefono">
                        </div>

                        <div class="form-group col-md-6">
                            <label>Correo Electr&oacute;nico</label>
                            <input type="text" class="form-control" data-bind="textInput:ModeloProveedor.Correo_Electronico">
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Sitio WEB</label>
                            <input type="text" class="form-control" data-bind="textInput:ModeloProveedor.Sitio_WEB">
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-5">
                            <label>Latitud</label>
                            <input type="text" class="form-control" data-bind="textInput:ModeloProveedor.Latitud,enable: habilitado">
                        </div>

                        <div class="form-group col-md-5">
                            <label>Longitud</label>
                            <input type="text" class="form-control" data-bind="textInput:ModeloProveedor.Longitud,enable: habilitado">
                        </div>

                        <div class="form-group col-md-2">
                             <label>Mapa</label>
                             <button class="btn btn-success form-control" data-bind="click:abrirBusquedaMapa" > Buscar <span class="glyphicon glyphicon-map-marker"></span> </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div style="text-align:left">
                                <button class="btn btn-primary btn-sm" data-bind="click: guardar"> Guardar <span class="glyphicon glyphicon-ok"></span></button>
                            </div>


                        </div>
                    </div>

                </form>


            </div>



        </div>



    </div>






    <div class="modal fade" id="Ventana_Mapa" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mapa</h4>
                </div>

                <div class="modal-body">


                    <div class="row">

                        <div class="col-md-12">
                            <input id="geocomplete" class="form-control" type="text" placeholder="Escribre un dirección" />
                        </div>

                    </div>

                    <br />
                    <div class="row">

                        <div class="col-md-12">

                            
                                <div class="map_canvas">

                                </div>
                            
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="Aceptar_Busqueda_Mapa();"> Aceptar <span class="glyphicon glyphicon-ok"></span> </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar  <span class="glyphicon glyphicon-remove"></span>  </button>
                </div>

            </div>
        </div>

    </div>


    <div id="Ventana_Espera" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Procesando</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
