﻿
@{
    ViewBag.Title = "Centro_Capacitacion";
}

@section style{

    <style>

        .contenido {
            display: none;
            font-size: 15px;
            font-family: Montserrat;
            font-weight: 400;
            line-height: 1.7;
            color: #666666;
            margin: 0px;
        }

            .contenido li {
                margin-left: 2em;
                list-style-type: disc;
            }

            .contenido ol {
                list-style-type: upper-alpha;
            }

        .visible {
            display: block;
        }

        .titulo {
            font-size: 40px;
            font-weight: bold;
        }

        .subtitulo, .subtitulo a {
            font-size: 19px;
            font-weight: bold;
        }


        .negritas {
            font-weight: bold;
        }


        .banner_asistencia_local {
            background: #1b3aa1;
            width: 80%;
            padding: 40px 50px;
            margin: 0 auto;
        }
    </style>
}


@section scripts{

    <script>

        function cambiar_contenido(seleccion) {

            $('.contenido').fadeOut();
            $('#' + seleccion).fadeIn();

            var scroll = $("#contenedor-informacion").offset().top - 150;
            $("html, body").animate({
                scrollTop: scroll
            }, 500);

        }

        function desplazarse(elemento) {

            var scroll = $("#" + elemento).offset().top - 150;

            $("html, body").animate({
                scrollTop: scroll
            }, 500);
        }


        $(document).ready(function () {

            var vista = obtenerGet("vista");

            if (vista != "") {
                cambiar_contenido(vista);
            }
        });


        function obtenerGet(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }


    </script>
}


<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(../../Estructura/imagenes/centro_capacitacion.jpg);">
    <h2 class="tit6 t-center">
        Centro de Capacitaci&oacute;n
    </h2>
</section>


<!-- Content page -->
<section>

    <div class="container-fluid" style="margin-top:100px;margin-bottom:50px;width:98%;">
        <p style="width:100%; text-align:right;">Esta información se encuentra actualizada a la fecha: @ViewData["actualizacion"]</p>
    </div>


    <div class="container">
        <div class="row">


            <div class="col-lg-12">

                <div style="text-align:justify" id="contenedor-informacion">

                    <section class="contenido visible">

                        <span class="titulo">Capacitaci&oacute;n</span>
                        <br /><br /><br />

                        <p>
                            La capacitación debe de ser un tema primordial en las PyMEs, que brinda las herramientas necesarias para mantenerse actualizadas, ser más productivas y enfrentar los factores de riesgo que se les presenten.
                        </p>

                        <p>
                            Existen diferentes plataformas digitales que, aprovechando la tecnología, permiten el aprendizaje por medio de la capacitación en línea, lo cual favorece las posibilidades por la flexibilidad de horarios, desde la comodidad de la oficina o casa y por supuesto el presupuesto destinado a la capacitación es menor con el uso de la formación en línea.
                        </p>

                    </section>

                </div>

            </div>

        </div>

        <br />
        <br />
        <br />
    </div>

  

</section>
