﻿
@{
    ViewBag.Title = "Index";
  
}

@section style{

    <style>


        .txt13Con {
            font-family: Poppins;
            font-weight: 500;
            font-size: 18px;
            color: black;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        body {
            background-color: lightgray;
        }

        .contenedor {
            width: 80%;
            background-color: white;
            border-radius: 5px;
            padding: 50px 80px;
            margin: 150px auto;
        }

            .contenedor p {
                text-align: justify;
                text-justify: inter-word;
                margin-bottom: 50px;
                font-size: 18px;
            }

        .negritas {
            font-weight: bold;
        }


        .dont-break-out {
            /* These are technically the same, but use both */
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            /* This is the dangerous one in WebKit, as it breaks things wherever */
            word-break: break-all;
            /* Instead use this non-standard one: */
            word-break: break-word;
            /* Adds a hyphen where the word breaks, if supported (No Blink) */
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }


        @@media only screen and (max-width: 600px) {

            .contenedor {
                padding: 30px 30px;
                width: 90%;
            }
        }
    </style>
}

    <div class="contenedor">

        <h2 style="font-weight:bold; font-size:30px; width:100%; text-align:center;">
             Informaci&oacute;n de Contacto
        </h2>

        <br /><br />


        <div class="container">

            <div class="row">

                <div class="col-sm-6 col-md-4 p-t-50">
                    <!-- - -->
                    <h4 class="txt13Con m-b-33">
                        Cont&aacute;ctanos
                    </h4>

                    <ul class="m-b-70">
                        <li class="txt14 m-b-14">
                            <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            Blvd. Luis Donaldo Colosio Plaza Don Bosco local AP-19 Col. Independencia cp.- 36666
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            462-217-5459
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                            direccion@coparmexirapuato.org
                        </li>
                        <li class="txt14 m-b-14">
                            <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            Boulevard Villas #169, Plaza Vips edificio C. Locales 5 y 6
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            462-688-7558
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                            rsanchez@guiaemprende.org
                        </li>




                    </ul>

                </div>

                <div class="col-sm-6 col-md-4 p-t-50">
                    <h4 class="txt13Con m-b-32">
                        Horario de atención
                    </h4>

                    <ul>
                        <li class="txt14">
                            Lunes a viernes
                        </li>

                        <li class="txt14">
                            9:00 AM - 2:00 PM y 4:00 PM - 6:00 PM
                        </li>

                    </ul> 
                </div>

            </div>

        </div>

    </div>
