﻿@using PruebaEmpresa.Util;

@{
    ViewBag.Title = "Home Page";
}


@section Scripts {


    <script type="text/javascript">
        var Ruta_Login_Popup = '@Url.Action("LoginPopup", "UsuariosVisitantes")';


        $(function(){


            var sesion = '@Cls_Sesiones.NOMBRE_ROL';

            if( sesion == undefined || sesion == null || sesion.length == 0){
                setTimeout(function () {
                    abrirVentanaLoginPopup();
                }, 1000);
            }


        });

        function abrirVentanaLoginPopup() {
            //$('#Ventana_Login_Popup').modal('show');
            $.get(Ruta_Login_Popup, function (d) {
                $('.body-content').prepend(d);
                $('#Ventana_Login_Nueva').modal({
                    backdrop: false
                });

            });

        }
    </script>


}


<!-- Slide1 -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">

            <div class="item-slick1 item1-slick1" style="background-image: url(Estructura/imagenes/slide_4.png);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
                        Gu&iacute;a
                    </span>

                    <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                        para emprendedores
                    </h2>

                    <!--<div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">

                        <a href="menu.html" class="btn1 flex-c-m size1 txt3 trans-0-4">
                            Look Menu
                        </a>
                    </div>-->
                </div>
            </div>

            @*<div class="item-slick1 item2-slick1" style="background-image: url(Estructura/imagenes/slide_n_1.jpeg);"></div>*@

            <div class="item-slick1 item3-slick1" style="background-image: url(Estructura/imagenes/slide_n_2.jpeg);"></div>

            <div class="item-slick1 item4-slick1" style="background-image: url(Estructura/imagenes/slide_n_3.jpg);"></div>

        </div>

        <div class="wrap-slick1-dots"></div>
    </div>
</section>



<!-- Welcome -->
<section class="section-welcome bg1-pattern p-t-120 p-b-105" style="width:100%;">
    <div class="container">

        <div class="row">
            <div class="col-md-6 p-t-45 p-b-30">
                <div class="wrap-text-welcome t-center">
                    <span class="tit10" style="color:blue;">
                        Centro de Capacitación
                    </span>

                    <h3 class="tit3 t-center m-b-35 m-t-5">
                        Bienvenidos
                    </h3>

                    <p class="t-center m-b-22 size3 m-l-r-auto" style="font-size:16px;">
                        Sitio web creado con el propósito de ayudar a todos los nuevos emprendedores, proporcionándoles toda la información que necesitan saber para comenzar a crear y hacer crecer sus negocios
                    </p>

                    <a href="@Url.Action("Guia_Negocios","GuiaNegocios")" class="txt4">
                        Saber Más
                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-6 p-b-30">
                <div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="~/Estructura/imagenes/icons/logo_coparmex.png" alt="IMG-OUR">
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Intro -->
<section class="section-intro">
    <div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url(Estructura/imagenes/home-banner.png);">

        <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
            ¿Quieres comenzar tu propia empresa?
        </h3>

        <br />

        <a class="btn btn-primary" href="@Url.Action("Index","EticaCorporativa")">Consulte nuestra ética corporativa</a>

    </div>

    @*<div class="content-intro bg-white p-t-77 p-b-133">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 p-t-30">
                        <!-- Block1 -->
                        <div class="blo1">
                            <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                                <a href="#"><img src="Estructura/imagenes/home-asesoria.jpg" alt="IMG-INTRO"></a>
                            </div>

                            <div class="wrap-text-blo1 p-t-35">
                                <a href="#">
                                    <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                        Asesoría empresarial gratuita
                                    </h4>
                                </a>

                                <p class="m-b-20">
                                    Obtenga consejos de negocios de nuestra red de organizaciones asociadas y expertos.
                                </p>

                                <a href="#" class="txt4">
                                    Ver Más
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 p-t-30">
                        <!-- Block1 -->
                        <div class="blo1">
                            <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                                <a href="#"><img src="Estructura/imagenes/home-prestamos.jpg" alt="IMG-INTRO"></a>
                            </div>

                            <div class="wrap-text-blo1 p-t-35">
                                <a href="#">
                                    <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                        Préstamos garantizados
                                    </h4>
                                </a>

                                <p class="m-b-20">
                                    Encuentre un prestamista cerca a usted para ayudarle a obtener fondos para su negocio.
                                </p>

                                <a href="#" class="txt4">
                                    Ver Más
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 p-t-30">
                        <!-- Block1 -->
                        <div class="blo1">
                            <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                                <a href="#"><img src="Estructura/imagenes/home-desastres.jpg" alt="IMG-INTRO"></a>
                            </div>

                            <div class="wrap-text-blo1 p-t-35">
                                <a href="#">
                                    <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                        Préstamos en caso de desastre
                                    </h4>
                                </a>

                                <p class="m-b-20">
                                    Solicite un préstamo de bajo interés que lo ayude a recuperarse de los desastres declarados.
                                </p>

                                <a href="#" class="txt4">
                                    Ver Más
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 p-t-30">
                        <!-- Block1 -->
                        <div class="blo1">
                            <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                                <a href="#"><img src="Estructura/imagenes/home-contratacion.jpg" alt="IMG-INTRO"></a>
                            </div>

                            <div class="wrap-text-blo1 p-t-35">
                                <a href="#">
                                    <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                        Contratación Federal
                                    </h4>
                                </a>

                                <p class="m-b-20">
                                    Califique a ganar contratos con el gobierno para negocios pequeños.
                                </p>

                                <a href="#" class="txt4">
                                    Ver Más
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>*@
</section>



<!-- Video -->
<section class="section-video parallax100" style="background-image: url(Estructura/imagenes/home-bg-video.png);">
    <div class="content-video t-center p-t-225 p-b-250">

        <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
            Nuestro Propósito
        </h3>

        <div class="btn-play ab-center size16 hov-pointer m-l-r-auto m-t-43 m-b-33" data-toggle="modal" data-target="#modal-video-01">
            <div class="flex-c-m sizefull bo-cir bgwhite color1 hov1 trans-0-4">
                <i class="fa fa-play fs-18 m-l-2" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>




<!-- Event -->
<section class="section-event">
    <div class="wrap-slick2">
        <div class="slick2">

            <div class="item-slick2 item1-slick2" style="background-image: url(Estructura/imagenes/home-bg-event1.jpg);">
                <div class="wrap-content-slide2 p-t-115 p-b-208">
                    <div class="container">
                        <!-- - -->
                        <div class="title-event t-center m-b-52">

                            <h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
                                Nuestros Servicios
                            </h3>
                        </div>

                        <!-- Block2 -->
                        <div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="zoomIn">
                            <!-- Pic block2 -->
                            <a href="#" class="wrap-pic-blo2 bg1-blo2" style="background-image: url(Estructura/imagenes/home-event1.jpg);"></a>

                            <!-- Text block2 -->
                            <div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
                                <h4 class="tit7 t-center m-b-10">
                                    Guía de Negocios
                                </h4>

                                <p class="t-center">
                                    Planeación completa y fácil de seguir, que te guiará de inicio a fin para crear tu empresa, proporcionaste toda la información referente a tus necesidades
                                </p>

                                <a href="@Url.Action("Guia_Negocios","GuiaNegocios")" class="txt4 m-t-40">
                                    Ver Detalles
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="item-slick2 item2-slick2" style="background-image: url(Estructura/imagenes/home-bg-event3.jpg);">
                <div class="wrap-content-slide2 p-t-115 p-b-208">
                    <div class="container">
                        <!-- - -->
                        <div class="title-event t-center m-b-52">

                            <h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
                                Nuestros Servicios
                            </h3>
                        </div>

                        <!-- Block2 -->
                        <div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="fadeInDown">
                            <!-- Pic block2 -->
                            <a href="#" class="wrap-pic-blo2 bg2-blo2" style="background-image: url(Estructura/imagenes/home-event3.jpg);"></a>

                            <!-- Text block2 -->
                            <div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
                                <h4 class="tit7 t-center m-b-10">
                                    Programas de Financiamiento
                                </h4>

                                <p class="t-center">
                                    Información útil y clara para que seas capaz de administrar económicamente tu propia empresa, así como solicitar préstamos y conseguir inversionistas.
                                </p>


                                <a href="@Url.Action("Programas_Financiamiento","ProgramasFinancia")" class="txt4 m-t-40">
                                    Ver Detalles
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="item-slick2 item1-slick2" style="background-image: url(Estructura/imagenes/home-bg-event2.jpg);">
                <div class="wrap-content-slide2 p-t-115 p-b-208">
                    <div class="container">
                        <!-- - -->
                        <div class="title-event t-center m-b-52">

                            <h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
                                Nuestros Servicios
                            </h3>
                        </div>

                        <!-- Block2 -->
                        <div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="zoomIn">
                            <!-- Pic block2 -->
                            <a href="#" class="wrap-pic-blo2 bg1-blo2" style="background-image: url(Estructura/imagenes/home-event2.jpg);">

                            </a>

                            <!-- Text block2 -->
                            <div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
                                <h4 class="tit7 t-center m-b-10">
                                    Centro de Capacitación
                                </h4>

                                <p class="t-center">
                                    Todo lo que necesitas hacer de inicio a fin para crear, registrar y administrar tu propia empresa en un mismo lugar.
                                </p>

                                <a href="@Url.Action("Centro_Capacitacion","Capacitacion")" class="txt4 m-t-40">
                                    Ver Detalles
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="item-slick2 item3-slick2" style="background-image: url(Estructura/imagenes/home-bg-event4.jpg);">
                <div class="wrap-content-slide2 p-t-115 p-b-208">
                    <div class="container">
                        <!-- - -->
                        <div class="title-event t-center m-b-52">

                            <h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
                                Nuestros Servicios
                            </h3>
                        </div>

                        <!-- Block2 -->
                        <div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="rotateInUpLeft">
                            <!-- Pic block2 -->
                            <a href="#" class="wrap-pic-blo2 bg3-blo2" style="background-image: url(Estructura/imagenes/home-event4.jpg);"></a>

                            <!-- Text block2 -->
                            <div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
                                <h4 class="tit7 t-center m-b-10">
                                    Asistencia Local
                                </h4>

                                <p class="t-center">
                                    Te ayudamos a encontrar los recursos necesarios para tu empresa cerca de tu localidad, trabajando con varios asociados para asesorar, orientar y capacitar a los interesados
                                </p>


                                <a href="@Url.Action("Asistencia_Local","AsistenciaLocal")" class="txt4 m-t-40">
                                    Ver Detalles
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="wrap-slick2-dots"></div>
    </div>
</section>




<!-- Sign up -->
<div class="container" style="margin-top: 40px; margin-bottom:40px; text-align:center;">

    <span class="tit3 m-10">
        Empiece y haga crecer su negocio
    </span>

    <br />
    <span class="tit10" style="color:blue;">
        ¿Quiere ser emprendedor? Aprenda cómo empezar su negocio en 10 pasos.
    </span>

    <br /><br />
    <!-- Button3 -->
    <a class="btn btn-primary" href="@Url.Action("Guia_Negocios","GuiaNegocios")">Ver Más</a>
</div>


<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>


<!-- Modal Video 01-->
<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document" data-dismiss="modal" style="margin:0 auto;">
        <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

        <div class="wrap-video-mo-01">
            <div class="w-full wrap-pic-w op-0-0"><img src="Estructura/imagenes/icons/video-16-9.jpg" alt="IMG"></div>
            <div class="video-mo-01">
                <iframe src="https://www.youtube.com/embed/s31XyyeUP7I?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

