﻿
@{
    ViewBag.Title = "prestamos";
}


@section style{
    <style>
        .subtitulo {font-weight:bold; color:blue; text-align:left; font-size:40px;}


        .contenido {
            display: none;
            font-size: 15px;
            font-family: Montserrat;
            font-weight: 400;
            line-height: 1.7;
            color: #666666;
            margin: 0px;
        }

            .contenido li {
                margin-left: 2em;
                list-style-type: disc;
            }

            .contenido ol {
                list-style-type: upper-alpha;
            }

             li {
                margin-left: 2em;
                list-style-type: disc;
            }

            ol {
                list-style-type: upper-alpha;
            }
            
        .visible {
            display: block;
        }

        .titulo {
            font-size: 40px;
            font-weight: bold;
        }

        .subtitulo1, .subtitulo1 a {
            font-size: 19px;
            font-weight: bold;
        }


        .negritas {
            font-weight: bold;
        }


        .banner_asistencia_local {
            background: #1b3aa1;
            width: 80%;
            padding: 40px 50px;
            margin: 0 auto;
        }

    </style>
}

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(../../Estructura/imagenes/programas_finan_banner.png);">
    <div style="width:100%; height:100%; text-align:center; color:white;">
        <h1 style="font-size:60px; font-weight:bold; margin-bottom:40px;">Préstamos</h1>
        @*<h2>Inicie o amplíe su negocio con préstamos garantizados por la SBA. Use Lender Match para encontrar prestamistas que ofrezcan préstamos para su negocio.</h2>
        <a class="btn btn-primary">Encontrar Prestamistas</a>*@
    </div>
</section>

<div class="container" style="margin-top:40px; margin-bottom:50px;">
    <p style="width:100%; text-align:right;">Esta información se encuentra actualizada a la fecha: @ViewData["actualizacion"]</p>

    <h2 class="subtitulo">
        Ayudamos a las pequeñas empresas a conseguir préstamos.
    </h2>

    <p class="m-b-20">
        Fondos Guanajuato de Financiamiento es un Organismo Estatal de Financiamiento en apoyo a la Micro, Pequeña y Mediana empresa con proyección hacia la generación de empleo, el fortalecimiento de la economía local y beneficio social.
    </p>

    <img src="~/Estructura/imagenes/programas_finan_welcome1.jpg" style="width:90%; margin-left:auto;" />

    <p>
        <span class="subtitulo1">
            Fondos Guanajuato, entre su cartera de programas de ayuda pueden encontrar los siguientes:
        </span>
    </p>

    <ol>
        <li>Impulso a la economía </li>
        <li>Fondo de arranque emprendedores</li>
        <li>Crédito Mayor</li>
        <li>Crédito Menor</li>
        <li>Crédito para compra de mercancía e inventario </li>
        <li>Reembolso en tasa </li>
        <li>Programa Mi Maíz-Mi Tortilla </li>
    </ol>

    <br />

    <p>
        <span class="negritas">Visitar Fondos Guanajuato</span>
        <br />
        <a href="https://fondos.guanajuato.gob.mx/fondos/ " target="_blank">https://fondos.guanajuato.gob.mx/fondos/ </a>
    </p>

</div>




<!-- Blog -->
@*<section class="section-blog bg-white p-t-115 p-b-123">
    <div class="container">
        <div class="title-section-ourmenu t-center m-b-22">
            
            <h2 class="subtitulo">
                Préstamos para prestatarios
            </h2>
        </div>

        <div class="row">


            <div class="col-md-4 p-t-30">
                <!-- Block1 -->
                <div class="blo1">
                    <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom pos-relative">
                        <a href="blog-detail.html"><img src="~/Estructura/imagenes/programas_finan_welcome.jpg" alt="IMG-INTRO"></a>
                    </div>

                    <div class="wrap-text-blo1 p-t-35">

                        <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                            Préstamos 7(a)
                        </h4>


                        <p class="m-b-20">

                            Un grupo de préstamos de la SBA que garantizan porciones de la cantidad total, limitan las tasas de interés y las comisiones de límite.
                        </p>

                        <a href="blog-detail.html" class="txt4">
                            Leer Más
                            <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 p-t-30">
                <!-- Block1 -->
                <div class="blo1">
                    <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom pos-relative">
                        <a href="blog-detail.html"><img src="~/Estructura/imagenes/programas_finan_welcome.jpg" alt="IMG-INTRO"></a>
                    </div>

                    <div class="wrap-text-blo1 p-t-35">

                        <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                            Préstamos 504
                        </h4>


                        <p class="m-b-20">

                            Financiamiento a largo plazo, a tasa fija, para la compra o reparación de bienes raíces, equipo, maquinaria u otros activos.
                        </p>

                        <a href="blog-detail.html" class="txt4">
                            Leer Más
                            <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 p-t-30">
                <!-- Block1 -->
                <div class="blo1">
                    <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom pos-relative">
                        <a href="blog-detail.html"><img src="~/Estructura/imagenes/programas_finan_welcome.jpg" alt="IMG-INTRO"></a>
                    </div>

                    <div class="wrap-text-blo1 p-t-35">

                        <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                            Microcréditos
                        </h4>


                        <p class="m-b-20">

                            Nuestro programa de préstamos más pequeño, que proporciona $50,000 o menos para ayudar a las empresas a empezar y expandirse.
                        </p>

                        <a href="blog-detail.html" class="txt4">
                            Leer Más
                            <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>*@

