﻿
@{
    ViewBag.Title = "Programas_Financiamiento";
}



@section style{

    <style>

        body {
            background-color: #f5f5f5;
        }

        .etiquetas {
            margin-top: 20px;
            background-color: #a2d7f2;
            width: 100%;
            text-align: center;
            justify-content: center;
            box-shadow: 5px 5px 8px gray;
            margin-right: 40px;
            padding: 20px;
        }

        .etiquetas:hover{
            background-color:blue;
            color:white;
            cursor:pointer;
        }
    </style>
}



<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(../../Estructura/imagenes/programas_finan_banner.png);">
    <h2 class="tit6 t-center">
        Programas de Financiamiento
    </h2>
</section>



<!-- Intro -->
    
    <div class="container" style="width:95%; margin-top:50px; margin-bottom:40px;">
        <div class="row justify-content-center">

            <div onclick="location.href='@Url.Action("prestamos","ProgramasFinancia")';" class="col-lg-5 etiquetas">
                <div class="row" style="margin-top:30px;">
                    <img src="~/Estructura/imagenes/programas_finan_prestamos.png" style="width:50%; margin:0px auto;" />
                </div>
                <div class="row" style="margin-top:30px;">
                    <h3 style="text-align:center; width:100%; font-weight:bold">Préstamos</h3>
                </div>
                <div class="row" style="margin-top:30px;">
                    <h4>Inicie o amplíe su empresa con préstamos garantizados por la Administración de Pequeñas Empresas.</h4>
                </div>                
            </div>
            

            @*<div onclick="location.href='@Url.Action("capital_inversion","ProgramasFinancia")';" class="col-lg-5 etiquetas">
                <div class="row" style="margin-top:30px;">
                    <img src="~/Estructura/imagenes/programas_finan_capital.png" style="width:50%; margin:0px auto;" />
                </div>
                <div class="row" style="margin-top:30px;">
                    <h3 style="text-align:center; width:100%; font-weight:bold;">Capital de inversión</h3>
                </div>
                <div class="row" style="margin-top:30px;">
                    <h4>                        
                        Encuentre un inversionista para su empresa. Los inversionistas hacen inversiones de deuda y de capital.
                    </h4>
                </div>                
            </div>*@            

        </div>
    </div>
    


    <div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url(../../Estructura/imagenes/home-banner.png);">

        <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
            ¿Quieres comenzar tu propia empresa?
        </h3>
    </div>






<!-- Sign up -->
<div class="container" style="margin-top: 40px; margin-bottom:40px; text-align:center;">

    <span class="tit3 m-10">
        Empiece y haga crecer su negocio
    </span>

    <br />
    <span class="tit10" style="color:blue;">
        ¿Quiere ser emprendedor? Aprenda cómo empezar su negocio en 10 pasos.
    </span>

    <br /><br />
    <!-- Button3 -->
    <a class="btn btn-primary" href="@Url.Action("Guia_Negocios","GuiaNegocios")">Ver Más</a>
</div>


<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>


<!-- Modal Video 01-->
<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document" data-dismiss="modal" style="margin:0 auto;">
        <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

        <div class="wrap-video-mo-01">
            <div class="w-full wrap-pic-w op-0-0"><img src="../../Estructura/imagenes/icons/video-16-9.jpg" alt="IMG"></div>
            <div class="video-mo-01">
                <iframe src="https://www.youtube.com/embed/5k1hSu2gdKE?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

