﻿
@{
    ViewBag.Title = "Index";
}

@section style{

    <style>
        body{
            background-color:darkgrey;
        }
    </style>
}

<div style="width:80%; border-radius:5px; background-color:white; margin:120px auto; padding:30px 30px 40px 30px;">

    <h3>Aviso de Privacidad</h3>

    <p>
        Por medio de la presente se hace constar a todo el personal y sus clientes que la empresa <strong>CONECTIVIDAD Y TELECOMUNICACIÓN S.A. DE C.V.</strong> tiene la obligación de cumplir con la Ley Federal de Protección de datos personales en posesión de los particulares, por lo mismo se les da a conocer como se protegen los datos de acuerdo al artículo siguiente.<br><br>

        Artículo 16 de la Ley de Protección de datos Personales en posesión de los particulares:<br><br>

        Domicilio donde se resguarda la Información: Blvd. Villas de Irapuato #169, Edificio D, Col. Primero de Mayo, C.P. 36644, Tel. 6239010, en Irapuato Guanajuato.<br><br>

        <strong>CONECTIVIDAD Y TELECOMUNICACIÓN S.A. DE C.V.</strong>, podrá solicitar y, en su caso, tratar los siguientes datos personales, dependiendo de la relación que se tenga con la empresa:<br>
    </p>

    <ul style="margin-left: 50px;">
        <li>Nombre completo</li>
        <li>Edad</li>
        <li>Fecha de nacimiento</li>
        <li>Genero</li>
        <li>Estado civil</li>
        <li>Nacionalidad</li>
        <li>Correo electrónico</li>
        <li>Teléfono particular, del trabajo, celular</li>
        <li>Forma de contacto preferida</li>
        <li>Información sobre cómo se entero de los productos y servicios de <strong>CONECTIVIDAD Y TELECOMUNICACIÓN, S.A. DE C.V.</strong></li>
        <li>Número de seguridad social</li>
        <li>Datos de contactos en caso de emergencia</li>
    </ul>

    <br>

    <p><strong>CONECTIVIDAD Y TELECOMUNICACIÓN S.A. DE C.V.</strong> también podrá tratar los siguientes datos:<br></p>

    <ul style="margin-left: 50px;">
        <li>Información general de la empresa la cual requiera crédito de <strong>CONECTIVIDAD Y TELECOMUNICACIÓN S.A. DE C.V.</strong></li>
        <li>Registro de compras del producto.</li>
    </ul>

    <br>

    <p>
        Los datos serán tratados de conformidad con la Ley de Protección de Datos Personales en Posesión de los particulares y su Reglamento.<br><br>

        La confidencialidad de los datos está garantizada y los mismos están protegidos por medidas de seguridad administrativas, técnicas y físicas para evitar su daño, pérdida, alteración, o divulgación indebida.<br><br>

        Únicamente las personas autorizadas tendrán acceso a sus Datos. El personal autorizado tiene prohibido permitir el acceso de personas no autorizadas y utilizar sus datos personales para fines distintos a los establecidos en el presente Aviso de Privacidad. La obligación de confidencialidad de las personas que participan en el tratamiento de sus datos personales subsiste aun después de termina la Relación de <strong>CONECTIVIDAD Y TELECOMUNICACIÓN S.A. DE C.V.</strong><br><br>

        CONECTIVIDAD Y TELECOMUNICACIÓN, S.A. DE C.V. se asegurará a través de la firma de convenios y/o la adopción de otros documentos vinculantes que dichos terceros mantengan medidas de seguridad, administrativa, técnica y físicas adecuadas para resguardar sus datos personales, así como que dichos terceros únicamente utilicen sus datos personales para la finalidad para las cuales fueron contratados. De acuerdo con el artículo 16 de protección de datos personales en posesión de los particulares.<br><br>

        Si hubiese algún cambio en este aviso de privacidad se le dará a conocer por medio de nuestra página web de acuerdo al artículo que rige este Aviso de Privacidad.<br><br>

        A través de su derecho de acceso usted podrá solicitar se le informe que tipo de datos personales están siendo tratados por <strong>CONECTIVIDAD Y TELECOMUNICACIÓN S.A. DE C.V.</strong>
    </p>
</div>

