﻿
@{
    ViewBag.Title = "Guia_Negocios";
}


@section style{

    <style>

        .contenido {
            display: none;
            font-size: 15px;
            font-family: Montserrat;
            font-weight: 400;
            line-height: 1.7;
            color: #666666;
            margin: 0px;
        }

            .contenido li {
                margin-left: 2em;
                list-style-type: disc;
            }

            .contenido ol {
                list-style-type: upper-alpha;
            }

        .visible {
            display: block;
        }

        .titulo {
            font-size: 40px;
            font-weight: bold;
        }

        .subtitulo, .subtitulo a {
            font-size: 19px;
            font-weight: bold;
        }


        .negritas {
            font-weight: bold;
        }


        .banner_asistencia_local {
            background: #1b3aa1;
            width: 80%;
            padding: 40px 50px;
            margin: 0 auto;
        }
    </style>
}


@section scripts{

    <script>

        function cambiar_contenido(seleccion) {

            $('.contenido').fadeOut();
            $('#' + seleccion).fadeIn();

            var scroll = $("#contenedor-informacion").offset().top - 150;
            $("html, body").animate({
                scrollTop: scroll
            }, 500);

        }

        function desplazarse(elemento) {

            var scroll = $("#" + elemento).offset().top - 150;

            $("html, body").animate({
                scrollTop: scroll
            }, 500);
        }


        $(document).ready(function () {

            var vista = obtenerGet("vista");

            if (vista != "") {
                cambiar_contenido(vista);
            }            
        });


        function obtenerGet(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }


    </script>
}



<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(../../Estructura/imagenes/guia-negocios-banner.png);">
    <h2 class="tit6 t-center">
        Guía de Negocios
    </h2>
</section>


<!-- Content page -->
<section>
    <div class="container-fluid" style="margin-top:100px;margin-bottom:50px;width:98%;">

        <p style="width:100%; text-align:right;">Esta información se encuentra actualizada a la fecha: @ViewData["actualizacion"]</p>

        <div class="row">

            <div class="col-lg-4">

                <div class="contenedor-m">
                    <ul class="menu-d">

                        <li><a onclick="cambiar_contenido('guia_negocios')">Guía de Negocios</a></li>

                        <li>
                            <a href="#">Planifique su empresa <i class="icn fa fa-chevron-down" style="float:right;margin-right:10px;"></i></a>
                            <ul>
                                <li><a onclick="cambiar_contenido('investigacion_mercado')">Investigacion de mercado y analisis competitivo</a></li>
                                <li><a onclick="cambiar_contenido('redacte_plan')">Redacte su plan de negocios</a></li>
                                <li><a onclick="cambiar_contenido('calcule_costos')">Calcule sus costos de lanzamiento</a></li>
                                <li><a onclick="cambiar_contenido('financie_empresa')">Financie su empresa</a></li>
                            </ul>

                        </li>
                        <li>
                            <a href="#">Lance su empresa <i class="icn fa fa-chevron-down" style="float:right;margin-right:10px;"></i></a>
                            <ul>
                                <li><a onclick="cambiar_contenido('escoja_ubicacion')">Escoja la ubicación de su empresa</a></li>
                                <li><a onclick="cambiar_contenido('escoja_estructura')">Escoja una estructura comercial</a></li>
                                <li><a onclick="cambiar_contenido('elija_nombre')">Elija un nombre para su empresa</a></li>
                                <li><a onclick="cambiar_contenido('registre_empresa')">Registre su empresa</a></li>
                                <li><a onclick="cambiar_contenido('obtenga_numero')">Obtenga su RFC y su REC</a></li>
                                <li><a onclick="cambiar_contenido('solicite_licencias')">Solicite licencias y permisos</a></li>
                                <li><a onclick="cambiar_contenido('abra_cuenta')">Abra una cuenta bancaria comercial</a></li>
                                <li><a onclick="cambiar_contenido('obtenga_seguro')">Obtenga un seguro comercial</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Administre su empresa <i class="icn fa fa-chevron-down" style="float:right;margin-right:10px;"></i></a>
                            <ul>
                                <li><a onclick="cambiar_contenido('administre_finanzas')">Administre sus finanzas</a></li>
                                <li><a onclick="cambiar_contenido('contrate_empleados')">Contrate y administre a los empleados</a></li>
                                <li><a onclick="cambiar_contenido('pago_impuestos')">Pago de impuestos</a></li>
                                <li><a onclick="cambiar_contenido('siga_leyes')">Siga las leyes</a></li>
                                <li><a onclick="cambiar_contenido('adquiera_activos')">Adquiera activos y equipos</a></li>
                                <li><a onclick="cambiar_contenido('publicidad_ventas')">Publicidad y Ventas</a></li>
                                <li><a onclick="cambiar_contenido('preparese_emergencias')">Prepárese para emergencias</a></li>
                                <li><a onclick="cambiar_contenido('cierre_empresa')">Cierre o venda su empresa</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Haga crecer su empresa <i class="icn fa fa-chevron-down" style="float:right;margin-right:10px;"></i></a>
                            <ul>
                                <li><a onclick="cambiar_contenido('obtenga_fondos')">Obtenga más fondos</a></li>
                                <li><a onclick="cambiar_contenido('extiendase_ubicaciones')">Extiéndase a nuevas ubicaciones</a></li>
                                <li><a onclick="cambiar_contenido('fusione_empresas')">Fusione y adquiera empresas</a></li>
                                @*<li><a onclick="cambiar_contenido('hagase_contratista')">Hágase contratista federal</a></li>*@
                                <li><a onclick="cambiar_contenido('exporte_productos')">Exporte productos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-lg-8">

                <div id="contenedor-informacion">

                    <section class="contenido visible" id="guia_negocios">


                        <span class="titulo">Una pequeña introducción</span>
                        <br /><br /><br />
                        <p>
                            Desde el origen, es fundamental contar con una planificación en la empresa que permita definir los objetivos que se desean lograr y, saber cómo se llegará a las metas trazadas. En los momentos de gloria y fracaso el tener la situación ya estudiada permite moverse de la manera correcta lo que va en beneficio del crecimiento de la compañía.
                        </p>
                        <br />

                        <p>
                            Dependiendo de la naturaleza de los planes se acostumbran distinguir algunos tipos de planificación como lo son:
                        </p>
                        <br /><br />


                        <span class="subtitulo">Propósitos:</span><br />
                        <p>
                            Apunta aquellos proyectos generales que precisan de una forma abstracta que persigue la organización.
                        </p>
                        <img src="~/Estructura/imagenes/guia_negocios_inicio_proposito.jpg" style="width:400px; display:block; margin:0px auto;" />
                        <br /><br />

                        <span class="subtitulo">Objetivos:</span><br />
                        <p>
                            Son los desafíos, las finalidades hacia lo que la empresa debe encaminarse, ya sean metas a corto o largo plazo.
                        </p>
                        <img src="~/Estructura/imagenes/guia_negocios_inicio.jpg" style="width:400px; display:block; margin:0px auto;" />
                        <br /><br />

                        <span class="subtitulo">Estrategias:</span><br />
                        <p>
                            Para llegar a una meta trazada, es fundamental tener determinación de los propósitos que se desean lograr, de los objetivos a los que se apuntan, y la acción en planes que definan cuáles son las asignaciones de los recursos necesarios para llegar a la meta definida.
                        </p>
                        <img src="~/Estructura/imagenes/guia_negocios_inicio_estrategia.jpg" style="width:400px; display:block; margin:0px auto;" />
                        <br /><br />

                        <span class="subtitulo">Políticas:</span><br />
                        <p>
                            Apunta a los principios generales que deben emplazar las acciones concretas que se deben tomar para concretar las metas definidas por medio de las estrategias determinadas.
                        </p>
                        <img src="~/Estructura/imagenes/guia_negocios_inicio_politicas.png" style="width:400px; display:block; margin:0px auto;" />
                        <br /><br />

                        <span class="subtitulo">Procedimientos:</span><br />
                        <p>
                            Es la manera establecida en cómo se llevarán a cabo las tareas, es una especie de pauta de trabajo que permite la correcta ejecución de las tareas.
                        </p>
                        <img src="~/Estructura/imagenes/guia_negocios_inicio_procedimientos.png" style="width:400px; display:block; margin:0px auto;" />
                        <br /><br />

                        <span class="subtitulo">Reglas:</span><br />
                        <p>
                            Son aquellas normas dominantes que no cuentan con una opción a la interpretación, pueden formar parte de un procedimiento.
                        </p>
                        <img src="~/Estructura/imagenes/guia_negocios_inicio_reglas.png" style="width:400px; display:block; margin:0px auto;" />
                        <br /><br />

                        <span class="subtitulo">Presupuestos:</span><br />
                        <p>
                            Son aquellos planes cuantificados, que ayudan a desarrollar el plan. Se considera el más vital elemento que posibilita el control de la ejecución de las actividades previstas en el plan.
                        </p>
                        <img src="~/Estructura/imagenes/guia_negocios_inicio_presupuesto.png" style="width:400px; display:block; margin:0px auto;" />
                        <br /><br /><br />
                        <p>
                            En definitiva, en la planificación reside la elaboración de un instrumento llamado plan que acopia lo que, en un futuro, debe realizarse, cómo hacerlo, dónde llevarlo a cabo y quién tiene que hacerlo. Siempre hay que tener en cuenta que antes de la elaboración de una planificación es fundamental un análisis anterior de la situación actual para poder precisar el punto de partida.
                        </p>

                    </section>

                    @Html.Partial("planifique_su_empresa/partial_investigacion_mercado")
                    @Html.Partial("planifique_su_empresa/partial_redacte_plan")
                    @Html.Partial("planifique_su_empresa/partial_calcule_costos")
                    @Html.Partial("planifique_su_empresa/partial_financie_empresa")

                    @Html.Partial("lance_su_empresa/partial_escoja_ubicacion")
                    @Html.Partial("lance_su_empresa/partial_escoja_estructura")
                    @Html.Partial("lance_su_empresa/partial_elija_nombre")
                    @Html.Partial("lance_su_empresa/partial_registre_empresa")
                    @Html.Partial("lance_su_empresa/partial_obtenga_numero")
                    @Html.Partial("lance_su_empresa/partial_solicite_licencias")
                    @Html.Partial("lance_su_empresa/partial_abra_cuenta")
                    @Html.Partial("lance_su_empresa/partial_obtenga_seguro")

                    @Html.Partial("administre_su_empresa/partial_administre_finanzas")
                    @Html.Partial("administre_su_empresa/partial_contrate_empleados")
                    @Html.Partial("administre_su_empresa/partial_pago_impuestos")
                    @Html.Partial("administre_su_empresa/partial_siga_leyes")
                    @Html.Partial("administre_su_empresa/partial_adquiera_activos")
                    @Html.Partial("administre_su_empresa/partial_publicidad_ventas")
                    @Html.Partial("administre_su_empresa/partial_preparese_emergencias")
                    @Html.Partial("administre_su_empresa/partial_cierre_empresa")

                    @Html.Partial("haga_crecer_su_empresa/partial_obtenga_fondos")
                    @Html.Partial("haga_crecer_su_empresa/partial_extiendase_ubicaciones")
                    @Html.Partial("haga_crecer_su_empresa/partial_fusione_empresas")
                    @Html.Partial("haga_crecer_su_empresa/partial_hagase_contratista")
                    @Html.Partial("haga_crecer_su_empresa/partial_exporte_productos")

                </div>
            </div>

        </div>
    </div>
</section>




<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>



