﻿@model PruebaEmpresa.Models.Menu_Principal_View

@{
    ViewBag.Title = "Index";
}

<div class="container">


    <div class="page-header ">
        <h3> @Model.Nombre</h3>
    </div>

    
    @foreach(var item1 in Model.Lista_Fase_Uno)
    {
    <div class="list-group">

        <a href="#" class="list-group-item active">
            @item1.Nombre_Fase_Uno
        </a>

        @foreach (var item2 in item1.Lista_Fase_Dos)
        {
            <a href="#" class="list-group-item">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                 @item2.Nombre_Fase_Dos
            </a>
        }

    </div>
    }

</div>