﻿.mentores_content {
    max-height: 500px;
    overflow-y: scroll;
}


@media screen and (max-width: 768px) {

    .tit3, .tit4{
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }
}
