﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gu&iacute;a Emprende</title>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.toast.min.css" />
    <link type="text/css" href="~/Content/validaciones.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/bootstrap-table.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/select2.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/estilo_proveedor_detalle.css" rel="stylesheet" />

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <a class="logo" href="@Url.Action("Index","Inicio")"> <img src="~/Estructura/imagenes/icons/logo_completo.png" /> </a>
             

            </div>
            <div class="navbar-collapse collapse">
                @{Html.RenderAction("Construir_Menu", "Elaborar_Menu");}


                @*<ul class="nav navbar-nav">

               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Proveedores<b class="caret"></b> </a>
                   <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Mi Proveedor", "Listado", "Proveedor")</li>
                    <li>@Html.ActionLink("Suscripción", "Listado_Cargos", "Pago") </li>
                    <li>@Html.ActionLink("Buscar", "Buscar", "Proveedor")</li>
                   </ul>
               </li>

              <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Cat&aacute;logo<b class="caret"></b> </a>
                 <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Giro Proveedor", "Catalogo_Giro_Proveedores", "GiroProveedor")</li>
                    <li>@Html.ActionLink("Cargos", "Listado", "Cargos") </li>
                    <li>@Html.ActionLink("Parámetros Correo", "Listado", "ParametrosCorreo")</li>
                 </ul>
             </li>


            </ul>*@

                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <p class="navbar-text"> Bienvenido:  @Session["Email"] </p>
                    </li>
                    <li>

                        @using (Html.BeginForm("Salir", "Login"))
                        {
                            <button type="submit" class="btn btn-primary navbar-btn">Salir <span class="glyphicon  glyphicon-log-out"> </span></button>
                        }

                    </li>
                </ul>


            </div>
        </div>

    </div>

    <br />
    <br />
    <br />


    <div class="container body-content">
        @RenderBody()
    </div>

    <script type="text/javascript">
    //session end
    var sessionTimeoutWarning = @Session.Timeout- 1;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);

    function SessionEnd() {
        window.location.href = "@Url.Action("Salir","Login")";
    }
    </script>

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table.js"></script>
    <script type="text/javascript" src="~/Scripts/Local/bootstrap-table-es-MX.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.toast.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.3.0.js"></script>
    <script type="text/javascript" src="~/Scripts/validacionesKO/knockout.validation.js"></script>
    <script type="text/javascript" src="~/Scripts/validacionesKO/es-ES.js"></script>
    <script type="text/javascript" src="~/Scripts/validacionesKO/Reglas_Validacion.js"></script>
    <script type="text/javascript" src="~/Scripts/validacionesKO/Util_KO.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("style", required: false)
</body>
</html>
