﻿@using PruebaEmpresa.Util;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gu&iacute;a Emprende</title>


    <!--Menu desplegable-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~../../../../Estructura/imagenes/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/lightbox2/css/lightbox.min.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/css/util.css">
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/css/main.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("style", required: false)
</head>
<body>

    <!-- Header -->
    <header class="header-fixed" >

        <!-- Header desktop -->
        <div class="wrap-menu-header gradient1 trans-0-4" style="padding-left:50px;padding-right:20px;">

            <div class="row menu_completo" style="padding-top:20px;">

                <div class="col-lg-2" id="contenedor_logo">
                    <div class="logo">
                        <a href="@Url.Action("Index","Home")">
                            <img src="../../Estructura/imagenes/icons/logo2_1.png" alt="IMG-LOGO" data-logofixed="../../Estructura/imagenes/icons/logo2_1.png">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9" id="contenedor_menu">

                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a href="@Url.Action("Guia_Negocios","GuiaNegocios")">Guía de Negocios</a>
                            </li>

                            <li>
                                <a href="@Url.Action("Programas_Financiamiento","ProgramasFinancia")">Programas de Financiamiento</a>

                                <ul class="sub_menu">
                                    <li><a href="@Url.Action("prestamos","ProgramasFinancia")">Préstamos</a></li>
                                    @*<li><a href="@Url.Action("capital_inversion","ProgramasFinancia")">Capital de inversión</a></li>*@
                                </ul>
                            </li>

                            <li>
                                <a href="@Url.Action("Centro_Capacitacion","Capacitacion")">Centro de Capacitación</a>
                            </li>

                            <li>
                                <a href="@Url.Action("Asistencia_Local","AsistenciaLocal")">Asistencia Local</a>

                                @*<ul class="sub_menu">
                                        <li><a href="@Url.Action("Exportacion_Ayuda_Negocio","AsistenciaLocal")">Exportación y ayuda al comercio</a></li>
                                        <li><a href="@Url.Action("Recursos","AsistenciaLocal")">Recursos</a></li>
                                        <li><a href="@Url.Action("Acceso_Capital","AsistenciaLocal")">Acceso al Capital</a></li>
                                        <li><a href="@Url.Action("Encontrar_Ayuda_Cercana","AsistenciaLocal")">Encontrar ayuda cercana</a></li>
                                    </ul>*@
                            </li>

                            @*<li>
                                    <a href="@Url.Action("Acerca_De","Acerca")">Acerca De</a>
                                </li>*@

                            <li>
                                @if (string.IsNullOrEmpty(Cls_Sesiones.NOMBRE_ROL))
                                {
                                    <a href="#" onclick="abrirVentanaLoginPopup()">Reg&iacute;strate</a>
                                }
                                else
                                {
                                    <a href='@Url.Action("Panel_Control","UsuariosVisitantes")' > <b>  Panel de Preguntas </b> </a>
                                }
                            </li>

                            <li>
                                <a href="@Url.Action("Index","Contacto")"> Cont&aacute;ctanos </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","EticaCorporativa")" class="txt19">Ética Corporativa</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-1" id="contenedor_desplegable" style="padding-top:10px;">
                    <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
                </div>
            </div>


            <div class="row menu_movil">

                <div class="col-lg-12">
                    <a href="@Url.Action("Index","Home")">
                        <img src="../../Estructura/imagenes/icons/logo2.png" style="width:200px;">
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
                </div>

            </div>

        </div>
    </header>

    <!-- Sidebar -->
    <aside class="sidebar trans-0-4">
        <!-- Button Hide sidebar -->
        <button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

        <br /><br /><br />

        <a href="@Url.Action("Panel_Control","UsuariosVisitantes")" style="margin-left:40px;" class="txt19">Usuario</a>
        <br /><br />
        <a href="@Url.Action("Verificar","Login")" style="margin-left:40px;" class="txt19">Mentor</a>
        <hr />

        <!-- - -->
        <ul class="menu-sidebar p-t-50 p-b-70">
            <li class="t-left m-b-13" style="margin-left:25px;">
                <a href="@Url.Action("Index","Home")" class="txt19">Inicio</a>
            </li>

            <li class="t-left m-b-13" style="margin-left:25px;">
                <a href="@Url.Action("Guia_Negocios","GuiaNegocios")" class="txt19">Guía de Negocios</a>
            </li>

            <li class="t-left m-b-13" style="margin-left:25px;">
                <a href="@Url.Action("Programas_Financiamiento","ProgramasFinancia")" class="txt19">Programas de Financiamiento</a>
            </li>


            <li class="t-left m-b-13" style="margin-left:50px;"><a href="@Url.Action("prestamos","ProgramasFinancia")" class="txt19">Préstamos</a></li>
            @*<li class="t-left m-b-13" style="margin-left:50px;"><a href="@Url.Action("capital_inversion","ProgramasFinancia")" class="txt19">Capital de inversión</a></li>*@



            <li class="t-left m-b-13" style="margin-left:25px;">
                <a href="@Url.Action("Centro_Capacitacion","Capacitacion")" class="txt19">Centro de Capacitación</a>
            </li>

            <li class="t-left m-b-13" style="margin-left:25px;">
                <a href="@Url.Action("Asistencia_Local","AsistenciaLocal")" class="txt19">Asistencia Local</a>
            </li>



            @*<li class="t-left m-b-13" style="margin-left:50px;"><a href="@Url.Action("Exportacion_Ayuda_Negocio","AsistenciaLocal")" class="txt19">Exportación y ayuda al comercio</a></li>
                <li class="t-left m-b-13" style="margin-left:50px;"><a href="@Url.Action("Recursos","AsistenciaLocal")" class="txt19">Recursos</a></li>
                <li class="t-left m-b-13" style="margin-left:50px;"><a href="@Url.Action("Acceso_Capital","AsistenciaLocal")" class="txt19">Acceso al Capital</a></li>
                <li class="t-left m-b-13" style="margin-left:50px;"><a href="@Url.Action("Encontrar_Ayuda_Cercana","AsistenciaLocal")" class="txt19">Encontrar ayuda cercana</a></li>*@



            @*<li class="t-left m-b-13" style="margin-left:25px;">
                    <a href="@Url.Action("Acerca_De","Acerca")" class="txt19">Acerca De</a>
                </li>*@

            <li class="t-left m-b-13" style="margin-left:25px;">
                <a href="@Url.Action("Index","AvisoPrivacidad")" class="txt19">Aviso de Privacidad</a>
            </li>

            <li class="t-left m-b-13" style="margin-left:25px;">
                <a href="@Url.Action("Index","EticaCorporativa")" class="txt19">Ética Corporativa</a>
            </li>

            <li class="t-left m-b-13" style="margin-left:25px;">
                <a href="@Url.Action("Index","Contacto")" class="txt19"> Cont&aacute;ctanos </a>
            </li>

        </ul>

    </aside>

    <div class="body-content">
        @RenderBody()
    </div>

    <div class="modal" id="Ventana_Login_Popup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




    <footer class="bg1">

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 p-t-50">
                    <!-- - -->
                    <h4 class="txt13 m-b-33">
                        Cont&aacute;ctanos
                    </h4>

                    <ul class="m-b-70">
                        <li class="txt14 m-b-14">
                            <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            Blvd. Luis Donaldo Colosio Plaza Don Bosco local AP-19 Col. Independencia cp.- 36666
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            462-217-5459
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                            direccion@coparmexirapuato.org
                        </li>
                        <li class="txt14 m-b-14">
                            <img src="~/Estructura/imagenes/icons/caparmex_blanco.png" style="height:70px;width:70px" />
                        </li>
                        <li class="txt14 m-b-14">
                            <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            Boulevard Villas #169, Plaza Vips edificio C. Locales 5 y 6
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            462-688-7558
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                            rsanchez@guiaemprende.org
                        </li>

                        <li class="txt14 m-b-14">
                            <img src="~/Estructura/imagenes/icons/logo_rsm_blanco.png" style="height:70px;width:120px" />
                        </li>


                    </ul>

                </div>

                <div class="col-sm-6 col-md-4 p-t-50">
                    <h4 class="txt13 m-b-32">
                        Horario de atención
                    </h4>

                    <ul>
                        <li class="txt14">
                            Lunes a viernes
                        </li>

                        <li class="txt14">
                            9:00 AM - 2:00 PM y 4:00 PM - 6:00 PM
                        </li>

                    </ul>

                    <br /><br /><br />
                    <a href="@Url.Action("Index","AvisoPrivacidad")" style="font-size:18px; color:white;">Aviso de Privacidad</a>
                    <br />
                    <a href="@Url.Action("Index","EticaCorporativa")" style="font-size:18px; color:white;">Ética Corporativa</a>
                </div>

                <div class="col-sm-6 col-md-4 p-t-50">
                    <!-- - -->
                    <h4 class="txt13 m-b-38">
                        Colaboradores
                    </h4>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="~/Estructura/imagenes/icons/banner_tres_logos_nuevos.png"
                                 style="height:70px" />
                        </div>

                    </div>

                    @*<div class="row" style="margin-top:40px;">
                        <p class="txt14 m-b-14">
                            This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="end-footer bg2">
            <div class="container">
                <div class="flex-sb-m flex-w p-t-22 p-b-22">

                    <div class="txt17 p-r-20 p-t-5 p-b-5">
                        © 2021 Conectividad y Telecomunicación SA de CV  CONTEL
                    </div>
                </div>
            </div>
        </div>
    </footer>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)




    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="~../../../../Estructura/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~../../../../Estructura/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="~../../../../Estructura/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/parallax100/parallax100.js"></script>
    <script type="text/javascript">
        var Ruta_Login_Popup = '@Url.Action("LoginPopup", "UsuariosVisitantes")';

        $('.parallax100').parallax100();


        $(function () {

            //setTimeout(function () {
            //    abrirVentanaLoginPopup();
            //}, 2000);

        });

        function abrirVentanaLoginPopup() {
            //$('#Ventana_Login_Popup').modal('show');
            $.get(Ruta_Login_Popup, function (d) {
                $('.body-content').prepend(d);
                $('#Ventana_Login_Nueva').modal({
                    backdrop: false
                });

            });
        }

    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../../../Estructura/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="~../../../../Estructura/js/main.js?2"></script>

</body>
</html>
