﻿@model IEnumerable<PruebaEmpresa.Models.Menu_Principal_View>

@foreach (var item in Model)
{
    <li> @Html.ActionLink(item.Nombre, item.Accion, item.Controlador, new { Menu_Principal_ID = item.Menu_Principal_ID}, null) </li>
}