﻿
@{
    ViewBag.Title = "Giro Proveedores";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}

<link type="text/css" href="~/Content/jquery.toast.min.css" rel="stylesheet" />

@section scripts{

    <script type="text/javascript" src="~/Scripts/jquery.toast.min.js"></script>

    <script type="text/javascript" src="~/Scripts/Aplicativo/GiroProveedor/Model/GiroProveedorModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/GiroProveedor/UI/GiroProveedorUI.js"></script>
    <script type="text/javascript" src="~/Scripts/Aplicativo/GiroProveedor/GiroProveedorViewModel.js"></script>

}





<div class="page-header">
    <h3>Cat&aacute;logo Giros Proveedor</h3>
</div>


<div id="Interfaz_Giro_Proveedor">



    <div class="panel panel-primary">

        <div class="panel-heading">
            <h4 class="panel-title">Listado</h4>
        </div>
        <div class="panel-body">
            <div id="toolbar" class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" title="Nuevo" data-bind="click:Nuevo_Elemento">
                    <i class="glyphicon glyphicon-plus"></i> Nuevo
                </button>
            </div>

            <table id="Tabla_Giro_Proveedor"
                   data-toggle="table"
                   data-pagination="true"
                   data-search="true"
                   data-side-pagination="server"
                   data-toolbar="#toolbar"
                   data-striped="true"
                   data-show-toggle="false"
                   data-show-columns="false"
                   data-show-refresh="false">
                <thead>
                    <tr>
                        <th data-field="id" data-formatter="Botones_Operacion_Formato_Eliminar"
                            data-events="Botones_Operacion_Evento" data-align="center"></th>
                        <th data-formatter="Botones_Operacion_Formato_Editar"
                            data-events="Botones_Operacion_Evento" data-align="center"></th>
                        <th data-field="Nombre_Giro_Proveedor">Giro Proveedor </th>
                        <th data-field="Estatus">Estatus</th>
                    </tr>
                </thead>

            </table>


        </div>

    </div>

    <div class="modal fade" id="Ventana_Interfaz" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cat&acute;logo Giros Proveedores</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">
                        <fieldset>


                            <div class="form-group">
                                <label class="col-md-2 control-label">*Nombre Tr&aacute;mite</label>
                                <div class="col-md-10">
                                    <input class="form-control" data-bind="textInput:ModeloGiroProveedor.Nombre_Giro_Proveedor" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">*Estatus</label>
                                <div class="col-md-10">
                                    <select class="form-control" data-bind="options:ArregloEstatus , value:ModeloGiroProveedor.Estatus, optionsCaption: 'Selecciona'"> </select>
                                </div>
                            </div>
                        </fieldset>

                    </form>


                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-bind="click:Aceptar_Operacion"> Aceptar <span class="glyphicon glyphicon-ok"></span> </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar  <span class="glyphicon glyphicon-remove"></span>  </button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="VentanaEliminar" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tr&aacute;mites</h4>
            </div>
            <div class="modal-body">
                <p>¿Deseas Eliminar el elemento seleccionado : &nbsp; <span id="SpanDato"></span> &nbsp;?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Eliminar_Registro()">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<div id="Ventana_Espera" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
