﻿
@{
    ViewBag.Title = "Index";
}

@section style{

<style>

        body{
            background-color:lightgray;
        }

        .contenedor{

            width:80%;
            background-color:white;
            border-radius:5px;
            padding:50px 80px;
            margin:150px auto;
        }

        .contenedor p{
            text-align: justify;
            text-justify: inter-word;
            margin-bottom:50px;
            font-size:18px;
        }

    .negritas {
        font-weight: bold;
    }


    .dont-break-out {
        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;
        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }


        @@media only screen and (max-width: 600px) {

            .contenedor {
                padding: 30px 30px;
                width: 90%;
            }            
        }
</style>
}

<div class="contenedor">

    <img src="~/Estructura/imagenes/etica_corporativa_logo.jpg" style="display:block; margin:0px auto; width:250px;" />

    <br />
    <h2 style="font-weight:bold; font-size:30px; width:100%; text-align:center;">
        COMISIÓN DE ÉTICA E INTEGRIDAD
        ÉTICA CORPORATIVA Y CUMPLIMIENTO NORMATIVO INTERNACIONAL
    </h2>

    <br /><br />


    <p>
        La ética tiene cada día una mayor relevancia en la actividad económica y en la rentabilidad de las empresas, hoy las empresas enfrentan múltiples retos en la creciente competencia en su sector, una más robusta legislación financiera, fiscal, laboral, Mercantil y en algunos casos, las empresas pueden llegar a enfrentar responsabilidades de carácter penal.
    </p>

    <p>
        Al mismo tiempo, existen soluciones para sortear con éxito estos retos y generar a partir de ello nuevas oportunidades de negocio, con miras al largo plazo y formando parte de cadenas de valor de alta confiabilidad y demanda, con procesos libres de corrupción y de prácticas antisoborno en sus negociaciones comerciales.
    </p>

    <p>
        La ética corporativa, además de ser una exigencia para múltiples empresas transnacionales, es determinante para poder integrarse en los padrones de proveedores en las licitaciones públicas, por ello, es imprescindible contar con códigos de ética que inspiren el actuar de nuestros colaboradores en cada uno de los procesos productivos y de gestión de resultados.
    </p>

    <p>
        Existen cada día más colaboración internacional entre los gobiernos, con los organismos internacionales como la ONU, a través de PNUD (Programa de las Naciones Unidas para el Desarrollo) en colaboración con USAID (Fundación del Pueblo de los Estados Unidos), así como de la Embajada del Reino Unido en México, impulsando que los gobiernos y las empresas de nuestro país, mejoren su competitividad, su rentabilidad y su viabilidad económica, gracias a mecanismos probados y eficientes de certificación de la integridad corporativa y el cumplimiento normativo internacional.
    </p>

    <p>
        Fruto de esta colaboración, estos organismos han puesto a la disposición de las empresas mexicanas, herramientas amigables, gratuitas y dotadas de soluciones para poder autogestionar un código de ética personalizado, que sea el principio para la implementación de un sistema certificado internacionalmente bajo las normas ISO 3700:2016, la ISO 19600 para la gestión de Compliance (cumplimiento normativo) y otras que están en construcción.
    </p>

    <p>
        Tenemos abiertas las puertas para guiarte y acompañarte en ese importante empeño. Acércate a nosotros!.
    </p>


    
    <h2 style="font-weight:bold; font-size:30px; width:100%; text-align:center;">
        Ligas
    </h2>


   <p>
       <span class="negritas">Herramientas USAID - PNUD: </span>
       <br />
       <a href="https://anticorrupcionmx.org/integridad-corporativa" target="_blank"> https://anticorrupcionmx.org/integridad-corporativa </a>

       <br />
       <span class="negritas">Curso de Integridad Corporativa para MiPYMEs, USAID - PNUD: </span>
       <br />
       <a href="https://anticorrupcionmx.org/cursos-antimx/integridad-corporativa-para-mipymes/" target="_blank">https://anticorrupcionmx.org/cursos-antimx/integridad-corporativa-para-mipymes/</a>

       <br />
       <span class="negritas">
           Caja de Herramientas de Integridad Corporativa. Manual para diseñar una Política de recepción de regalos, hospitalidad y donaciones:
       </span>
       <br />
       <a class="dont-break-out" href="https://www.mx.undp.org/content/dam/mexico/docs/Publicaciones/PublicacionesGobernabilidadDemocratica/cajaintegridadcorporativa/Herramienta%20Integridad%204.pdf" target="_blank">
           https://www.mx.undp.org/content/dam/mexico/docs/Publicaciones/PublicacionesGobernabilidadDemocratica/cajaintegridadcorporativa/Herramienta%20Integridad%204.pdf
       </a>
   </p>

</div>

<br /><br />



