﻿@model PruebaEmpresa.Models.RespuestasView

@{
    ViewBag.Title = "Contestar";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}



@section scripts{

    <script type="text/javascript">

        var objContestarViewModel;

        $(function () {
            objContestarViewModel = new contestarViewModal();
            objContestarViewModel.errors = ko.validation.group(objContestarViewModel);
            ko.applyBindings(objContestarViewModel, $("#interfaz_respuesta")[0]);



            $("#form-constestar").submit(function (e) {


                var respuesta = objContestarViewModel.estaValidado();

                if (respuesta == false) {

                    $.toast({
                        heading: 'Visualizar Mensajes',
                        text: 'Algunos valores son incorrectos',
                        position: 'top-right',
                        stack: false

                    });

                    e.preventDefault();
                    var ventantaEspera = $('#Ventana_Espera');
                    ventantaEspera.modal('hide');
                }


            });

            var mensajeError = '@ViewBag.Mensaje';

            if (mensajeError.length > 0) {
                $.toast({
                    heading: 'Visualizar Mensajes',
                    text: mensajeError,
                    position: 'top-right',
                    stack: false

                });
            }


            $('#btnSubmit').click(function () {
                var ventantaEspera = $('#Ventana_Espera');
                ventantaEspera.modal();
            });

        });


        function contestarViewModal() {

            var self = this;
            ko.validation.locale('es-ES');
            "use strict";

            self.Respuesta = ko.observable('').extend({ caracterPermitido: 'ÁÉÍÓÚáéíóúñÑ_/-(),.:' })
                .extend({ required: true })
            .extend({ maxLength: 2000 });


            self.estaValidado = function () {
                var respuesta = true;


                if (self.errors().length > 0) {
                    self.errors.showAllMessages();
                    respuesta = false;
                }

                return respuesta;

            }
        }

    </script>


}


<div class="page-header ">
    <h3> @Model.preguntasView.Descripcion_Pregunta  </h3>
</div>


<div id="interfaz_respuesta">

    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">@Model.preguntasView.Nombre_Usuario</h4>
            <div class="btn-group pull-right">
                <a class="btn btn-success btn-sm" href="@Url.Action("Listado_Preguntas","Responder")">Regresar <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
        </div>

        <div class="panel-body">

            @using (Html.BeginForm("CrearRespuesta", "Responder", FormMethod.Post, new { id = "form-constestar" }))
            {
                <div class="form-group col-md-12">
                    <label>Escribir Mensajes</label>
                    <textarea rows="3" class="form-control" id="Respuesta" name="Respuesta" data-bind="textInput:Respuesta"></textarea>
                </div>

                <input type="hidden" value="@Model.preguntasView.Pregunta_ID" name="Pregunta_ID" />
                <input type="hidden" value="@Model.preguntasView.Nombre_Mentor" name="Nombre_Mentor" />


                <div class="row">
                    <div class="col-md-12" style="text-align:right">
                        <button type="submit" id="btnSubmit" class="btn btn-primary btn-sm">
                            Contestar <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </div>
                </div>
            }


        </div>
    </div>

</div>


 <div class="addScroll">

     @foreach(var item in Model.preguntasRespuestaViews)
     {

         <div class="panel panel-danger">

             <div class="panel-heading clearfix">
                 <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> @item.Usuario_Creo </h4>
                 <div class="pull-right">
                     @item.Fecha_Creo
                 </div>

             </div>

             <div class="panel-body fixed-panel">

                 <div style="text-align:justify">
                     @Html.Raw(item.Respuesta)
                   
                 </div>  
                          
             </div>

         </div>
     }

 </div>



 <div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
     <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
             <div class="modal-header">
                 <h4 class="modal-title">Procesando</h4>
             </div>
             <div class="modal-body">
                 <div class="progress">
                     <div class="progress-bar progress-bar-striped active" role="progressbar"
                          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                     </div>
                 </div>
             </div>

         </div>

     </div>
 </div>