﻿@model PagedList.IPagedList<PruebaEmpresa.Models.PreguntasView>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Listado Preguntas";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}

<link type="text/css" href="~/Content/collapse.css" rel="stylesheet" />

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        var objBuscarViewModal;

        $(function () {

            objBuscarViewModal = new busquedaViewModel();
            objBuscarViewModal.errors = ko.validation.group(objBuscarViewModal);
            ko.applyBindings(objBuscarViewModal, $("#buscar_preguntas")[0]);

            //Array para dar formato en español
            $.datepicker.regional['es'] =
            {
                closeText: 'Cerrar',
                prevText: 'Previo',
                nextText: 'Próximo',

                monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
                'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
                monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
                'Jul','Ago','Sep','Oct','Nov','Dic'],
                monthStatus: 'Ver otro mes', yearStatus: 'Ver otro año',
                dayNames: ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
                dayNamesShort: ['Dom','Lun','Mar','Mie','Jue','Vie','Sáb'],
                dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sa'],
                dateFormat: 'dd/mm/yy', firstDay: 0,
                initStatus: 'Selecciona la fecha', isRTL: false};


            $(".datefield").datepicker($.datepicker.regional["es"]);

            $("#form_buscar_pregunta").submit(function (e) {


                var respuesta = objBuscarViewModal.estaValidado();

                if (respuesta == false) {

                    $.toast({
                        heading: 'Visualizar Mensajes',
                        text: 'Algunos valores son incorrectos',
                        position: 'top-right',
                        stack: false

                    });

                    e.preventDefault();
                }


            });


            objBuscarViewModal.asignarValores();
        });


        function busquedaViewModel() {

            var self = this;
            ko.validation.locale('es-ES');
            "use strict";

            self.fechaInicio = ko.observable('').extend({ esFecha: true });
            self.fechaFin = ko.observable('').extend({ esFecha: true });

            self.buqueda = ko.observable('').extend({ caracterPermitido: 'ÁÉÍÓÚáéíóúñÑ_/-()' })
            .extend({ maxLength: 50 });

            self.asignarValores = function () {

                self.fechaInicio('@ViewBag.CurrentFechaInicio');
                self.fechaFin('@ViewBag.CurrentFechaFin');
                self.buqueda('@ViewBag.CurrentFilter');

            }

            self.limpiar = function () {

                self.fechaInicio('');
                self.fechaFin('');
                self.buqueda('');
            }

            self.estaValidado = function () {
                var respuesta = true;


                if (self.errors().length > 0) {
                    self.errors.showAllMessages();
                    respuesta = false;
                }

                return respuesta;

            }
        }

    </script>

}


<div class="page-header ">
    <h3>Preguntas Asignadas</h3>
</div>


<div id="buscar_preguntas">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left" style="padding-top: 7.5px;">

                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#busqueda">
                    Filtros
                </a>

            </div>

            <div class="btn-group pull-right">
                 <button class="btn btn-success btn-sm" data-bind="click:limpiar"> Borrar Filtros <span class="glyphicon glyphicon-remove-circle"></span></button>
            </div>
        </div>

        <div id="busqueda" class="panel-collapse collapse in">

            <div class="panel-body">



                @using (Html.BeginForm("Listado_Preguntas", "Responder", FormMethod.Get, new { id = "form_buscar_pregunta" }))
                {

                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="col-md-2">Fecha Inicio</label>
                            <div class="col-md-4">
                                @Html.TextBox("FechaInicio", ViewBag.CurrentFechaInicio as string, htmlAttributes: new { @class = "form-control datefield", @maxlength = "10", data_bind = "textInput:fechaInicio", autocomplete = "off" })
                            </div>

                            <label class="col-md-2">Fecha Fin</label>
                            <div class="col-md-4">
                                @Html.TextBox("FechaFin", ViewBag.CurrentFechaFin as string, htmlAttributes: new { @class = "form-control datefield", @maxlength = "10", data_bind = "textInput:fechaFin", autocomplete = "off" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2">Por Usuario</label>
                            <div class="col-md-10">
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control", autocomplete = "off", data_bind = "textInput:buqueda" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12" style="text-align:right">
                            <button type="submit" class="btn btn-primary btn-sm">
                                Buscar <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                }








            </div>

        </div>
    </div>
</div>

    


    <div class="panel panel-primary">


        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Listado </h4>

            <div class="btn-group pull-right">

            </div>


        </div>

        <div class="panel-body">

            <div class="row">

                <div class="col-md-12">

                    <div class="table-responsive">

                        <table class="table table-bordered table-striped">

                            <tr>
                                <th>

                                    @Html.ActionLink("Fecha", "Listado_Preguntas", new { sortOrder = ViewBag.FechaSortParam, currentFilter = ViewBag.CurrentFilter, currentFechaInicio = ViewBag.CurrentFechaInicio, currentFechaFin = ViewBag.CurrentFechaFin })
                                </th>
                                <th>Pregunta</th>
                                <th>

                                    @Html.ActionLink("Usuario", "Listado_Preguntas", new { sortOrder = ViewBag.UsuarioSortParam, currentFilter = ViewBag.CurrentFilter, currentFechaInicio = ViewBag.CurrentFechaInicio, currentFechaFin = ViewBag.CurrentFechaFin })
                                </th>
                                <th>
                                    
                                    @Html.ActionLink("Respondido", "Listado_Preguntas", new { sortOrder = ViewBag.RespondidoSortParam, currentFilter = ViewBag.CurrentFilter, currentFechaInicio = ViewBag.CurrentFechaInicio, currentFechaFin = ViewBag.CurrentFechaFin })
                                </th>
                                <th>
                                    @Html.ActionLink("No. Respuesta", "Listado_Preguntas", new { sortOrder = ViewBag.RespuestaSortParam, currentFilter = ViewBag.CurrentFilter, currentFechaInicio = ViewBag.CurrentFechaInicio, currentFechaFin = ViewBag.CurrentFechaFin })
                                    
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Fecha_Creo)</td>
                                    <td>@item.Descripcion_Pregunta</td>
                                    <td>@item.Nombre_Usuario</td>
                                    <td style="text-align:center"> 
                                        @item.Visto_Cadena
                                    </td>
                                    <td style="text-align:center">
                                        <span class="badge"> @item.Total_Respuestas </span>
                                    </td>
                                    <td style="text-align:center">
                                        <a class="btn btn-primary btn-sm" title="Contestar" href='@Url.Action("Contestar", "Responder", new { Pregunta_ID = item.Pregunta_ID })'>
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        
                                    </td>
                                </tr>
                            }


                        </table>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-12" style="text-align:right">
                    P&aacute;gina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Listado_Preguntas",
                     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter , currentFechaInicio = ViewBag.CurrentFechaInicio , currentFechaFin = ViewBag.CurrentFechaFin }))
                </div>
            </div>

        </div>


    </div>
