﻿<section class="contenido" id="hagase_contratista">

    <p>[Haga crecer su empresa / Hágase contratista federal ]</p>
    
    <span class="titulo">Hágase contratista federal</span>
    <br /><br /><br />



    <span class="subtitulo">Quince tips para venderle al Gobierno </span><br />
    <p>
        Para venderle al cliente más grande México es necesario tomar en cuenta la forma en que el Gobierno realiza sus compras. Las siguientes recomendaciones te ayudarán a tener una mejor participación en este proceso. Para procesos de adjudicación directa es necesario: 
    </p>

    <ul>
        <li style="list-style-type: decimal; margin-bottom:15px;">Enviar carta intención a las dependencias y entidades del Gobierno federal donde manifiestes tu interés para ser considerado como proveedor de los productos, bienes o servicios que vendas, distribuyas o desarrolles. </li>
        <li style="list-style-type: decimal; margin-bottom:15px;">Preparar el currículum de tu empresa, donde destaques tus principales productos y/o servicios. </li>
        <li style="list-style-type: decimal; margin-bottom:15px;">Revisa que tu objeto social señale claramente el giro del negocio registrado y que este acorde al tipo de productos y servicios que comercializas. </li>
        <li style="list-style-type: decimal; margin-bottom:15px;">En operaciones mayores a $110,000.00 preparar la carta donde señales que no tienes adeudos fiscales Para licitaciones e invitaciones a cuando menos tres personas: </li>
        <li style="list-style-type: decimal; margin-bottom:15px;">
            Verifica la documentación administrativa y legal solicitada por la convocante para participar en el proceso, la documentación puede variar por cada dependencia o entidad, la más común es la siguiente:
        
            <ul>
                <li>Copia legible del pago de bases</li>
                <li>Copia de identificación oficial vigente (credencial de elector, pasaporte ó cédula profesional) de la persona que firma las propuestas.</li>
                <li>Copia del R.F.C. o de alta ante la S.H.C.P.</li>
                <li>Carta simple firmada por el representante legal, donde manifieste el carácter de las propuestas (público o confidencial) en términos del Artículo 19 de la Ley Federal de Transparencia y Acceso a la Información Pública Gubernamental.</li>
                <li>Preferencia a personas con discapacidad o a la empresa que cuente con personal con discapacidad en una proporción de cuando menos 5% de la totalidad de su planta de empleados, cuya antigüedad no sea inferior a seis meses; antigüedad que se comprobará con copia del aviso de alta al régimen obligatorio del Instituto Mexicano del Seguro Social (IMSS)</li>
                <li>Currículum de la empresa</li>
                <li>Carta de Aceptación de Términos de las Bases, Anexos, Modelo del Contrato y de la No Participación de Personas Inhabilitadas por Conducto del Proveedor y Declaración de Integridad.</li>
                <li>Modelo de Carta Poder Simple.</li>
                <li>Formato de Manifestación Acreditamiento de Personalidad.</li>
                <li>Modelo de Texto de Fianza para Garantizar Anticipo (cuando aplique).</li>
                <li>Modelo de Texto de Fianza para Garantizar el Cumplimiento Contrato (aplica para licitante ganador).</li>
                <li>Formato de Manifestación de la Presentación en Tiempo y Forma de las Declaraciones de Impuestos Federales (aplica para el licitante ganador).</li>
                <li>Solicitud de Pago Interbancario (aplica para el licitante ganador).</li>
                <li>Modelo de categoría de la empresa micro, pequeña o mediana (aplica para el licitante ganador en procesos de invitación).</li>
                <li>Escrito, bajo protesta de decir verdad en el que manifieste el proveedor que la totalidad de los bienes que oferta y entregará son producidos en México y tendrán un grado de contenido nacional de por lo menos el 50% o el correspondiente en los casos de excepción que establezca la Secretaría de Economía.</li>
            </ul>
        </li>
      
        <li style="list-style-type: decimal; margin-bottom:15px;">Deberás acreditar que cuentas con facultades suficientes para comprometerte por si o tu representada (poder notarial). </li>
        <li style="list-style-type: decimal; margin-bottom:15px;">Revisa cuidadosamente las bases de la licitación en lo que respecta a las especificaciones técnicas del bien o servicio. </li>
        <li style="list-style-type: decimal; margin-bottom:15px;">Señala claramente que los productos y/o servicios que ofrezcas cumplen con las especificaciones de las bases de la licitación; de preferencia, no excedas las especificaciones de los bienes o servicios, porque eso eleva los costos y no te ofrece ninguna ventaja adicional contra tus competidores. </li>
        <li style="list-style-type: decimal; margin-bottom:15px;">No hagas ofertas que no puedas cumplir, realiza una evaluación global de tus capacidades. </li>
        <li style="list-style-type: decimal; margin-bottom:15px;">Incluye el número de la licitación en toda tu documentación y especialmente en tus propuestas técnicas y económicas. </li>
        <li style="list-style-type: decimal; margin-bottom:15px;">Firmar la documentación que entregas, especialmente tus propuestas técnicas y económicas. </li>
        <li style="list-style-type: decimal; margin-bottom:15px;">Observa las fechas y horarios establecidos en la convocatoria del proceso, ya que no se admite tolerancia. </li>
        <li style="list-style-type: decimal; margin-bottom:15px;">Revisa que no estés sancionado ante la Secretaría de la Función Pública. </li>
        <li style="list-style-type: decimal; margin-bottom:15px;">Verifica que tu domicilio fiscal lo hayas puesto correctamente. </li>
        <li style="list-style-type: decimal; margin-bottom:15px;">Deberás incluir la documentación que te sea solicitada con la leyenda “bajo protesta de decir verdad” deberás incluirla, a efecto de no ser descalificado.</li>
    </ul>
    <br />




    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('exporte_productos')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Exporte productos
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

