﻿<section class="contenido" id="exporte_productos">

    <p>[Haga crecer su empresa / Exporte productos]</p>

    <span class="titulo">Exporte Productos</span>
    <br /><br /><br />


    <span class="subtitulo">

        Exporte bienes para incrementar sus ganancias, reducir la dependencia del mercado y estabilizar las ventas estacionales. Relaciónese con recursos y socios de la SBA para que le ayuden.
    </span><br /><br />


    <span class="subtitulo">Los 7 Beneficios de Exportar</span><br />


    <div class="table-responsive">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Beneficio
                    </td>

                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Descripción
                    </td>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Acceso a nuevos mercados.
                        </p>
                    </td>

                    <td>
                        <p>
                            Es importante porque incrementamos oportunidades de negocios, es decir, volúmenes de producción, niveles de calidad, así como nuevas formas y presentaciones de nuestros productos.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Desarrollo y crecimiento de tu empresa al generar nuevos ingresos.
                        </p>
                    </td>

                    <td>
                        <p>
                            La oportunidad de obtener divisas verdes nos da la posibilidad de invertir en nuevas tecnologías, así como generar mayor efectividad en nuestra productos y servicios, ahora con las tendencias de la Revolución Digital 4.0.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Aprovechar la capacidad de producción instalada.
                        </p>
                    </td>

                    <td>
                        <p>
                            Si nuestra capacidad de producción instalada no está al 100%, es tiempo de ponerla a trabajar para otros mercados y con el tiempo ir incrementándola.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            No depender solamente del mercado local.
                        </p>
                    </td>

                    <td>
                        <p>
                            Trabajar en mercados internacionales, nos da la oportunidad de no depender de un solo mercado local, regional o nacional, con competencias desleales y precios marginados de venta.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Fortalecimiento de la competitividad de los productos en calidad y precio.
                        </p>
                    </td>

                    <td>
                        <p>
                            El ingresar a otros mercados que son diferentes al nuestro nos hace ser mejores en los aspectos de presentación y canal de venta, lo cual nos hace buscar la alta competitividad, calidad y mejor costo.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Actualización tecnológica y mejora de la imagen empresarial.
                        </p>
                    </td>

                    <td>
                        <p>
                            La Revolución Digital 4.0 nos estará orillando a tener diferentes plataformas y formas de venta (e-commerce). Esto será a través de redes, que, a su vez, nos obligarán a entrar de manera masiva, a varios mercados con cadenas de optimización logística y con mejores costos.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Generación de empleos y de divisas para el país.
                        </p>
                    </td>

                    <td>
                        <p>
                            El vender en una moneda diferente a la de nuestro país nos permite poder ser rentables, competitivos y lo más importante a poder comprar maquinaria e insumos en el extranjero que mejore la producción de nuestros productos o servicios.
                        </p>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
    <br /><br /><br />


    <span class="subtitulo">Reciba asesoría y capacitación</span><br />
    <p>
        Expandir su mercado puede ser más fácil de lo que piensa. Incluso las pequeñas empresas pueden incursionar en la exportación con ayuda de asesores y de la tecnología moderna.
    </p>

    <br /><br />




    <span class="subtitulo">COFOCE (Coordinadora de fomento al Comercio Exterior del Estado de Guanajuato)</span><br />

    <span class="subtitulo"><a href="https://cofoce.guanajuato.gob.mx/" target="_blank">Consulte el portal de COFECE</a></span>
    <br /><br />


    <p>
        Detectan, desarrollan y potencializan la oferta exportable de Guanajuato, teniendo como objetivo impulsar la internacionalización de empresas y productos del estado para generar mejores condiciones para la industria local que permitan el desarrollo y crecimiento económico y social. sus municipios.
    </p>

    <p>
        Servicios y Apoyos:
    </p>
    <br /><br />



    <div class="table-responsive">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Temas
                    </td>

                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Descripción
                    </td>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Internacionalización
                        </p>
                    </td>

                    <td>
                        <ul>
                            <li>Apoyo por participación en eventos internacionales, visita a clientes y/o participación en agendas o giras de negocios en el extranjero, en modalidad presencial.</li>
                            <li>Apoyo para instalación y/u operación de bodegas, centros de distribución, exhibición, atención y tiendas o puntos de venta en el extranjero.</li>
                            <li>Apoyo para adquisición o elaboración de estudios</li>
                            <li>Apoyo por participación en eventos internacionales y/o participación en agendas de negocios en el extranjero, en modalidad virtual.</li>
                            <li>Apoyo para adecuación de productos para el extranjero.</li>
                            <li>Apoyo para Consultoría Internacional</li>
                            <li>Apoyo para gastos de publicidad en el extranjero.</li>
                            <li>Representación de empresas en stand institucionales presenciales y/o virtuales.</li>
                            <li>Apoyo para envío de muestras en el extranjero</li>                            
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Crossborder
                        </p>
                    </td>

                    <td>
                        <p>
                            Apoyo en materia de Crossborder eCommerce y propiedades digitales.
                        </p>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>


</section>

