﻿<section class="contenido" id="obtenga_fondos">

    <p>[Haga crecer su empresa / Obtenga más fondos]</p>

    <span class="titulo">Obtenga más fondos</span>
    <br /><br />

    <span class="subtitulo">
        Si su empresa ya está en marcha, pero necesita más capital, puede depender de opciones familiares. Sin embargo, financiar un negocio establecido aún requiere una preparación algo diferente.
    </span><br /><br /><br />


    <span class="subtitulo">Prepárese para solicitar más fondos</span><br />
    <p>
        Quien quiera que le dé fondos querrá sentir confianza de que su inversión le redituará. Prepare la justificación económica y sus estados financieros para convencer a los establecimientos de crédito o a los inversionistas de financiar su pequeña empresa.
    </p>
    <br /><br />



    <span class="subtitulo">Elabore la justificación económica</span><br />
    <p>
        Necesita tener una sólida justificación económica para obtener más fondos. Elabore una breve declaración con el monto que solicita y especifique sus razones.
    </p>
    <br />




    <span class="subtitulo">Prepare sus estados de cuenta financieros</span><br />

    <p>
        Muestre que le está yendo bien a su empresa con el historial de sus estados financieros. Presente lo que haya crecido mediante reportes de ingresos, gastos y ganancias a lo largo del tiempo. Si no tiene historial de crecimiento positivo, explique por qué los fondos adicionales le permitirán recuperarse.
    </p>
    <br />




    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('extiendase_ubicaciones')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Extiéndase a nuevas ubicaciones
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

