﻿<section class="contenido" id="fusione_empresas">

    <p>[Haga crecer su empresa / Extiéndase a nuevas ubicaciones ]</p>

    <span class="titulo">Fusione y adquiera empresas</span>
    <br /><br /><br />


    <p>
        Puede hacer que su empresa crezca mediante la compra o fusión con una más pequeña. El proceso es similar al de iniciar una nueva empresa, pero hay que tomar medidas adicionales para proteger su compañía establecida.
    </p>
    <br /><br />



    <span class="subtitulo">Diferencias entre fusiones y adquisiciones</span><br />
    <p>
        Las fusiones y las adquisiciones son similares, pero tienen algunas diferencias fundamentales.
    </p>

    <p>
        En una fusión dos empresas diferentes se combinan en una entidad legal nueva. Las fusiones auténticas son escasas porque rara vez dos compañías iguales se benefician mutuamente de combinar sus recursos y personal, incluidos sus respectivos directores ejecutivos.
    </p>

    <p>
        A diferencia de las fusiones, las adquisiciones no desembocan en la formación de una nueva compañía. Más bien, la compañía adquirida es absorbida completamente por la adquiriente. En ocasiones esto significa que se liquide a la compañía adquirida.
    </p>
    <br />



    <span class="subtitulo">Calcule el valor de la otra empresa</span><br />
    <p>
        Haga una evaluación comercial para determinar el valor de la otra compañía antes de aceptar una venta; es en esencia el mismo proceso para averiguar el valor de su propia empresa antes de cerrar o vender su negocio.
    </p>

    <p>
        Hay muchas formas de evaluar una empresa, así que investigue los métodos a profundidad si decide hacerlo por su cuenta.
    </p>
    <br />




    <span class="subtitulo">Llegue a un acuerdo de fusión o adquisición</span><br />
    <p>
        Debe de preparar un acuerdo de venta para avanzar con la venta o fusión. Ese documento permite la adquisición de bienes o acciones de una corporación. 
    </p>

    <p>
        Enumere todo el inventario en la venta junto con el nombre de las empresas y sus dueños. Precise los detalles relevantes de fondo. Determine cómo se manejará la empresa antes de cerrar y el grado de acceso que tendrá cada compañía a la información financiera.
    </p>

    <p>
        No omita ningún bien u obligación, pues eso podría crear problemas aún después de finalizada la venta.
    </p>
    <br />




    <span class="subtitulo">Transfiera la propiedad de la empresa</span><br />
    <p>
        Las cláusulas del acuerdo dictarán los pasos para transferir la propiedad y cómo se verá dicha propiedad. Es muy recomendable obtener la ayuda de un abogado en este paso.
    </p>

    <p>
        Después de finalizada la adquisición o fusión, necesitará registrar esos cambios ante el estado, de acuerdo con las leyes estatales y de la estructura de negocios.
    </p>
    <br />




    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('exporte_productos')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Exporte Productos
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

