﻿<section class="contenido" id="cierre_empresa">

    <p>[Aministre su empresa / Cierre o venda su empresa]</p>

    <span class="titulo">Cierre o venda su empresa</span>
    <br /><br />

    <span class="subtitulo">
        Cree un plan detallado para traspasar, vender o cerrar su negocio. Obtenga asesoría experta y aprenda a unir los cabos sueltos.
    </span><br /><br /><br />


    <span class="subtitulo">Venda su empresa</span><br />
    <p>
        Después de consideraciones cuidadosas, podría decidir la venta de su empresa. Una buena planificación puede ayudarle a cubrir todas sus bases.
        Realice una valuación comercial para establecer un valor monetario antes de promover entre posibles compradores.
    </p>

    <span class="subtitulo">Cierre su empresa</span><br />
    <p>
        El cierre de su empresa puede ser una decisión difícil. Debe ponerse en contacto con asesoramiento local para planificar su estrategia de salida. También es útil pedir asesoría a su abogado y a un experto en valuación comercial, junto con otros profesionales de negocios, como contadores, banqueros y el Servicio de Rentas Internas
    </p>
    <br /><br /><br />




    <span class="subtitulo">Haga un acuerdo de ventas</span><br />

    <p>
        Debe preparar un acuerdo de venta para vender oficialmente su empresa. Este documento le permite adquirir los activos o acciones de una corporación. Debe revisarlo un abogado para verificar su exactitud y extensión.
    </p>

    <p>
        Enumere todo el inventario en la venta, junto con los nombres del vendedor, el comprador y la empresa. Complete los antecedentes. Decida cómo se manejará la empresa antes del cierre y el grado de acceso que tendrá el comprador a su información. Tome nota de todos los ajustes, honorarios de agentes y cualquier otro aspecto pertinente a los términos del acuerdo.
    </p>
    
    <p>
        No omita ningún activo ni responsabilidad, o podrían generarse problemas incluso después de haber cerrado la venta.
    </p>
    <br />



    <span class="subtitulo">Declárese en quiebra</span><br />
    
    <p>
        Una salida forzada tiene implicaciones para sus empleados, sus activos y sus obligaciones tributarias.
    </p>

    <p>
        Durante un juicio de quiebra, deberá mantenerse al día en el cumplimiento de todos los requisitos de declaración y pago de impuestos.
    </p>
    <br />



    <span class="subtitulo">Liquide</span><br />

    <p>
        La liquidación de activos suele ser un último recurso si no hay ningún comprador, interesado en fusionarse o sucesor. Este proceso de redistribuir los activos a los acreedores y accionistas todavía requiere un plan de acción sólido.
    </p>

    <p>
        Antes de cancelar su alquiler, vender el equipo y desconectar los servicios, hable con su abogado y su contador. Le ayudarán a elaborar un plan para presentar a los acreedores, cuya cooperación necesita durante el proceso.
    </p>

    <p>
        Básese en estos pasos en el proceso de liquidación de activos:
    </p>

    <ul>
        <li>Prepare un inventario y decida qué activos se venderán</li>
        <li>Asegure su mercancía</li>
        <li>Fije el valor de liquidación de los activos con un tasador certificado</li>
        <li>Utilice ese valor para estimar el precio neto de venta y reevalúe su decisión</li>
        <li>Elija el tipo de venta</li>
        <li>Seleccione el mejor momento y localización para su venta</li>
        <li>Contrate a un subastador, distribuidor, comisionista u otro experto</li>
    </ul>
    <br />





    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('obtenga_fondos')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Obtenga más fondos
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

