﻿<section class="contenido" id="siga_leyes">

    <p>[Administre su empresa / Siga las leyes]</p>

    <span class="titulo">Siga las leyes</span>
    <br /><br /><br />

    <span class="subtitulo">
        Cumpla las leyes mercantiles estatales y federales que atañan a su empresa. Sus responsabilidades legales dependerán de su negocio y su ubicación.
    </span>
    <br /><br />

    <p>
        Algunas de estas leyes mercantiles son:
    </p><br />


    <div class="table-responsive">
        <table class="table table-primary table-striped">

            <tbody>

                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Constitución
                    </td>

                    <td>
                        <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf_mov/Constitucion_Politica.pdf" target="_blank" >Constitucion_Politica.pdf</a>
                    </td>
                </tr>

                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Ley General de Sociedades Mercantiles.
                    </td>

                    <td>
                        <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/144_140618.pdf" target="_blank">http://www.diputados.gob.mx/LeyesBiblio/pdf/144_140618.pdf</a>
                    </td>
                </tr>

                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Ley de Comercio Exterior
                    </td>

                    <td>
                        <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/28.pdf" target="_blank">http://www.diputados.gob.mx/LeyesBiblio/pdf/28.pdf</a>
                    </td>
                </tr>

                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Reglamento de LCE
                    </td>

                    <td>
                        <a href="http://www.diputados.gob.mx/LeyesBiblio/regley/Reg_LCE.pdf" target="_blank">http://www.diputados.gob.mx/LeyesBiblio/regley/Reg_LCE.pdf</a>
                    </td>
                </tr>

                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Ley del SAT
                    </td>

                    <td>
                        <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/93_041218.pdf" target="_blank">http://www.diputados.gob.mx/LeyesBiblio/pdf/93_041218.pdf</a>
                    </td>
                </tr>

                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Reglamento Interior del SAT
                    </td>

                    <td>
                        <a href="http://www.diputados.gob.mx/LeyesBiblio/regla/n154.pdf" target="_blank">http://www.diputados.gob.mx/LeyesBiblio/regla/n154.pdf</a>
                    </td>
                </tr>

                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Ley Sobre el Contrato de Seguro
                    </td>

                    <td>
                        <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/211.pdf" target="_blank">http://www.diputados.gob.mx/LeyesBiblio/pdf/211.pdf</a>
                    </td>
                </tr>

                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Código de Comercio
                    </td>

                    <td>
                        <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf_mov/Codigo_de_Comercio.pdf" target="_blank">http://www.diputados.gob.mx/LeyesBiblio/pdf_mov/Codigo_de_Comercio.pdf</a>
                    </td>
                </tr>

                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Código Fiscal de la Federación
                    </td>

                    <td>
                        <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/8_230421.pdf" target="_blank">http://www.diputados.gob.mx/LeyesBiblio/pdf/8_230421.pdf</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <br /><br /><br />





    <span class="subtitulo">Requisitos internos</span><br />

    <p>
        Para mantener validez legal, deberá cumplir los requisitos externos e internos de la normativa mercantil. En general, los externos consisten en presentar documentos o pagar impuestos a los gobiernos estatal o federal.
    </p>

    <p>
        Los requisitos mercantiles internos son para su propio control de archivos. Debe demostrar cabalmente su cumplimiento mediante los registros de la empresa. Podría necesitarlos si más adelante decide vender su negocio o si interponen una demanda legal contra su empresa.
    </p>
    <br /><br />


    <span class="subtitulo">Requisitos según la estructura empresarial</span><br />
    <p>
        Las corporaciones tienen requisitos internos más rigurosos. Deben celebrar reuniones iniciales y anuales del director con los accionistas, registrar las minutas de sus reuniones, adoptar y cumplir con los reglamentos, emitir acciones para los accionistas y registrar todas las transferencias de acciones.
    </p>
    <br /><br />



    <span class="subtitulo">Otros requisitos federales</span><br />
    <p>
        Algunas actividades comerciales están reguladas, pero no es obligatorio declararlas. Asegúrese de cumplir todas las leyes pertinentes de marketing y publicidad (este y los siguientes recursos), propiedad intelectual, carteles en el lugar de trabajo, sobre salud y seguridad en el trabajo.
    </p>
    <br /><br />



    <span class="subtitulo">Licencias, permisos y recertificación</span><br />
    <p>
        Los documentos que sustentan el cumplimiento legal varían con el sector de la industria y la ubicación.
    </p>

    <p>
        Conserve cualquier licencia, permiso o certificado que su empresa haya recibido de su estado, ciudad o condado. Los requisitos para la renovación varían; mejor consulte a la oficina local de licencias comerciales.
    </p>




    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('adquiera_activos')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Adquiera activos y equipos
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

