﻿<section class="contenido" id="preparese_emergencias">

    <p>[Aministre su empresa / Prepárese para emergencias]</p>

    <span class="titulo">Prepárese para emergencias</span>
    <br /><br />

    <span class="subtitulo">
        Los desastres pueden adoptar muchas formas y el costo financiero de la reconstrucción después de un desastre puede ser abrumador. Estará en mejor posición para recuperarse y continuar las operaciones en caso de que ocurra un desastre.
    </span><br /><br /><br /><br />


    <span class="subtitulo">Prepárese</span><br /><br />
    <span class="subtitulo">Primer paso: evalúe su riesgo</span><br />
    <p>
        Cada empresa tiene vulnerabilidades y debilidades únicas. El saber qué tipo de desastre tiene mayor probabilidad de afectar a su negocio le puede ayudar a volver a operar más rápidamente.
    </p><br />

    <span class="subtitulo">Segundo paso: elabore un plan</span><br />
    <p>
        Ya que su plan para emergencia es su camino a la recuperación de su empresa, debe de ajustarse a las necesidades y operaciones específicas de su negocio. Debe abordar sus prioridades inmediatas y ser de acceso fácil.
    </p><br />

    <span class="subtitulo">Tercer paso: ejecute su plan</span><br />
    <p>
        Practique su plan con su personal para estar listo cuando ocurra un desastre.
    </p><br />





    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('cierre_empresa')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Cierre o venda su empresa
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

