﻿<section class="contenido" id="pago_impuestos">

    <p>[Administre su empresa / Pago de Impuestos]</p>

    <span class="titulo">Pago de Impuestos</span>
    <br /><br /><br />

    <span class="subtitulo">
        Su empresa deberá cumplir sus obligaciones fiscales federales, estatales y locales para permanecer en buena situación legal. La estructura y ubicación de la empresa influirán en los impuestos que debe pagar.
    </span>
    <br /><br />

    <p style="font-weight:bold;">
        Elija su año fiscal
    </p>

    <p>
        Su empresa está obligada legalmente a pagar impuestos y llevar registros de contabilidad conforme a un calendario anual llamado año fiscal.
    </p>
    <br /><br />



    <span class="subtitulo"><a href="https://www.sat.gob.mx/home" target="_blank">Consulte el portal SAT</a></span>

    <br /><br />

    <span class="subtitulo"><a href="https://ventanillaciudadana.guanajuato.gob.mx/rec/rec1" target="_blank">Inscripción al Registro Estatal de Contribuyentes</a></span>






    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('siga_leyes')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Siga las leyes
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

