﻿<section class="contenido" id="adquiera_activos">

    <p>[Aministre su empresa / Adquiera activos y equipos]</p>

    <span class="titulo">Adquiera activos y equipos</span>
    <br /><br /><br />

    <span class="subtitulo">
        Para tener éxito, su empresa necesitará activos y equipo especiales.
    </span><br /><br />


    <span class="subtitulo">Conozca los activos y el equipo que necesita</span><br />
    <p>
        Los activos comerciales pertenecen a una de tres grandes categorías: propiedad tangible, intangible e intelectual. Según el tipo de activo, deberá decidir si desea comprarlo o alquilarlo. El primer paso será imaginar qué activos contribuirán al éxito de su empresa. Los activos comerciales pertenecen a una de tres grandes categorías: propiedad tangible, intangible e intelectual. Según el tipo de activo, deberá decidir si desea comprarlo o alquilarlo. El primer paso será imaginar qué activos contribuirán al éxito de su empresa.
    </p>

    <p>
        <span style="font-weight:bold;">Activos tangibles:</span> Los bienes (como edificios, vehículos y equipo) se usan para la actividad comercial regular y pierden valor con el paso del tiempo. Los consumibles, como el papel para impresoras, por lo común no se cuentan como activos. Los activos tangibles en su hoja de balance se cuentan como propiedad o equipo.
    </p>

    <p>
        <span style="font-weight:bold;">Activos intangibles:</span> Son las cosas que no se pueden tocar (como la reputación de su empresa, su marca o la red de influencias de sus socios comerciales). Estos no se incluyen en su balance general y a menudo es difícil o imposible venderlos por dinero en efectivo. Pero aún pueden contribuir al valor global de su empresa.
    </p>

    <p>
        <span style="font-weight:bold;">Propiedad intelectual:</span> Un tipo de activo intangible que incluye marcas registradas, patentes, logotipos, sitios web, nombres de dominio y software. La propiedad intelectual suele estar protegida por derechos de autor o de marca registrada.
    </p>
    <br />



    <span class="subtitulo">Decida entre alquilar y comprar</span><br />
    <p>
        Una vez que identifique todos los activos que necesita para su empresa, puede decidir cómo adquirirlos.
    </p>





    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('publicidad_ventas')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Publicidad y Ventas
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

