﻿<section class="contenido" id="publicidad_ventas">

    <p>[Aministre su empresa / Publicidad y ventas]</p>

    <span class="titulo">Publicidad y Ventas</span>
    <br /><br />

    <span class="subtitulo">
        Elabore un plan de marketing para persuadir a los consumidores de comprar sus productos o servicios, luego decida qué tipo de pagos aceptará llegado el momento de hacer una venta.
    </span><br /><br /><br />


    <span class="subtitulo">Haga un plan de marketing</span><br />
    <p>
        El marketing requiere tiempo, dinero y preparación. Una de las mejores maneras de mantenerse dentro del calendario y del presupuesto consiste en hacer un plan de marketing, que describe las acciones que emprenderá para persuadir a los posibles clientes de comprar sus productos o servicios.
    </p>
    <br />


    <p>
        Utilice estas secciones en su plan de marketing
    </p>

    <p>
        La mayoría de los planes de marketing cubren estos temas. Como en todos los casos, use lo que mejor le funcione a su empresa.
    </p>


    <div class="table-responsive">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Temas
                    </td>

                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Descripción
                    </td>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Mercado de destino
                        </p>
                    </td>

                    <td>
                        <p>
                            Describa con detalle a su público. Observe el tamaño del mercado, características demográficas, peculiaridades y tendencias que se relacionen con la demanda de su empresa.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Ventaja competitiva
                        </p>
                    </td>

                    <td>
                        <p>
                            Describa una ventaja que tenga su producto o servicio sobre la competencia. Puede ser un mejor producto, menor precio o una excelente experiencia del cliente. A veces, la certificación de “ecológicamente responsable” en su etiqueta es un factor importante para los clientes.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Plan de ventas
                        </p>
                    </td>

                    <td>
                        <p>
                            Describa literalmente cómo venderá su servicio o producto a sus clientes. Indique los métodos de ventas que utilizará, como menudeo, mayoreo o su propia tienda en línea. Explique cada paso que dará el cliente una vez que decida comprar.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Metas de marketing y ventas
                        </p>
                    </td>

                    <td>
                        <p>
                            Describa sus metas de marketing y ventas para el año próximo. Son metas usuales de marketing y ventas: aumentar el número de suscriptores por correo electrónico, agrandar la cuota de mercado o aumentar las ventas en cierto porcentaje.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Plan de acción de marketing
                        </p>
                    </td>

                    <td>
                        <p>
                            Explique cómo alcanzará sus metas de marketing y ventas. Indique los canales de marketing que utilizará, como publicidad en línea, anuncios de radio o carteles publicitarios. Explique su estrategia para la fijación de precios y cómo utilizará las promociones. Explique la asistencia que dará al cliente después de la venta. El gobierno federal regula la publicidad y el etiquetado de una variedad de productos de consumo, así que debe verificar que su publicidad cumpla con los reglamentos.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Presupuesto
                        </p>
                    </td>

                    <td>
                        <p>
                            Incluya un desglose completo de los costos de su plan de marketing. Procure ser lo más exacto posible. Deseará llevar registro de sus costos una vez que ponga en acción su plan.
                        </p>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <br /><br />


    <span class="subtitulo">Mida y actualice su plan</span><br />
    <p>
        Planifique para comparar sus costos de marketing y ventas con el rendimiento que generan. Deseará cerciorarse de estar obteniendo un rendimiento de la inversión positivo.
    </p>
    <br />



    <span class="subtitulo">No se olvide de las operaciones</span><br />
    <p>
        No todos están de acuerdo en las diferencias exactas entre marketing y ventas, pero la mayoría reconoce que están relacionadas. A menudo se pasa por alto la influencia que tienen las operaciones en el marketing y las ventas.
    </p>

    <p>
        Los elementos de las operaciones simples, como el uniforme de su personal, el sitio donde se fabrica el producto o el proceso de devolución del producto contribuyen a la experiencia de su cliente. Esa experiencia dará forma al concepto que tengan los clientes de su empresa, y puede contribuir a que se conviertan en leales de por vida o recomienden a sus amigos guardar distancia.
    </p>
    <br />




    <span class="subtitulo">Decida cómo aceptará los pagos</span><br />
    <p>
        Las formas de pago que acepte pueden influir en el marketing y las ventas, así como en sus resultados. Acepte formas de pago que sean rentables, seguras y proporcionen una experiencia positiva a sus clientes.
    </p>
    <br />




    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('preparese_emergencias')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Prepárese para emergencias
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

