﻿
<section class="contenido" id="administre_finanzas">

    <p>[Administre su empresa / Administre sus finanzas]</p>

    <span class="titulo">Administre sus Finanzas</span>
    <br /><br /><br />

    <span class="subtitulo">
        Llevar la cuenta de ingresos y gastos puede ayudarlo a que su empresa opere sin tropiezos. Procure llevar una contabilidad adecuada y tener conocimientos básicos de finanzas comerciales.
    </span>
    <br /><br />

    <p style="font-weight:bold;">
        Empiece con el balance general
    </p>

    <p>
        El balance general le ayuda a justificar costos, como los de empleados y suministros. También le ayuda a controlar los bienes, las obligaciones y el capital social. Puede tener mejor perspectiva si separa y analiza segmentos de su empresa, cómo comparar las ventas en línea y en persona.
    </p>


    <br />
    <p style="font-weight:bold;">Análisis de costo-beneficio (CBA, por sus siglas en inglés)</p>
    <p>
        Examinar de cerca el dinero que entra y el que sale ayuda a mantener un equilibrio saludable entre pérdidas y ganancias. Desde el desarrollo y las operaciones, hasta los costos recurrentes y no recurrentes, es importante categorizar los gastos en su balance general. Después puede llevar a cabo un análisis de costo-beneficio para ponderar las fortalezas y debilidades de una decisión comercial, y poner en contexto los posibles beneficios recurrentes y la reducción de costos.
    </p>

    <p>
        El CBA es una técnica para tomar decisiones no críticas de una forma relativamente rápida y fácil. Consiste sólo en sumar el total de las ganancias y el total de los costos durante un periodo determinado, para luego restar los costos de las ganancias y determinar así el éxito en términos monetarios. Esto puede resultar útil al contratar a otro empleado o a un contratista independiente.
    </p>
    <br />


    <p style="font-weight:bold;">Seleccione un método de contabilidad</p>
    <p>
        Las empresas suelen usar el método contable de ejercicio o el de caja para registrar compras. El método de ejercicio asienta las transacciones en libros inmediatamente después de la venta. El método de caja las registra sólo una vez que se recibe el pago.
    </p>
    <br />


    <p style="font-weight:bold;">Obtenga ayuda contable</p>
    <p>
        A usted le conviene obtener ayuda para su contabilidad. Considere contratar a un contador público, un asistente contable o usar un servicio en línea.
    </p>

    <p>
        El contador generalmente cuesta más que los servicios en línea, pero puede ofrecerles un servicio más ajustado a las necesidades específicas de su empresa. Un asistente contable puede desempeñar las funciones básicas cotidianas a menor costo, pero no posee los estudios formales de contabilidad.
    </p>

    <p>
        Asegúrese de que alguien pueda manejar lo siguiente:
    </p>

    <ul>
        <li>Cuentas por cobrar</li>
        <li>Cuentas por pagar</li>
        <li>Efectivo disponible</li>
        <li>Conciliación bancaria</li>
        <li>Nómina</li>
    </ul>

    <br />



    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('contrate_empleados')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Contrate y administre a los empleados
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>
