﻿<section class="contenido" id="contrate_empleados">

    <p>[Administre su empresa / Contrate y administre a los empleados]</p>

    <span class="titulo">Contrate y administre a los empleados</span>
    <br /><br /><br />

    <span class="subtitulo">
        Establezca una estructura de nómina básica para facilitar la contratación de empleados. Luego, administre correctamente a los empleados mediante una comprensión general de las leyes del trabajo estatales y federales.
    </span><br /><br />

    <p style="font-weight:bold;">
        Siga las leyes laborales federales y estatales
    </p>

    <p>
        Proteja los derechos de los trabajadores y a su empresa adhiriéndose a las leyes laborales, lo que significa que debe verificar que las prácticas de la empresa cumplan con las normas de la industria.
    </p>
    <br /><br />

    <div class="table-responsive">
        <table class="table table-primary table-striped">

            <tbody>

                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Ley Federal del Trabajo
                    </td>

                    <td>
                        <a href="https://www.gob.mx/cms/uploads/attachment/file/156203/1044_Ley_Federal_del_Trabajo.pdf" target="_blank">1044_Ley_Federal_del_Trabajo</a>
                    </td>
                </tr>

                @*<tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Ley Federal de los Trabajadores al Servicio del Estado, Reglamentaria del artículo 123 Constitucional.
                    </td>

                    <td>
                        <a href="http://www.diputados.gob.mx/LeyesBiblio/ref/lftse.htm" target="_blank">http://www.diputados.gob.mx/LeyesBiblio/ref/lftse.htm</a>
                    </td>
                </tr>*@

                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Ley del Seguro Social.
                    </td>

                    <td>
                        <a href="http://www.imss.gob.mx/sites/all/statics/pdf/leyes/LSS.pdf" target="_blank">http://www.imss.gob.mx/sites/all/statics/pdf/leyes/LSS.pdf</a>
                    </td>
                </tr>

                @*<tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Ley del Instituto de Seguridad y Servicios Sociales de los Trabajadores del Estado.
                    </td>

                    <td>
                        <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf_mov/Ley_del_Instituto_de_Seguridad_y_Servicios_Sociales_de_los_Trabajadores.pdf" target="_blank">
                            Ley del Instituto de Seguridad y Servicios Sociales de los Trabajadores del Estado.
                        </a>
                    </td>
                </tr>*@
                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:15px; font-weight:bold;">
                        Ley del Instituto del Fondo Nacional de la Vivienda para los Trabajdores.
                    </td>
                    <td>
                        <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf_mov/Ley_del_Instituto_del_Fondo_Nacional_de_la_Vivienda.pdf" target="_blank">
                            Ley del Instituto del Fondo Nacional de la Vivienda para los Trabajdores.
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>




    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('pago_impuestos')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Pago de impuestos
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

