﻿@model PruebaEmpresa.Models.EspecialidadViewModel

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}


@section scripts{

    <script type="text/javascript">

        $(function () {
            $('#btnSubmit').click(function () {
                var ventantaEspera = $('#Ventana_Espera');
                ventantaEspera.modal();
            });

        });

    </script>

}


<div class="page-header">
    <h3>Especialidad</h3>
</div>



<div class="panel panel-primary">

    <div class="panel-heading clearfix">

        @if (Model.Especialidad_ID == 0)
        {
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Registrar Especialidad </h4>
        }
        else
        {
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Editar Especialidad </h4>
        }
        <div class="btn-group pull-right">
            <a class="btn btn-success btn-sm" href="@Url.Action("Listado","Especialidades")">Regresar <span class="glyphicon glyphicon-share-alt"></span> </a>
        </div>

    </div>

    <div class="panel-body">


        @using (Html.BeginForm("Guardar","Especialidades"))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-md-12">
                    <div style="text-align:center">
                        @Html.ValidationMessage("error", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            @Html.HiddenFor(x => x.Especialidad_ID)


         

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre_Especialidad, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre_Especialidad, new { htmlAttributes = new { @class = "form-control" , autocomplete = "off", @maxlength = "100" } })
                    @Html.ValidationMessageFor(model => model.Nombre_Especialidad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Estatus", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Estatus, "", new { @class = "text-danger" })
                </div>
            </div>
 

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="btnSubmit" value="Aceptar" class="btn btn-primary" />
                </div>
            </div>
        </div>
        }


    </div>


</div>







<div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>