﻿@model PruebaEmpresa.Models.MenuView

<ul class="nav navbar-nav">
    @foreach (var NodoPapa in Model.objNavegacionCombo)
    {

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @NodoPapa.Nombre <b class="caret"></b> </a>
            <ul class="dropdown-menu">
                @foreach (var NodoHijo in NodoPapa.Elementos)
                {
                    <li> @Html.ActionLink(NodoHijo.Nombre, NodoHijo.Accion, NodoHijo.Controlador) </li>
                }
            </ul>
        </li>

    }

    @foreach (var NodoSimple in Model.objNavegacionSimple)
    {
        <li>
            @if (NodoSimple.dato.Length > 0)
            {
            <span class="badge badge-pill badge-primary" style="float:right;margin-bottom:-10px;">@NodoSimple.dato</span>
            }

            @Html.ActionLink(NodoSimple.Nombre, NodoSimple.Accion, NodoSimple.Controlador, new { sortOrder = "Respondido" }, null)
        </li>
    }
</ul>