﻿@model PruebaEmpresa.Models.UsuariosView

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}

@section scripts{


    <script type="text/javascript">

        $(function () {
            $('#btnSubmit').click(function () {
                var ventantaEspera = $('#Ventana_Espera');
                ventantaEspera.modal();
            });

        });

    </script>

}


<div class="page-header">
    <h3>Usuarios</h3>
</div>


<div class="panel panel-primary">

    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> ¿Esta seguro de eliminar el elemento seleccionado?</h4>
        <div class="btn-group pull-right">
            <a class="btn btn-success btn-sm" href="@Url.Action("Listado","Usuarios")">Regresar <span class="glyphicon glyphicon-share-alt"></span> </a>
        </div>
    </div>

    <div class="panel-body">

        <div>

            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {

                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Html.ValidationSummary()

                </div>

            }


            <dl class="dl-horizontal">
              
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apellido_Paterno)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apellido_Paterno)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apellido_Materno)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apellido_Materno)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Correo_Electronico)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Correo_Electronico)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Estatus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Estatus)
                </dd>

        

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre_Rol)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre_Rol)
                </dd>


            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" id="btnSubmit" class="btn btn-danger"> Eliminar <span class="glyphicon glyphicon-ok"></span></button>

            </div>
            }
        </div>

    </div>

</div>



