﻿@model PagedList.IPagedList<PruebaEmpresa.Models.UsuariosView>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}


<link type="text/css" href="~/Content/collapse.css" rel="stylesheet" />

<div class="page-header ">
    <h3>Usuarios</h3>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">

            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#busqueda">
                Filtros
            </a>

        </div>
    </div>

    <div id="busqueda" class="panel-collapse collapse in">

        <div class="panel-body">

            @using (Html.BeginForm("Listado", "Usuarios", FormMethod.Get))
            {
                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="control-label">B&uacute;squeda</label>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Nombre, Apellido, Correo" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label">Rol</label>
                        @Html.DropDownList("Rol_ID", null, "Selecciona", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align:right">
                        <button type="submit" class="btn btn-primary btn-sm">
                            Buscar <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>


            }


        </div>

    </div>

</div>


<div class="panel panel-primary">

    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Listado </h4>

        <div class="btn-group pull-right">
            <a class="btn btn-success btn-sm" href="@Url.Action("Registrar", "Usuarios")"> Nuevo <span class="glyphicon glyphicon-plus"></span></a>
        </div>


    </div>


    <div class="panel-body">

        <div class="row">

            <div class="col-md-12">

                <div class="table-responsive">

                    <table class="table table-bordered table-striped">

                        <tr>
                            <th>Rol</th>
                            <th> 
                                @Html.ActionLink("Correo", "Listado", new { sortOrder = ViewBag.CorreSortParam, currentFilter = ViewBag.CurrentFilter, currentRol = ViewBag.CurrentRol })
                            </th>
                            <th>
                                @Html.ActionLink("Nombre", "Listado", new { sortOrder = ViewBag.NombreSortParam, currentFilter = ViewBag.CurrentFilter, currentRol = ViewBag.CurrentRol })
                            </th>
                            <th>
                                @Html.ActionLink("A. Paterno", "Listado", new { sortOrder = ViewBag.ApellidoPaternoSortParam, currentFilter = ViewBag.CurrentFilter, currentRol = ViewBag.CurrentRol })
                            </th>
                            <th>A. Materno</th>
                            <th> 
                                @Html.ActionLink("Estatus", "Listado", new { sortOrder = ViewBag.EstatusSortParam, currentFilter = ViewBag.CurrentFilter, currentRol = ViewBag.CurrentRol })
                            </th>
                            <th>Acciones</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Nombre_Rol</td>
                                <td>@item.Correo_Electronico</td>
                                <td>@item.Nombre</td>
                                <td>@item.Apellido_Paterno</td>
                                <td>@item.Apellido_Materno</td>
                                <td>@item.Estatus</td>
                                <td style="text-align:center">
                                    <a class="btn btn-primary btn-sm" title="Editar" href='@Url.Action("Registrar", "Usuarios", new { Usuarios_ID = item.Usuarios_ID })'>
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a class="btn btn-danger btn-sm" title="Eliminar" href='@Url.Action("Eliminar", "Usuarios", new { Usuarios_ID = item.Usuarios_ID })'>
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12" style="text-align:right">
                P&aacute;gina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Listado",
                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter , currentRol = ViewBag.CurrentRol }))
            </div>
        </div>

    </div>

</div>