﻿@model PruebaEmpresa.Models.UsuariosView

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}

<link type="text/css" href="~/Content/iconos_cajas.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/jquery.toast.min.css" />

@section scripts{
    

    <script type="text/javascript">

        $(function () {


            $('#btnSubmit').click(function () {
                var ventantaEspera = $('#Ventana_Espera');
                ventantaEspera.modal();
            });


            const togglePassword = document.querySelector('#togglePassword');
            const password = document.querySelector('#password');

            togglePassword.addEventListener('click', function (e) {
                // toggle the type attribute
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                // toggle the eye slash icon
                this.classList.toggle('glyphicon-eye-close');

            });

        });



    </script>
    
    }


    <div class="page-header">
        <h3>Usuarios</h3>
    </div>



    <div class="panel panel-primary">

        <div class="panel-heading clearfix">

            @if (Model.Usuarios_ID == 0)
            {
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Registrar Usuario </h4>
            }
            else
            {
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Editar Usuario </h4>
            }


            <div class="btn-group pull-right">
                <a class="btn btn-success btn-sm" href="@Url.Action("Listado","Usuarios")">Regresar <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>

        </div>
        <div class="panel-body">

            @using (Html.BeginForm("Guardar", "Usuarios"))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">



                <div class="form-group">
                    <div class="col-md-12">
                        <div style="text-align:center">
                            @Html.ValidationMessage("error", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                @Html.HiddenFor(x => x.Usuarios_ID)
                @Html.HiddenFor(x => x.Especialidad_ID)


                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre_Rol, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Rol_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Rol_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Apellido_Paterno, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Apellido_Paterno, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Apellido_Paterno, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Apellido_Materno, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Apellido_Materno, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Apellido_Materno, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Correo_Electronico, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Correo_Electronico, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Correo_Electronico, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Estatus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Estatus", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Estatus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre_Empresa, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre_Empresa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre_Empresa, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-eye-open" id="togglePassword"></i>
                            @Html.PasswordFor(model => model.Password, new { @Value = Model.Password, @class = "form-control", @maxlength = "8", id = "password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" id="btnSubmit" class="btn btn-primary">  Aceptar <span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                </div>
            </div>
            }


        </div>

    </div>




    <div id="Ventana_Espera" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Procesando</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>