﻿@model PruebaEmpresa.Models.ParametrosCorreoView

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}


@section scripts{
    
    
    <script type="text/javascript">

        $(function () {
            $('#btnSubmit').click(function () {
                var ventantaEspera = $('#Ventana_Espera');
                ventantaEspera.modal();
            });

        });

    </script>
    
    }

    <div class="page-header">
        <h3>Par&aacute;metros Correo</h3>
    </div>




    <div class="panel panel-primary">

        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> ¿Esta seguro de eliminar el elemento seleccionado?</h4>
            <div class="btn-group pull-right">
                <a class="btn btn-success btn-sm" href="@Url.Action("Listado","ParametrosCorreo")">Regresar <span class="glyphicon glyphicon-share-alt"></span> </a>
            </div>
        </div>



        <div class="panel-body">
            <div>

                @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {

                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @Html.ValidationSummary()

                    </div>

                }

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Host_Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Host_Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Puerto)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Puerto)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>


                </dl>

                @using (Html.BeginForm())
                {


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-actions no-color">
                        <input type="submit" id="btnSubmit" value="Eliminar" class="btn btn-danger" />

                    </div>
                }
            </div>
        </div>
    </div>

    <div id="Ventana_Espera" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Procesando</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>




