﻿@model IEnumerable<PruebaEmpresa.Models.ParametrosCorreoView>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}


<div class="page-header ">
    <h3>Par&aacute;metros Correo</h3>
</div>


<div class="panel panel-primary">

    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Listado </h4>

        <div class="btn-group pull-right">

            @if (Model.Count() == 0)
            {
                <a class="btn btn-success btn-sm" href="@Url.Action("Registrar","ParametrosCorreo")">Nuevo</a>
            }


        </div>


    </div>

    <div class="panel-body">

        <div class="table-responsive">

            <table class="table table-bordered table-striped">

                <tr>
                    <th>Email</th>
                    <th>Host Email</th>
                    <th>Puerto </th>
                    <th>Password </th>
                    <th>

                    </th>
                </tr>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.Host_Email
                        </td>
                        <td>
                            @item.Puerto
                        </td>
                        <td>
                            @item.Password
                        </td>
                        <td style="text-align:center">
                            <a class="btn btn-primary btn-sm" href='@Url.Action("Registrar", "ParametrosCorreo", new { Parametro_Correo_ID = item.Parametro_Correo_ID })'>
                                Editar
                            </a>
                            &nbsp;&nbsp;
                            <a class="btn btn-danger btn-sm" href='@Url.Action("Eliminar", "ParametrosCorreo", new { Parametro_Correo_ID = item.Parametro_Correo_ID })'>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                }

            </table>

        </div>

    </div>

</div>