﻿@model PruebaEmpresa.Models.ParametrosCorreoView

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}




@section scripts{


    <script type="text/javascript">

        $(function () {
            $('#btnSubmit').click(function () {
                var ventantaEspera = $('#Ventana_Espera');
                ventantaEspera.modal();
            });

        });

    </script>

}


<div class="page-header">
    <h3>Par&aacute;metros Correo</h3>
</div>



<div class="panel panel-primary">

    <div class="panel-heading clearfix">

        @if (Model.Parametro_Correo_ID == 0)
        {
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Registrar Par&aacute;metro Correo </h4>
        }
        else
        {
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Editar Par&aacute;metro Correo </h4>
        }
        <div class="btn-group pull-right">
            <a class="btn btn-success btn-sm" href="@Url.Action("Listado","ParametrosCorreo")">Regresar <span class="glyphicon glyphicon-share-alt"></span> </a>
        </div>

    </div>

    <div class="panel-body">

        @using (Html.BeginForm("Guardar", "ParametrosCorreo"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(x => x.Parametro_Correo_ID)
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Host_Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Host_Email, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Host_Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Puerto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Puerto, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Puerto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="btnSubmit" value="Aceptar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }


    </div>
</div>



<div id="Ventana_Espera" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>