﻿
@{
    ViewBag.Title = "calculadora_punto_equilibrio";
}


@section style{

    <style>

        .titulo {
            font-size: 40px;
            font-weight: bold;
        }

        .subtitulo, .subtitulo a {
            font-size: 19px;
            font-weight: bold;
        }

        .banner_info {
            background: #1b3aa1;
            width: 60%;
            padding: 40px 50px;
            margin: 0 auto;
        }

        p{
            font-size:18px;
            text-align:justify;
            text-justify:inter-word;
        }

        li {
            margin-left: 2em;
            list-style-type: disc;
        }

        ol {
            list-style-type: upper-alpha;
        }

        .contenido {
            margin-top: 100px;
            margin-bottom: 80px;
            width: 80%;
        }

        @@media only screen and (max-width: 600px) {

            .contenido {                
                margin-top: 100px;
                margin-bottom: 80px;
                width: 98%;
            }

            .banner_info {                
                width: 90%;
                padding: 20px 10px;                
            }
        }
    </style>
}

<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(../../Estructura/imagenes/puntoequilibrio_title.png);">
    <h2 class="tit6 t-center">
        Punto de equilibrio
    </h2>
</section>


<section>
    <div class="container-fluid contenido" >

        <p>
            El punto de equilibrio es el punto en el que el costo total y los ingresos totales son iguales, lo que significa que no hay pérdidas ni ganancias para su empresa. En otras palabras, ha alcanzado el nivel de producción en el que los costos de producción son iguales a los ingresos de un producto.
        </p>

        <p>
            Para cualquier negocio nuevo, este es un cálculo importante en su plan de negocios. Los inversores potenciales en una empresa no solo quieren saber el rendimiento que esperan de sus inversiones, sino también el momento en el que obtendrán este rendimiento. Esto se debe a que algunas empresas pueden tardar años antes de obtener ganancias, y a menudo pierden dinero en los primeros meses o años antes de alcanzar el punto de equilibrio. Por esta razón, el punto de equilibrio es una parte importante de cualquier plan de negocios presentado a un inversionista potencial.
        </p>

        <p>
            Para las empresas existentes, esta puede ser una herramienta útil no solo para analizar los costos y evaluar las ganancias que obtendrán con diferentes volúmenes de ventas, sino también para demostrar su posible recuperación después de escenarios críticos.
        </p>

        <br /><br />
        <span class="subtitulo">Beneficios de un análisis de equilibrio</span><br />
        <ul>
            <li>
                <p>Precio más inteligente</p>
                <p>
                    Encontrar su punto de equilibrio le ayudará a fijar el precio de sus productos de forma más inteligente. Se aplica mucha psicología a la fijación de precios, pero saber cómo afectará su rentabilidad es igualmente importante. Especialmente, al asegurarse de poder pagar todas sus facturas.
                </p>
            </li>

            <li>
                <p>Detecte los gastos faltantes</p>
                <p>
                    Es fácil pasar por alto los gastos cuando está pensando en una nueva idea de negocio. Cuando completa el análisis de equilibrio, tiene todos sus compromisos financieros resueltos, lo que limita las sorpresas en el futuro.
                </p>
            </li>

            <li>
                <p>Establecer objetivos de ingresos</p>
                <p>
                    Después de completar el análisis, sabrá exactamente cuánto necesita vender para ser rentable. Esto establece objetivos de ventas para su negocio. Cuando tenga un número en mente, será más fácil seguirlo.
                </p>
            </li>

            <li>
                <p>Tome decisiones más inteligentes</p>
                <p>
                    Ayuda a limitar las decisiones comerciales tomadas sobre las emociones. Cómo se siente es importante, pero no debería ser la base de sus decisiones comerciales. El análisis de equilibrio lo ayudará a iniciar su negocio basado en hechos.
                </p>
            </li>

            <li>
                <p>Limite la tensión financiera</p>
                <p>
                    Mitiga el riesgo al mostrar cuándo evitar una idea de negocio. Ayuda a las empresas potenciales a evitar fallas y a limitar el costo financiero de una mala idea mediante un análisis realista de los resultados potenciales.
                </p>
            </li>

            <li>
                <p>Financia tu negocio</p>
                <p>
                    El análisis de equilibrio suele ser un requisito para contraer inversores o deudas para financiar su negocio. Demuestra que tu plan es viable, lo que también te ayudará a sentirte mejor a la hora de asumir el financiamiento.
                </p>
            </li>
        </ul>


        <br /><br /><br />
        <div class="banner_info">

            <h1 style="font-weight:bold; font-size:30px; color:white;">
                Calculadora de punto de quilibrio
            </h1>
            <br />

            <h2 style="font-weight:bold; font-size:18px; color:white;">
                Utilice esta calculadora para descubrir su punto de equilibrio y determinar sus futuros ingresos
            </h2>
            <br /><br />

            <a class="btn btn-primary" href="~/Estructura/Descargas/Punto_de_Equilibrio.xlsx" download="Punto_de_Equilibrio.xlsx" >
            Descarga Plantilla <i class="fa fa-download"></i>
            </a>
        </div>



        <br /><br /><br /><br />
        <p style="font-weight:bold;">Regresar</p>
        <a href="@Url.Action("Guia_Negocios","GuiaNegocios",new {vista="calcule_costos"})" class="btn btn-primary" id="btn_siguiente" style="font-weight:bold; font-size:19px; padding:15px 30px;">
            Calcule los costos de lanzamiento
            &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-left"></i>
        </a>

    </div>
</section>        
