﻿<section class="contenido" id="obtenga_numero">

    <p>[Lance su empresa / Obtenga su RFC y su REC]</p>

    <span class="titulo">Obtenga su RFC (Registro Federal de Contribuyentes) y su REC (Registro Estatal de Contribuyentes)</span>
    <br /><br /><br />

    <span class="subtitulo"><a href="https://www.sat.gob.mx/home" target="_blank">Ingrese al portal SAT</a></span>
    <br /><br />
    <span class="subtitulo"><a href="https://ventanillaciudadana.guanajuato.gob.mx/rec/rec1" target="_blank">Inscripción al Registro Estatal de Contribuyentes</a></span>

    <br /><br /><br /><br />

    <span class="subtitulo">Inscripción al RFC (Registro Federal de Contribuyentes)</span>

    <p>
        <span class="negritas">¿Quiénes lo presentan?</span> Personas físicas a partir de los 18 años de edad cumplidos, que cuenten con CURP y requieran inscribirse en el RFC con o sin obligaciones fiscales.
    </p>

    <p>
        <span class="negritas">Costo:</span> Trámite gratuito.
    </p>

    <p>
        <span class="negritas">¿Cuándo se presenta?</span> Cuando lo requiera.
    </p>

    <p>
        <span class="negritas">Fundamento Legal</span>
    </p>

    <ul>
        <li>Código Fiscal de la Federación, artículo 27.</li>
        <li>Reglamento del Código Fiscal de la Federación, artículo 22.</li>
        <li>Ley General de Población, artículo 91.</li>
        <li>Resolución Miscelánea Fiscal, reglas 2.4.6. y 2.4.14.</li>
    </ul>

    <p><span class="negritas">Requisitos</span></p>

    <p>
        <ul style="list-style-type:decimal;">
            <li>Contar con CURP.</li>
            <li>No requiere presentar documentación adicional.</li>
        </ul>
    </p>

    <br /><br /><br /><br />

    
    
    
    
    
    <span class="subtitulo">Inscripción al REC (Registro Estatal de Contribuyentes)</span><br />

    <p>
        Deberá tener a la mano sus datos de nombre, denominación o razón social, RFC (asignado por el SAT), CURP (personas físicas), domicilio fiscal y de establecimientos (calle, número exterior, número interior, entre calles, colonia, código postal, localidad, municipio, Estado), fechas de nacimiento y de inicio de operaciones, datos de representante legal (para personas morales, y físicas sólo si les aplica), actividades económicas que desarrolla y obligaciones a las que estará sujeto, y dirección de correo electrónico.
    </p>

    <p>
        <span class="negritas">Fundamento Legal</span>
    </p>

    <p>
        Art. 99 y 100 del Código Fiscal para el Estado de Guanajuato.
    </p>

    <br /><br />

    <a href="https://ventanillaciudadana.guanajuato.gob.mx/docs/Guia_Rec1.pdf" target="_blank">Consultar guía para la inscripción al registro estatal de contribuyentes</a>




    <br /><br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('solicite_licencias')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Solicite licencias y permisos
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

