﻿<section class="contenido" id="registre_empresa">

    <p>[Lance su empresa / Registre su empresa]</p>

    <span class="titulo">Información y documentos para aperturar una empresa</span>
    <br /><br /><br />


    <span class="subtitulo"><a href="https://www.facebook.com/DesarrolloEconomicodeIrapuato" target="_blank">Consulte más información</a></span><br /><br />


    <span class="subtitulo">Contenidos:</span><br />
    <ol>
        <li><a href="#" onclick="return desplazarse('registre_empresa_1')">Trámites para abrir negocios en México</a></li>
        <li><a href="#" onclick="return desplazarse('registre_empresa_2')">Cómo obtener registro fiscal federal y estatal</a></li>
        <li><a href="#" onclick="return desplazarse('registre_empresa_3')">Obligaciones fiscales federales, estatales y municipales</a></li>
        <li><a href="#" onclick="return desplazarse('registre_empresa_4')">Leyes aplicables a las empresas</a></li>
        <li><a href="#" onclick="return desplazarse('registre_empresa_5')">Organismos empresariales</a></li>
        <li><a href="#" onclick="return desplazarse('registre_empresa_6')">Registre el nombre de su empresa</a></li>
    </ol>

    <br /><br />

    <span class="subtitulo">Información y documentos de todos los permisos federales, estatales y municipales para aperturar una empresa </span><br /><br />

    <span class="subtitulo" id="registre_empresa_1">TRÁMITES PARA ABRIR NEGOCIOS EN MÉXICO</span><br />
    <span class="subtitulo">Nivel Federal:</span><br />
    <ol>
        <li>Inscripcion al <a href="https://www.sat.gob.mx/tramites/33804/inscribe-tu-empresa-en-el-rfc" target="_blank">Registro Federal de Contribuyentes</a> (RFC): consulta el régimen que más te convenga, según las actividades que tu empresa vaya a realizar.</li>
        <li>Inscripción del <a href="http://www.imss.gob.mx/tramites/alta-patronal" target="_blank">registro empresarial ante el IMSS</a></li>
        <li>Apertura del establecimiento ante la <a href="https://www.gob.mx/cofepris/acciones-y-programas/licencia-sanitaria-tramites" target="_blank">Secretaria de Salud</a></li>
        <li>Inscripción en el <a href="https://siem.economia.gob.mx/" target="_blank">Sistema de Información Empresarial Mexicano</a> (SIEM) ante la Secretaría de Economía </li>
        <li>Trámite del Registro de la <a href="https://www.gob.mx/tramites/ficha/solicitud-de-registro-de-marca-ante-el-impi/IMPI88" target="_blank">Propiedad</a>  </li>
        <li>Otros</li>
    </ol>


    <br />
    <span class="subtitulo">Nivel Estatal:</span><br />
    <ol>
        <li><a href="https://ventanillaciudadana.guanajuato.gob.mx/rec/rec1" target="_blank">Registro estatal de contribuyentes.</a> (SATEG)</li>
        <li>Impuesto sobre nómina</li>
        <li>Impuesto celular por arrendamiento</li>
        <li>Impuesto celular por servicios profesionales</li>
        <li>Otros</li>
    </ol>


    <br />
    <span class="subtitulo">Nivel Municipal:</span><br />
    <ol>
        <li><a href="https://sare.irapuato.gob.mx/" target="_blank">Licencias de uso de suelo</a>, edificación y/o construcción.</li>
        <li>Aviso de declaración de apertura o licencia de funcionamiento (varía según el caso)</li>
        <li>Otros</li>
    </ol>



    <br /><br /><br />
    <span class="subtitulo" id="registre_empresa_2">COMO OBTENER REGISTRO FISCAL FEDERAL Y ESTATAL</span><br />
    <br />

    <ol>
        <li>
            <span class="subtitulo">Registro Fiscal Federal:</span><br />

            <ol>
                <li>
                    ¿Dónde se presenta?

                    <ol>
                        <li>En el portal del SAT</li>
                        <li>En una oficina del SAT, prevía cita registrada en el Portal del SAT, SAT Móvil o Portal GOB.MX</li>
                        <li>En las oficinas de la Entidad Federativa que corresponda a tu domicilio, si optas por tributar en el Régimen de Incorporación Fiscal.</li>
                    </ol>
                </li>
            </ol>
        </li>


        <li>
            <span class="subtitulo"><a href="http://www.sat.gob.mx/gobmx/Paginas/ficha_39_cff.html" target="_blank">Requisitos en la oficina del SAT y en la Entidad Federativa Persona Fisica:</a></span><br />

            <ol>

                <li>Contar con Clave Única de Registro de Población (CURP)</li>
                <li>Comprobante de domicilio fiscal con una antigüedad no mayor de tres meses.</li>
                <li>Identificación oficial vigente</li>
                <li>Poder notarial para actos de administración, dominio o especiales en caso de representacion legal, o carta poder firmada ante dos testigos y ratificadas las firmas ante las autoridades fiscales o ante fedetario público (copia certificada), en caso que el contribuyente no pueda o en su caso desee que un apoderado realice el trámite. </li>
                <li><a href="https://www.sat.gob.mx/tramites/33804/inscribe-tu-empresa-en-el-rfc" target="_blank">Acuse de preinscripcion en el RFC</a>, si iniciaste el trámite por el Portal del SAT (original).</li>
                <li>En caso de que domicilio fiscal asignado, no sea de su propiedad debera proporcionar contrato de arrendamiento. </li>
            </ol>
        </li>
        <br />

        <li>
            <span class="subtitulo"><a href="http://www.sat.gob.mx/gobmx/Paginas/Ficha_43_cff.html" target="_blank">Requisitos en la oficina del SAT y en la Entidad Federativa</a> Persona Moral:</span><br />

            <ol>
                <li><a href="https://www.sat.gob.mx/tramites/33804/inscribe-tu-empresa-en-el-rfc" target="_blank">Acuse de preinscripcion en el RFC</a>, en caso de haber iniciado la solicituda través del Portal del SAT. </li>
                <li>Documento constitutivo protocolizado (copia certificada)</li>
                <li>Comprobante de domicilio fiscal con una antigüedad no mayor de tres meses.</li>
                <li>Poder notarial en caso de representación legal, que acredite la personalidad del representante legal (copia certificada)</li>
                <li>En caso de que domicilio fiscal asignado, no sea de su propiedad debera proporcionar contrato de arrendamiento.</li>
                <li>Aviso de inscripcion o aviso con la clave de Socio o Accionista ante Registro Federal de Contribuyentes de cada socio.</li>
                <li>Identificación oficial vigente del representante legal</li>
                <li>Personas morales diferentes del Título III de la Ley del Impuesto sobre la Renta, deberán contar con clave de RFC válido, de cada uno de los socios, accionistas o asociados dentro del acta constitutiva.</li>
                <li>
                    En el caso de personas morales y asociaciones en participación residentes en México que cuenten con socios, accionistas o asociados residentes en México que cuenten con socios, accionistas o asociados residentes en el extranjero que no están obligados a solicitar su inscripción en el RFC, utilizarán el RFC génerico siguiente:
                    <ol>
                        <li>Personas físicas: EXTF900101NI1</li>
                        <li>Personas Morales: EXT990101NI1</li>
                    </ol>
                </li>
            </ol>
        </li>

    </ol>





    <br /><br /><br />
    <span class="subtitulo" id="registre_empresa_3">OBLIGACIONES FISCALES FEDERALES, ESTATALES Y MUNICIPALES.</span><br />
    <br />
    <ol>
        <li>
            <a href="https://www.sat.gob.mx/consulta/30167/conoce-cuales-son-las-obligaciones-fiscales-del-regimen-de-actividades-empresariales" target="_blank">Las obligaciones como empresario son: </a>

            <ol>

                <li>Inscribirte en el RFC.</li>
                <li>Mantener actualizada tu información ante el RFC.</li>
                <li>Expedir tus facturas electronicas</li>
                <li>Llevar tu contabilidad</li>
                <li>Presentar tus declaraciones mensuales, declaracion anual y declaraciones informativas.</li>
                <li>Formular tu estado de posicion financiera y levantar el inventario de existencias al 31 de diciembre de cada año.</li>
                <li>Realizar la retencion del ISR e IVA, cuando pagues sueldos o salarios, servicios profesionales, arrendamiento.</li>
                <li>Calcular en la Declaración Anual del impuesto sobre la renta e Informativas.</li>
                <li>Participación de los trabajadores en las utilidades de la empresa (PTU).</li>
                <li>Otros</li>

            </ol>

        </li>
    </ol>




    <br /><br /><br />
    <span class="subtitulo" id="registre_empresa_4">LEYES APLICABLES A LAS EMPRESAS</span><br />
    <br />
    <p><a href="https://idconline.mx/juridico/2012/12/28/leyes-basicas-que-debe-conocer-todo-emprendedor" target="_blank">Leyes básicas</a> que deberá observar todo aquel que inicia un negocio.</p>
    <ol>
        <li><a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/144_140618.pdf" target="_blank">Ley General de Sociedades Mercantiles</a></li>
        <li><a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LISR_230421.pdf" target="_blank">Ley del Impuesto Sobre la Renta.</a></li>
        <li><a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/77_230421.pdf" target="_blank">Ley del Impuesto al Valor Agregado</a></li>
        <li>Ley del Impuesto especial sobre Produccion y Servicios.</li>
        <li><a href="https://www.sep.gob.mx/work/models/sep1/Resource/7dc3f003-329b-42ba-abb3-b7921ad2eda6/ley_propiedad_industrial.pdf" target="_blank">Ley de Propiedad Industrial</a></li>
        <li><a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LFPDPPP.pdf" target="_blank">Ley Federal de Protección de Datos</a></li>
        <li><a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/125_230421.pdf" target="_blank">Ley Federal del Trabajo</a></li>
        <li><a href="http://www.diputados.gob.mx/LeyesBiblio/pdf_mov/Ley_del_Seguro_Social.pdf" target="_blank">Leyes del seguro Social e Infonavit</a></li>
        <li><a href="http://www.diputados.gob.mx/LeyesBiblio/pdf_mov/Codigo_de_Comercio.pdf" target="_blank">Código de Comercio.</a></li>
        <li><a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/8_230421.pdf" target="_blank">Código Fiscal de la Federacion.</a></li>
        <li><a href="https://sppld.sat.gob.mx/pld/interiores/intro.html" target="_blank">Ley para la Prevención e Identificación de Operaciones con Recursos de Procedencia Ilicita.</a></li>
    </ol>




    <br /><br /><br />
    <span class="subtitulo" id="registre_empresa_5">ORGANISMOS EMPRESARIALES</span><br />
    <br />
    <ol>
        <li>Confederación Patronal de la Républica Mexicana  <a href="https://coparmex.org.mx/" target="_blank">COPARMEX</a></li>
        <li>Confederación de Cámaras Nacionales de Comercio, Servicios y Turismo <a href="https://www.concanaco.com.mx/?fbclid=IwAR3F63mzwOb4BfbC7zU1rkp-6AumvBGGkFApySXAPpoYNLNUG1SmM2bGupg" target="_blank">CONCANACO – SERVYTUR</a></li>
        <li>La Cámara de Comercio, Servicios y Turismo en Pequeño de Guanajuato <a href="https://www.canacoguanajuato.com/" target="_blank">CANACOPE GTO</a></li>
        <li>El Consejo Coordinador Empresarial  <a href="https://www.cceirapuato.org/" target="_blank">CCEI</a></li>
        @*<li>El Centro de Estudios Económicos del Sector Privado <a href="http://ceesp.org.mx/" target="_blank">CEESP</a></li>
        <li><a href="http://www.justiciamexico.mx/index.php" target="_blank">JUSTICIA MÉXICO</a></li>*@
        <li>Fundación para el Desarrollo Sostenible <a href="https://www.fundes.org/" target="_blank">FUNDES</a></li>
        <li>Comisión de Estudios del Sector Privado para el Desarrollo Sustentable <a href="https://cespedes.org.mx/" target="_blank">CESPEDES</a></li>
        <li>Consejo Mexicano De Comercio Exterior <a href="https://www.comce.org.mx/" target="_blank">COMCE</a></li>
        <li>Cámara Nal. De la Ind. De la Transformación <a href="https://canacintra.org.mx/camara/" target="_blank">CANACINTRA</li>
        <li>Conf. De Cámaras Ind. De los Estados Unidos Mexicanos <a href="https://www.concamin.org.mx/inicio" target="_blank">CONCAMIN</a></li>
    </ol>

    <br /><br /><br />




    <span class="subtitulo" id="registre_empresa_6">Registre el nombre de su empresa</span><br /><br />

    <div class="table-responsive">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <td colspan="3" style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">Registre el nombre de su empresa para protegerlo</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td colspan="3" style="text-align:center; font-size:15px; font-weight:bold;">Formas de registrar el nombre de su empresa</td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Signos Distintivos A</td>
                    <td>Marcas, Marcas Colectivas, Marcas de Certificación, Aviso Comercial o Nombre Comercial</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Signos Distintivos B</td>
                    <td>Marca Holográfica, Marca Sonora, Marca Olfativa, Imagen Comercial o la combinación de las anteriores</td>
                </tr>
            </tbody>
        </table>
    </div>


    <br /><br /><br /><br />

    <span class="subtitulo">Puede descargar un archivo de guía para registrarse y acceder al portal de "Marca en Línea" donde podrá realizar acciones como: Registro de una marca, Publicación de nombre comercial, entre otras: <a href="../../Estructura/Descargas/Guia_de_usuarioML.pdf" download="Guia_de_usuarioML.pdf">Descargar guía</a></span>

    <br /><br /><br />
    <div class="table-responsive">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <td colspan="3" style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Registro de Empresa ante el IMPI
                    </td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td colspan="3" style="text-align:center; font-size:15px; font-weight:bold;">
                        El registro te da el derecho al uso exclusivo en el territorio nacional por 10 años
                    </td>
                </tr>

                <tr>
                    <td colspan="3" style="text-align:center; font-size:15px; font-weight:bold;">
                        REQUISITOS
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>
                        Solicitud de Protección de Signos Distintivos A o Solicitud de Protección de Signos Distintivos B
                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>
                        Hoja adicional complementaria al punto "Datos generales del las personas
                    </td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>
                        Comprobante de pago
                    </td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>
                        Documento que acredita la personalidad del mandatario (este documento puede presentarse en copia certificada y su presentación es opcional)
                    </td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>
                        Constancia de inscripción en el Registro General de Poderes del IMPI (opcional)
                    </td>
                </tr>

                <tr>
                    <td>6</td>
                    <td>
                        Reglas de uso, solo si el signo distintivo se presenta por más de un solicitante (cotitularidad)
                    </td>
                </tr>

                <tr>
                    <td>7</td>
                    <td>
                        Hoja adicional complementaria al punto "Productos o servicios en caso de Marca o Aviso Comercial/Giro comercial preponderante"**
                    </td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>
                        Hoja adicional complementar al punto “Leyendas o figuras no reservables”**
                    </td>
                </tr>

                <tr>
                    <td>9</td>
                    <td>
                        Traducción de los documentos presentados en idioma distinto al español, en su caso
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td></td>
                </tr>

                <tr>
                    <td>10</td>
                    <td>
                        Legalización o apostilla de los documentos anexos provenientes del extranjero, en su caso
                    </td>
                </tr>

                <tr>
                    <td>11</td>
                    <td>
                        Otros, por ejemplo, carta consentimiento o documentos que acrediten la adquisición de un carácter distintivo derivado del uso en el comercio. Original o copia certificada
                    </td>
                </tr>

            </tbody>
        </table>
    </div>



    <br /><br /><br />


    <div class="table-responsive">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <td colspan="3" style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Para realizar tu trámite
                    </td>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>
                        En línea:

                        <ol>
                            <li>Obtén tu FIEL como persona física.</li>
                            <li>Regístrate para obtener un usuario y contraseña.</li>
                            <li>Captura la solicitud.</li>
                            <li>Adjunta los anexos correspondientes en formato PDF.</li>
                            <li>Realiza el pago en ventanilla bancaria o por transferencia electrónica.</li>
                            <li>Firma con tu FIEL.</li>
                            <li>Descarga el acuse electrónico.</li>
                            <li>Consulta periódicamente MARCANET para conocer el estatus de tu expediente.</li>
                            <li>Espera la respuesta del Instituto ya que puedes ser notificado a través de tu Tablero Electrónico en Marca en Línea.</li>
                        </ol>

                    </td>


                    <td>
                        Presencial:

                        <ol>
                            <li>Llena la solicitud.</li>
                            <li>Adjunta los anexos correspondientes.</li>
                            <li>Realiza el pago en ventanilla bancaria o por transferencia electrónica.</li>
                            <li>Acude a las oficinas autorizadas para recibir solicitudes y promociones.</li>
                            <li>Presenta la solicitud y sus anexos.</li>
                            <li>Guarda tu acuse de recibo.</li>
                            <li>Consulta periódicamente MARCANET para conocer el estatus de tu expediente.</li>
                            <li>Espera la respuesta del Instituto ya que puedes ser notificado en el domicilio que señales para oír y recibir notificaciones o bien, a través de la Gaceta de la Propiedad Industrial si así lo indicas en la solicitud.</li>
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <br /><br /><br />

    <div class="table-responsive">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <td colspan="3" style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Costos
                    </td>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>
                        Por el estudio de una solicitud nacional para el registro de una marca hasta la conclusión del trámite o, en su caso, la expedición del título.  (el costo no incluye IVA)*
                    </td>
                    <td>
                        $2,457.79 mxn
                    </td>
                </tr>
            </tbody>
        </table>
    </div>







    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('obtenga_numero')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Obtenga su RFC y su REC
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>
