﻿<section class="contenido" id="escoja_ubicacion">

    <p>[Lance su empresa / Escoja la ubicación de su empresa]</p>

    <span class="titulo">Escoja Ubicación</span>
    <br /><br /><br />


    <span class="subtitulo">
        La ubicación de su empresa determinará los impuestos, las leyes de zonificación y las regulaciones a las que estará sujeta. Necesita tomar una decisión estratégica sobre donde establecerá su empresa.
    </span><br /><br /><br />






    <span class="subtitulo">Contenidos:</span><br />
    <ol>
        <li><a href="#" onclick="return desplazarse('escoja_ubicacion_1')">Investigue el mejor lugar para ubicar su empresa</a></li>
        <li><a href="#" onclick="return desplazarse('escoja_ubicacion_2')">Gastos empresariales específicos de la región</a></li>
        <li><a href="#" onclick="return desplazarse('escoja_ubicacion_3')">Ordenanzas locales de zonificación</a></li>
        <li><a href="#" onclick="return desplazarse('escoja_ubicacion_4')">Ubicación</a></li>
        <li><a href="#" onclick="return desplazarse('escoja_ubicacion_5')">Impuestos estatales y locales</a></li>
        <li><a href="#" onclick="return desplazarse('escoja_ubicacion_6')">Incentivos de los gobiernos estatales y locales</a></li>
    </ol>
    <br /><br /><br /><br />







    <p>
        Busca los negocios existentes en tu área y planifica el futuro de tu futura empresa
    </p>
    <span class="subtitulo"><a href="https://www.inegi.org.mx/app/mapa/denue/default.aspx" target="_blank">Consultar empresas registradas</a></span>
    <br /><br /><br />




    <span class="subtitulo" id="escoja_ubicacion_1">Investigue el mejor lugar para ubicar su empresa</span><br />
    <p>
        El lugar que elija depende en parte de la ubicación de su mercado objetivo, sus socios comerciales y sus preferencias personales. Además, debe considerar también los costos, los beneficios y las restricciones de diferentes agencias gubernamentales.
    </p>
    <br /><br />



    <span class="subtitulo" id="escoja_ubicacion_2">Gastos empresariales específicos de la región</span><br />
    <p>
        Cuando <a href="#" onclick="cambiar_contenido('calcule_costos')"> calcule sus costos iniciales</a>, tome en cuenta que cada gasto puede ser mayor o menor según su ubicación.
    </p>

    <p>
        Los costos que varían significativamente son los salarios estándar (<a href="https://www.gob.mx/cms/uploads/attachment/file/602096/Tabla_de_salarios_m_nimos_vigente_a_partir_de_2021.pdf" target="_blank">leyes de salario mínimo</a>), el valor de las propiedades, los alquileres y los seguros comerciales, los servicios públicos y las licencias y tarifas gubernamentales.
    </p>
    <br /><br /><br />





    <span class="subtitulo" id="escoja_ubicacion_3">Ordenanzas locales de zonificación</span><br />
    <p>
        Si compra, alquila o construye una propiedad física en la que planee trabajar para su empresa, asegúrese de cumplir con los requisitos locales de zonificación.
    </p>

    <p>
        Por lo general, los barrios se delimitan para uso comercial o residencial. Las ordenanzas de zonificación pueden restringir o impedir por completo la operación de ciertos tipos de negocios en la zona.
    </p>

    <p>
        Podría tener menos restricciones de zonificación si establece su negocio en su casa, pero, de todos modos, las ordenanzas de zonificación pueden aplicarse incluso a empresas operadas en la casa.
    </p>

    <p>
        Las leyes de zonificación en general están controladas a nivel local, por lo que debe acudir al departamento de planeación municipal, u oficina similar, para averiguar qué leyes de zonificación se aplican en su caso.
    </p>
    <br /><br /><br />






    <span class="subtitulo" id="escoja_ubicacion_4">Ubicación</span><br />
    <p>
        Pepe y Mar&iacute;a examinaron lo que necesitaban en la ubicación de su negocio y encontraron el mejor lugar para abrir su taller de reparación de autos.
    </p>
    <p style="font-weight:bold;">
        <a href="https://www.inegi.org.mx/app/mapa/denue/default.aspx" target="_blank">Para saber más</a>
    </p>
    <br /><br />

    <span class="subtitulo" id="escoja_ubicacion_5">Impuestos estatales y locales</span><br />
    <p>
        Considere el panorama impositivo del estado, el condado y la ciudad. Los impuestos a las ganancias, las ventas y los inmobiliarios, así como los impuestos corporativos, pueden variar significativamente de un lugar a otro.
    </p>

    <p>
        De hecho, algunos estados son bien conocidos por crear un ambiente fiscal muy favorable para cierto tipo de compañías. Esa es una de las razones por las que los emprendimientos de tecnología, las instituciones financieras y la manufactura tienden a concentrarse en determinadas regiones del país.
    </p>
    <br /><br />


    <span class="subtitulo" id="escoja_ubicacion_6">Incentivos de los gobiernos estatales y locales</span><br />
    <p>
        Algunos gobiernos estatales y locales ofrecen créditos especiales a las pequeñas empresas. También podría encontrar préstamos para pequeñas empresas y otros incentivos financieros específicos de su estado.
    </p>

    <p>
        Los programas de incentivos y beneficios generalmente se relacionan con la creación de empleos, la eficiencia energética, el desarrollo urbano y la tecnología.
    </p>

    <p>
        <span class="negritas">
            Secretaría de Desarrollo Económico
        </span>
        <br />
        <a href="https://sde.guanajuato.gob.mx/sdes/programas/fortalecimiento-a-la-mipyme/" target="_blank">https://sde.guanajuato.gob.mx/sdes/programas/fortalecimiento-a-la-mipyme</a>
        <br />
        <span class="negritas">
            Desarrollo Económico
        </span>
        <br />
        <a href="https://www.facebook.com/DesarrolloEconomicodeIrapuato" target="_blank">https://www.facebook.com/DesarrolloEconomicodeIrapuato</a>
        <br />
        <span class="negritas">
            Turismo
        </span>
        <br />
        <a href="https://turismo.irapuato.gob.mx/" target="_blank">https://turismo.irapuato.gob.mx/ </a>
    </p>
    <br /><br /><br />






    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('escoja_estructura')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Escoja una estructura comercial
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>


</section>
