﻿<section class="contenido" id="obtenga_seguro">

    <p>[Lance su empresa / Optenga un seguro comercial]</p>

    <span class="titulo">Obtenga un seguro comercial</span>
    <br /><br /><br />


    <span class="subtitulo">
        El seguro comercial lo protege de los costos inesperados de manejar una empresa. Los accidentes, los desastres naturales y las demandas legales pueden sacarlo del negocio si no está protegido con el seguro adecuado.
    </span>


    <br /><br /><br />

    <p>
        Las empresas de cualquier sector se enfrentan a riesgos de diversa índole que ponen en juego su patrimonio y la seguridad de sus trabajadores. Por ello, debemos tomar medidas preventivas para estar protegidos y preparados para actuar ante cualquier eventualidad.
    </p>



    <div class="table-responsive">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <td colspan="2" style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        TIPOS DE SEGUROS PARA UN NEGOCIO
                    </td>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Responsabilidad civil y profesional
                        </p>
                    </td>

                    <td>
                        <p>
                            La responsabilidad civil responde a los daños a terceros, ya sean lesiones físicas o a su patrimonio, provocadas en el ejercicio de sus actividades, debido a errores, omisiones o accidentes.
                        </p>

                        <p>
                            La responsabilidad profesional se hace cargo de los daños ocasionados por negligencia o equivocaciones en el ejercicio profesional de un individuo.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Multirriesgo
                        </p>
                    </td>

                    <td>
                        <p>
                            Este seguro abarca cualquier incidente que pudiera ocurrir dentro del espacio donde se establece un negocio, como oficinas, local comercial o nave industrial. Su cobertura puede variar dependiendo del giro de la empresa y los riesgos más comunes a los que se enfrenta.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Deterioro o rotura de equipo
                        </p>
                    </td>

                    <td>
                        <p>
                            Cubre el daño o pérdida de equipo esencial para el funcionamiento del negocio, ya sea maquinaria o equipo electrónico, fijo o móvil.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Contra robo
                        </p>
                    </td>

                    <td>
                        <p>
                            Proporciona seguridad ante el posible robo de efectivo, mercancía, equipo y bienes que sean extraídos dentro de las instalaciones; incluso bienes de terceros que estén bajo responsabilidad de la empresa.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Decenal
                        </p>
                    </td>

                    <td>
                        <p>
                            Se otorga una garantía de diez años, de acuerdo con la Ley, que asegura la compra de un inmueble nuevo contra daños, vicios o defectos de construcción que perjudiquen la edificación.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Responsabilidad cibernética
                        </p>
                    </td>

                    <td>
                        <p>
                            En estos tiempos donde la tecnología se ha convertido en una herramienta esencial en las empresas, este seguro protege los datos electrónicos, sistemas de la información empresarial y posibles filtraciones o peligros cibernéticos.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Incendio
                        </p>
                    </td>

                    <td>
                        <p>
                            Protege mobiliario, equipo e inmuebles propios o alquilados en caso de este suceso.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Fenómenos meteorológicos
                        </p>
                    </td>

                    <td>
                        <p>
                            Cubre daños ocasionados por lluvia, inundaciones, huracanes, entre otros, y excluye sismos o erupción volcánica. A pesar de los frecuentes incidentes causados por desastres naturales, se calcula que solo el 5% de los pequeños negocios y el 15% de las pymes cuentan con un seguro de este tipo.
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            Interrupción de actividades
                        </p>
                    </td>

                    <td>
                        <p>
                            En caso de que la empresa deba suspender sus actividades de manera temporal a causa de algún incidente, este seguro cubre la pérdida real que haya tenido.
                        </p>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>

    <br /><br /><br />

    <span class="subtitulo">Medidas de prevención de riesgos en empresas </span><br />
    
    <p>
        Para evitar incidentes dentro de una empresa es necesario analizar los tipos de riesgos más probables de acuerdo con sus actividades, sector, situación geográfica, entre otros. Asimismo, tomar medidas preventivas y definir un plan de acción en el que se especifique el protocolo a seguir en caso de emergencia. 
    </p>





    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('administre_finanzas')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Administre sus finanzas
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

