﻿<section class="contenido" id="abra_cuenta">

    <p>
        [Lance su empresa / Abra una cuenta bancaria comercial]
    </p>
    <span class="titulo">Abra una cuenta bancaria comercial</span>
    <br /><br /><br />


    <span class="subtitulo">Contenidos:</span><br />
    <ol>
        <li><a href="#" onclick="return desplazarse('abra_cuenta_1')">Beneficios de las cuentas bancarias comerciales</a></li>
        <li><a href="#" onclick="return desplazarse('abra_cuenta_2')">Encuentre una cuenta con comisiones bajas y beneficios altos</a></li>
        <li><a href="#" onclick="return desplazarse('abra_cuenta_3')">Requisitos para aperturar una cuenta bancaria</a></li>
    </ol>
    <br /><br /><br />



    <span class="subtitulo" id="abra_cuenta_1">
        Abra una cuenta bancaria comercial cuando esté listo para empezar a recibir y gastar dinero a nombre de su empresa. Le ayuda a cumplir con las leyes y a estar protegido. También ofrece beneficios a sus clientes y empleados.
    </span>
    <br /><br />

    <span class="subtitulo">Beneficios de las cuentas bancarias comerciales</span><br />
    <p>
        Debe abrir una cuenta bancaria comercial en cuanto empiece a recibir y a gastar dinero a nombre de su empresa. Las cuentas comerciales más comunes son las de cheques, de ahorros, de tarjeta de crédito y la de servicios mercantiles        
    </p>

    <p>
        La mayoría de las cuentas bancarias comerciales ofrecen ventajas que no tienen las cuentas bancarias personales estándar.
    </p>

    <ul>
        <li>Protección. La cuenta bancaria comercial ofrece protección de responsabilidad personal limitada, mantiene los fondos de su empresa separados de sus fondos personales. Los servicios mercantiles también ofrecen protección en compras a sus clientes y garantizan la seguridad de su información personal.</li>
        <li>Profesionalismo. Los clientes podrán pagarle con tarjetas de crédito y emitir cheques para su empresa, no directamente para usted. Además, podrá autorizar a sus empleados a manejar las tareas bancarias cotidianas a nombre de la empresa.</li>
        <li>Preparación. Las cuentas bancarias comerciales generalmente tienen la opción de una línea de crédito para la compañía. Esto puede usarse en caso de emergencia o si la empresa necesita equipo nuevo.</li>
        <li>Poder de compra. Las cuentas de tarjeta de crédito pueden ayudarlo a hacer adquisiciones grandes para iniciar la empresa y le ayudan a establecer su historial de crédito.</li>
    </ul>
    <br /><br /><br />





    <span class="subtitulo" id="abra_cuenta_2">Encuentre una cuenta con comisiones bajas y beneficios altos</span><br />

    <p>
        Algunos empresarios abren la cuenta comercial en el mismo banco que usan para sus cuentas personales. Las tasas, las comisiones y las opciones varían con el banco, por lo que debe comparar para asegurarse de encontrar las comisiones más bajas y los mejores beneficios.
    </p>





    <br /><br /><br />
    <span class="subtitulo" id="abra_cuenta_3">REQUISITOS PARA APERTURAR UNA CUENTA BANCARIA</span><br />
    <br />

    <ol>
        <li>Realizar tu primer deposito por $10,000.</li>
        <li>Acta Constitutiva/ Apostillado o Certificado Consulat del Acta Constitutiva.</li>
        <li>Poderes notariados del o los representantes legales.</li>
        <li>RFC de la empresa.</li>
        <li>Comprobante de domicilio (no mayor a 3 meses).</li>
        <li>Identificación oficial de los representantes legales, apoderados y/o firmantes.</li>
        <li>Declaracion consular (para Persona Moral Extranjera).</li>
    </ol>







    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('obtenga_seguro')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Obtenga un seguro comercial
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

