﻿<section class="contenido" id="elija_nombre">

    <p>[Lance su empresa / Elija un nombre para su empresa]</p>

    <span class="titulo">Elija un nombre para su empresa</span>
    <br /><br /><br />

    <span class="subtitulo">
        Usted podrá encontrar el nombre más adecuado para su empresa con creatividad e investigación de mercado. Una vez que lo haya elegido, debe protegerlo registrándolo ante las autoridades correspondientes.
    </span><br /><br />



    <span class="subtitulo">Contenidos:</span><br />
    <ol>
        <li><a href="#" onclick="return desplazarse('escoja_nombre_1')">Registre el nombre de su empresa para protegerlo</a></li>
        <li><a href="#" onclick="return desplazarse('escoja_nombre_2')">Cuatro formas de registrar el nombre de su empresa</a></li>
    </ol>
    <br />

    <span class="subtitulo" id="escoja_nombre_1">Registre el nombre de su empresa para protegerlo</span><br />

    <ul>
        <li>
            <p>
                Le conviene elegir un nombre para su empresa que refleje la identidad de su marca y no choque con el tipo de bienes y servicios que ofrezca.
            </p>
        </li>

        <li>
            <p>
                Una vez que se haya decidido por un nombre que le guste, necesitará protegerlo.
            </p>
        </li>

        <li>
            <p>
                Cada una cumple un propósito diferente; algunas pueden ser obligatorias legalmente de acuerdo con la estructura empresarial y la ubicación.
            </p>

            <ul>
                <li>El nombre de la entidad lo protege en el ámbito estatal</li>
                <li>La marca comercial lo protege a nivel federal</li>
                <li>El nombre del dominio protege la dirección del sitio web de su empresa</li>
            </ul>
        </li>
    </ul>

    <br />
    <p>
        Cada uno de estos registros de nombre tiene independencia legal. La mayoría de las pequeñas empresas tratan de usar el mismo nombre en cada tipo de registro, pero normalmente no se requiere que lo hagan.
    </p>

    <br />

    <span class="subtitulo">¿Qué hay del nombre?</span><br />
    <ul>
        <li>
            Si es cierto no es fácil conseguir un nombre para tu empresa, pero intercambiando ideas podr&aacute;s lograr el nombre que mejor te identifique a ti y tu empresa
        </li>
    </ul>



    <span class="subtitulo" id="escoja_nombre_2"> Cuatro formas de registrar el nombre de su empresa </span>
    <br />
    <span class="subtitulo">Nombre de la Entidad</span>

    <p>
        El nombre de entidad puede proteger el nombre de su empresa a nivel estatal. Dependiendo de su estructura de empresa y ubicación, el estado puede requerir que registre el nombre de la entidad legal.
    </p>

    <p>
        El nombre de su entidad es la forma en que el estado identifica a su empresa. Cada estado puede tener reglas diferentes sobre lo que puede ser el nombre de la entidad y el uso de sufijos de la compañía. En la mayoría de los estados no se permite registrar un nombre ya registrado; algunos estados requieren que el nombre de entidad refleje el tipo de empresa que representa.
    </p>

    <p>
        En la mayoría de los casos, el registro de su nombre de entidad protege a su empresa e impide que alguien más en el estado opere con el mismo nombre de entidad. Sin embargo, hay excepciones respecto al estado y a la estructura de negocios.
    </p>

    <p>
        Consulte con su estado las reglas para registrar el nombre de su empresa.
    </p>

    <span class="subtitulo">
        Marca Comercial
    </span>

    <p>
        La marca comercial puede proteger el nombre de su empresa, bienes y servicios a nivel nacional. Las marcas comerciales impiden que otras personas en la misma industria (o similar) de México usen los nombres registrados como marcas comerciales.
    </p>

    <p>
        Por ejemplo, si usted tiene una compañía de electrónica y quiere llamarla Springfield Electronic Accessories y llamar Screen Cover 5000 a uno de sus productos, registrar como marcas comerciales esos nombres impediría que otras empresas de electrónica o de productos similares usaran los mismos nombres.
    </p>

    <p>
        En todos los estados, las empresas están sujetas a demandas por violación de marcas comerciales, que pueden resultar muy costosas. Es por eso que debe de cotejar los posibles nombres de la empresa, los productos y los servicios en la base de datos oficial de marcas comerciales.
    </p>

    <p>
        <span class="negritas">Ejemplo: </span>
    </p>

    <ul>
        <li> <a href="https://acervomarcas.impi.gob.mx:8181/marcanet" target="_blank"> P&aacute;gina en general </a> </li>
        <li><a href="https://acervomarcas.impi.gob.mx:8181/marcanet/vistas/common/datos/bsqDenominacionCompleto.pgi" target="_blank"> Buscador de Marcas </a>  </li>
    </ul>

    <br />
    <span class="subtitulo">Nombre con el que Opera (DBA)</span>
    <p>
        Podría necesitar registrar su DBA (también llamado nombre comercial, nombre ficticio y nombre asumido) ante el estado, el condado o la ciudad en la que esté situada su empresa.
    </p>
    <p>
        Y aunque no esté obligado a registrar un DBA, le conviene hacerlo de todos modos. Le permite hacer negocios con una identidad diferente a la de su nombre personal o del nombre legal de su compañía formal. Como ventaja adicional, registrar un DBA y obtener un número de identificación fiscal y se le conoce como RFC (Registro Federal de Contribuyentes) lo que le permitirá abrir una cuenta bancaria empresarial.
    </p>

    <span class="subtitulo">Nombre de dominio</span>

    <p>
        Si usted quiere que su empresa tenga presencia en línea, empiece por registrar un nombre de dominio, también llamado dirección del sitio web o URL.
    </p>

    <p>
        Una vez que registre su nombre de dominio, nadie más podrá usarlo en tanto siga siendo el dueño. Es una buena forma de proteger la presencia en línea de su marca.
    </p>

    <p>
        Si alguien más ya registró el dominio que usted quería usar, no se preocupe. El nombre de dominio de hecho no tiene que ser igual al nombre legal de la empresa, marca comercial o DBA. Por ejemplo, Springifield Electronic Accesories podría registrar el nombre de dominio techbuddyspringfield.com
    </p>

    <p>
        Usted registra su nombre de dominio a través de un servicio de registro, elija el que le ofrezca la mejor combinación de precio y servicio al cliente. Necesitará renovar el registro de su dominio de forma periódica.
    </p>

    <br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('registre_empresa')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Registre su empresa
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>


</section>
