﻿<section class="contenido" id="escoja_estructura">

    <p>[Lance su empresa / Escoja una estructura empresarial]</p>
    <span class="titulo">Escoja una estructura empresarial</span>
    <br /><br /><br />


    <span class="subtitulo">
        La estructura comercial que elija influye en todo, desde las operaciones cotidianas hasta el pago de impuestos y el riesgo de sus bienes personales. Debe elegir una estructura comercial que le dé el equilibrio adecuado de protección legal y beneficios.
    </span><br /><br /><br />


    <div class="table-responsive">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <td colspan="4" style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Elija una estructura comercial
                    </td>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td colspan="4" style="text-align:center; font-size:17px; font-weight:bold;">
                        La estructura de su empresa influye en el monto de impuestos que pagará, su capacidad de obtener dinero, la documentación que necesita presentar y sus responsabilidades personales.
                    </td>
                </tr>




                <tr>
                    <td>1</td>
                    <td>
                        Sociedad en comandita simple
                    </td>
                    <td>
                        Esta es una de las sociedades mercantiles en México de tipo personalista. Esto quiere decir que se puede realizar a gusto propio y con la existencia de socios colectivos.
                    </td>
                    <td>
                        "CAPITULO III
                        De la sociedad en comandita simple"
                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>
                        Sociedad en comandita por acciones
                    </td>
                    <td>
                        Está conformada por dos tipos de socios: los comanditados y los comanditarios.
                    </td>
                    <td>
                        "CAPITULO VI
                        De la sociedad en comandita por acciones"
                    </td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>
                        Sociedades de responsabilidad limitada
                    </td>
                    <td>
                        La responsabilidad de estas sociedades está limitada al capital aportado, por lo que el patrimonio personal de los socios no se verá afectado en caso de que se contraigan deudas.
                    </td>
                    <td>
                        "CAPITULO IV
                        De la sociedad de responsabilidad limitada"
                    </td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>
                        Sociedad Anónima
                    </td>
                    <td>
                        Existen bajo una denominación y están conformadas por socios que tienen cómo única obligación el pago de sus respectivas acciones.
                    </td>
                    <td>
                        "CAPITULO V
                        De la sociedad anónima"
                    </td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>
                        Sociedad Cooperativa
                    </td>
                    <td>
                        Ofrecen rendimientos por trabajo y consumo. Además, todos los socios deben pertenecer a la clase trabajadora.
                    </td>
                    <td>
                        "CAPITULO VII
                        De la sociedad cooperativa"
                    </td>
                </tr>

                <tr>
                    <td>6</td>
                    <td>
                        Sociedad en nombre colectivo
                    </td>
                    <td>
                        Se trata de aquella que existe bajo una razón social y que, además, demanda que todos los socios respondan a las obligaciones sociales de manera subsidiaria, ilimitada y solidaria.
                    </td>
                    <td>
                        "CAPITULO II
                        De la sociedad en nombre colectivo"
                    </td>
                </tr>

                <tr>
                    <td>7</td>
                    <td>
                        Sociedad por acciones simplificada.
                    </td>
                    <td>
                        Está diseñada para constituir micro y pequeñas empresas que facturen menos de cinco millones de pesos por año, donde la responsabilidad y participación se limita a los recursos aportados por cada socio
                    </td>
                    <td>
                        "CAPITULO XIV
                        De la sociedad por acciones simplificada"
                    </td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>
                        Sociedades de capital variable
                    </td>
                    <td>
                        El capital social será susceptible de aumento por aportaciones posteriores de los socios o por la admisión de nuevos socios, y de disminución de dicho capital por retiro parcial o total de las aportaciones,
                    </td>
                    <td>
                        "CAPITULO VIII
                        De las sociedades de capital variable"
                    </td>
                </tr>

                <tr>
                    <td>9</td>
                    <td>
                        Sociedad Civil
                    </td>
                    <td>
                        Son sociedades civiles las que se forman para negocios que la ley no califica como mercantiles.
                    </td>
                    <td>
                        Código Civil Federal. Artículo 2670
                    </td>
                </tr>

                <tr>
                    <td>10</td>
                    <td>
                        Sociedad de Producción Rural
                    </td>
                    <td>
                        Las Sociedades Rurales son asociaciones conformadas por sujetos de derecho social, con la finalidad de coordinar actividades productivas, de asistencia mutua y comercialización en sus núcleos agrarios. De acuerdo a esta ley existen 4 diferentes tipos de Sociedades Rurales:
                        <ul>
                            <li>
                                Unión de Ejidos o Unión de Ejidos y Comunidades.- Se pueden integrar por más de dos ejidos o comunidades.
                            </li>
                            <li>
                                Asociación Rural de Interés Colectivo (ARIC).- Podrán constituirse por dos o más ejidos, comunidades, uniones de ejidos o comunidades, sociedades de producción rural o uniones de producción rural.
                            </li>
                            <li>
                                Sociedades de Producción Rural (SPR).- Se constituyen por dos o más personas físicas.
                            </li>
                            <li>
                                Unión de Sociedades de Producción Rural (USPR).- Dos o más  sociedades de producción rural podrán constituir uniones con personalidad jurídica propia.
                            </li>
                        </ul>
                    </td>
                    <td>
                        Título Cuarto, Art. 108, de la Ley Agraria.
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <br />
    <p>Link ley correspondiente</p>
    <p><a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/144_140618.pdf">http://www.diputados.gob.mx/LeyesBiblio/pdf/144_140618.pdf</a></p>





    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('elija_nombre')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Elija un nombre para su empresa
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>



</section>
