﻿<section class="contenido" id="solicite_licencias">

    <p>[Lance su empresa / Solicite licencias y permisos]</p>

    <span class="titulo">Solicite licencias y permisos</span>
    <br /><br /><br />


    <span class="subtitulo">
        Por lo general, las pequeñas empresas necesitan una combinación de licencias y permisos. Los requisitos y cargos varían con su actividad empresarial, su ubicación y las normas oficiales.
    </span><br /><br />


    <span class="subtitulo"><a href="https://www.facebook.com/DesarrolloEconomicodeIrapuato" target="_blank">Consulte la página de Facebook</a></span>

    <br /><br />

    <span class="subtitulo"><a href="https://digital.irapuato.gob.mx" target="_blank">Consulte su tramite necesario</a></span>


    <br /><br /><br />
    <p>
        El establecimiento o constitución de un negocio o empresa requiere el cumplimiento de ciertos requisitos y trámites legales ante autoridades gubernamentales, privadas y sociales. 
    </p>

    <p>
        A continuación, se enumeran algunas de las dependencias a las que deberá acudirse y los trámites que deben realizarse:
    </p>
    <br />



    <div class="table-responsive">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Dependencia
                    </td>

                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Trámites
                    </td>                    
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            1. Secretaría de Relaciones Exteriores (en el caso de sociedades)
                        </p>
                    </td>

                    <td>
                        <p>
                            La Secretaría de Relaciones Exteriores (SRE), por medio de la Dirección General de Permisos, artículo 27 constitucional, autoriza la constitución de una sociedad. Aquí la SRE resuelve si la denominación o razón social no está registrada con anterioridad y autoriza la determinación del objeto social.
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            2. Notario Público/Registro Público de Comercio (en el caso de sociedades)
                        </p>
                    </td>

                    <td>
                        <p>
                            La constitución de la sociedad se formaliza mediante un contrato social denominado escritura constitutiva, que establece los requisitos y reglas a partir de las cuales habrá de funcionar la sociedad. Entre otras cosas contienen:
                        </p>

                        <ul>
                            <li>Datos generales de los socios.</li>
                            <li>Objeto social.</li>
                            <li>Denominación o razón social.</li>
                            <li>Duración de la sociedad.</li>
                            <li>Importe del capital social.</li>
                            <li>Domicilio social.</li>
                            <li>Órgano de administración.</li>
                            <li>Vigilancia.</li>
                            <li>Bases para la liquidación.</li>
                        </ul>

                        <p>
                            Este contrato, también llamado “estatutos” debe ser otorgado en escritura (notarizado) ante notario público, e inscrito en el Registro Público de Comercio de la SECOFI, dentro de los 15 días siguientes a su suscripción.
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            3. Secretaría de Hacienda y Crédito Público Dentro del mes siguiente a:
                        </p>
                    </td>

                    <td>
                        <ul>
                            <li>
                                Su constitución, las sociedades (personas morales).                                
                            </li>

                            <li>
                                Haber realizado situaciones jurídicas que de hecho den lugar a presentación de declaraciones periódicas (apertura), las personas físicas con actividades empresariales y las personas morales residentes en el extranjero deben solicitar su inscripción en el Registro Federal de Contribuyentes de la secretaria de Hacienda y Crédito Público (forma HRFC-1, en original y cinco copias), donde reciben una clave que les identifica en lo subsecuente ante la autoridad fiscal.
                            </li>
                        </ul>

                        <p>                            
                            También la SHCP mantiene el Padrón de Proveedores de la Administración Pública Federal, al que deben registrarse las empresas o personas que deseen efectuar transacciones comerciales con las diferentes dependencias de la administración pública.
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            4. Gobierno Municipal/Gobierno del Distrito Federal
                        </p>
                    </td>

                    <td>
                        <p>
                            Ciertas actividades o giros de negocio requieren de Licencia de funcionamiento expedida por el gobierno municipal de la localidad donde se asientan. Esta licencia (o en su caso la declaración de apertura para el inicio de operaciones) deberá mantenerse siempre a la vista.
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            5. Secretaría de Salud
                        </p>
                    </td>

                    <td>
                        <p>
                            Las actividades relacionadas con la salud humana requieren obtener, en un plazo no mayor de 30 días, de la Secretaría de Salud o de los gobiernos estatales una autorización que podrá tener la forma de: Licencia Sanitaria, Permiso Sanitario, Registro Sanitario, Tarjetas de Control Sanitario. Esta licencia tiene por lo general una vigencia de dos años y debe revalidarse 30 días antes de su vencimiento.
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            6. Instituto Mexicano del Seguro Social
                        </p>
                    </td>

                    <td>
                        <p>
                            El patrón (la empresa o persona física con actividades empresariales) y los trabajadores deben inscribirse en el Instituto Mexicano del Seguro Social (IMSS), dentro de un plazo no mayor de cinco días de iniciadas las actividades. Al patrón se le clasificará de acuerdo con el Reglamento de Clasificación de Empresas y denominación del Grado de Riesgo del Seguro del Trabajo, base para fijar las cuotas que deberá cubrir.
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            7. Institución Bancaria
                        </p>
                    </td>

                    <td>
                        <p>
                            En el banco seleccionado se abre la cuenta de cheques y se recurre a solicitar financiamiento, se paga todo tipo de impuestos (al igual que servicios tales como electricidad, teléfonos y gas entre otros) y se presentan declaraciones, aun cuando no originen pago. De igual manera, el patrón y los trabajadores deben inscribirse ante el Sistema de Ahorro para el Retiro (Subcuentas IMSS e Infonavit, forma SAR-01-1, SAR-01-2, SAR-04-1 o sus equivalentes medios magnéticos) En l banco, más adelante se depositarán en forma bimestral las aportaciones correspondientes.
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            8. Sistema de información Empresarial Mexicano
                        </p>
                    </td>

                    <td>
                        <p>
                            De acuerdo con la Ley de Cámaras Empresariales y sus Confederaciones, todas las tiendas, comercios, fábricas, talleres o negocios deben registrarse en el Sistema Empresarial Mexicano (SIEM) con lo cual tendrían la oportunidad de aumentar sus ventas, acceder a información de proveedores y clientes potenciales, obtener información sobre los programas de apoyo a empresas y conocer sobre las licitaciones y programas de compras del gobierno.
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            9. Coparmex
                        </p>
                    </td>

                    <td>
                        <p>
                            En forma opcional, el patrón puede inscribirse en la Confederación Patronal de la República Mexicana (Coparmex)
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            10. Sindicato
                        </p>
                    </td>

                    <td>
                        <p>
                            Aun cuando no existe obligación legal de afiliar a los trabajadores ante algún sindicato, los trabajadores pueden constituirse en sindicato cuando se conjunten más de veinte trabajadores en activo. En la práctica los diferentes sindicatos, reconocidos por las autoridades del trabajo en el ámbito federal o local, buscan forzar la contratación colectiva de los trabajadores y su respectiva afiliación, por lo que es conveniente entablar pláticas con alguna central obrera antes de constituirse, y así no tener que negociar bajo presión.
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            11. Instituto Nacional de Estadística, Geografía e Informática
                        </p>
                    </td>

                    <td>
                        <p>
                            Al iniciar operaciones y posteriormente cada año, se debe dar aviso de manifestación estadística ante la Dirección General de Estadística, dependiente del Instituto Nacional de Estadística, Geografía e Informática (INEGI)
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            12. Secretaría de Comercio y Fomento Industrial
                        </p>
                    </td>

                    <td>
                        <p>
                            Esta secretaría (SECOFI) debe verificar y autorizar todos los instrumentos de medidas y pesas que se unen como base u objeto de alguna transacción comercial. Reglamenta y registra las Normas Oficiales Mexicanas (NOM) que son obligatorias para ciertos productos (instrumentos de medición y prueba, ropa y calzado, salud, contaminantes, entre otros). También existen normas opcionales, cuya adopción permite la autorización para el uso del sello oficial de garantía, siempre y cuando se cumplan con las especificaciones de un sistema de control de calidad. Así mismo puede emitir, a petición y según previa comprobación, un certificado oficial de calidad. La SECOFI estipula y controla los registros de las marcas, nombres comerciales, patentes y otras formas de propiedad industrial. Cuando la empresa tiene acciones o socios extranjeros se deberá inscribir en el Registro Nacional de Inversión Extranjera que se lleva en la SECOFI. Por último, se recomienda visitar el sitio web de esta secretaría www.siem.gob.mx porque en ella se localizan muy diversos programas de apoyo para las empresas que radican en el país.
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            13. Secretaría del Medio Ambiente, Recursos Naturales y Pesca
                        </p>
                    </td>

                    <td>
                        <p>
                            Las empresas que emitan a la atmósfera olores, gases, o partículas sólidas o liquidas deben solicitar una licencia de funcionamiento expedida por esta secretaria (SEMARNAP). Estas emisiones deberán sujetarse a los parámetros máximos permitidos por la ley.
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            14. Secretaría del Trabajo y Previsión Social
                        </p>
                    </td>

                    <td>
                        <p>
                            Todos los negocios deben cumplir con el Reglamento Federal de Seguridad, Higiene y Medio Ambiente de Trabajo y Normas Relativas que se presenta en el capítulo sobre Instalaciones: ubicación y servicios auxiliares y en los Anexos de este documento.
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            15. Comisión Nacional del Agua
                        </p>
                    </td>

                    <td>
                        <p>
                            En caso de no estar conectado a alguna red de agua potable y alcantarillado se debe solicitar permiso ante la Comisión Nacional del Agua para obtener derechos de extracción de agua del subsuelo, y de igual manera se deben registrar las descargas. En ambos casos se origina el pago de derechos.
                        </p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="font-weight:bold;">
                            16. Otras autorizaciones
                        </p>
                    </td>

                    <td>
                        <p>
                            Como las relativas a la Comisión Federal de Competencia, Comisión Federal de Electricidad, Instituto Mexicano de la Propiedad Industrial, entre otras. De manera complementaría le sugerimos consultar la sección de trámites obligatorios que presenta el subsistema Primer contacto en el sitio web www.siem. gob.mx
                        </p>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>





    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('abra_cuenta')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Abra una cuenta bancaria comercial
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>

</section>

