﻿@{
    ViewBag.Title = "Login";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gu&iacute;a Emprende</title>


    <!--Menu desplegable-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>


    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~../../../../Estructura/imagenes/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/vendor/lightbox2/css/lightbox.min.css">
    <!--===============================================================================================-->    

    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/css/util.css">
    <link rel="stylesheet" type="text/css" href="~../../../../Estructura/css/main.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .contenedor_login {
            padding: 20px 50px;
            border-radius: 10px;
            background-color: white;
            width: 450px;
            height: 460px;
            position: absolute;
            top: 100px;
            left: 32%;
        }

        @@media only screen and (max-width: 840px)  {

            .contenedor_login {
                padding: 20px 20px;                
                width: 400px;
                height: 460px;
                position: absolute;
                top: 100px;
                left: 5px;
            }
        }

    </style>

</head>
<body>

    <div style="background-color:cornflowerblue; height:200px; width:100%; padding:20px 40px;">
        <img src="~/Estructura/imagenes/icons/logo2_1.png" style="width:200px;" />
    </div>

    <div class="contenedor_login">

        <form id="frm_login">

            <h2 style="text-align:center; font-weight:bold;">Inicio de sesi&oacute;n</h2>

            <div class="row" style="margin-top:40px;">
                <div class="col-lg-12">
                    <label for="txt_mail">Correo :</label>
                    <input type="text" id="txt_mail" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-lg-12">
                    <label for="txt_clave">Contraseña :</label>
                    <input type="password" id="txt_clave" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                </div>
            </div>

            <div class="row" style="margin-top:30px;">
                <div class="col-lg-12">
                    <button class="btn btn-primary" id="btn_login" style="width:100%;">Ingresar</button>
                </div>
            </div>

            <br />
            <button type="button" class="btn btn-link" onclick="return mostrar_registro()">¿Aún no tienes cuenta? Regístrate</button>

            <br />
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <a href="@Url.Action("Password","Recuperar", new { returnUrl = Request.Url.PathAndQuery})" class="btn btn-primary btn-sm"> Recuperar constrase&ntilde;a </a>
                    </div>

                    <div class="pull-right">
                        <a class="btn btn-primary btn-sm" href="@Url.Action("Index","Home")">Regresar a la plataforma</a>
                    </div>

                </div>

            </div>


        </form>


        <form id="frm_registro" style="display:none;">

            <h2 style="text-align:center; font-weight:bold;">Regístrate con tu información</h2>

            <div class="row" style="margin-top:40px;">
                <div class="col-lg-12">
                    <label for="txt_nombre_rg">Nombre :</label>
                    <input type="text" id="txt_nombre_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-lg-12">
                    <label for="txt_apellido_p_rg">Apellido Paterno :</label>
                    <input type="text" id="txt_apellido_p_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-lg-12">
                    <label for="txt_apellido_m_rg">Apellido Materno :</label>
                    <input type="text" id="txt_apellido_m_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-lg-12">
                    <label for="txt_mail_rg">Correo :</label>
                    <input type="text" id="txt_mail_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-lg-12">
                    <label for="txt_clave_rg">Contraseña :</label>
                    <input type="password" id="txt_clave_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-lg-12">
                    <label for="txt_telefono_rg">Telefono :</label>
                    <input type="text" id="txt_telefono_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-lg-12">
                    <label for="txt_empresa_rg">Empresa :</label>
                    <input type="text" id="txt_empresa_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                </div>
            </div>

            <div class="row" style="margin-top:30px;">
                <div class="col-lg-12">
                    <button class="btn btn-success" id="btn_registrarse" style="width:100%;">Registrarse</button>
                </div>
            </div>

            <br />
            <a href="#" onclick="return mostrar_login()">¿Ya tienes cuenta? Inicia sesión</a>
            <br />
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        @*<a href="@Url.Action("Password","Recuperar", new { returnUrl = Request.Url.PathAndQuery})" class="btn btn-primary btn-sm"> Recuperar constrase&ntilde;a </a>*@
                    </div>

                    <div class="pull-right">
                        <a class="btn btn-primary btn-sm" href="@Url.Action("Index","Home")">Regresar a la plataforma</a>
                    </div>

                </div>
           
            </div>
           
        </form>

    </div>


    <div style="width:100%; height:500px; background-color:lightgray;" class="fondo_gris"></div>




    <footer class="bg1">

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 p-t-50">
                    <!-- - -->
                    <h4 class="txt13 m-b-33">
                        Cont&aacute;ctanos
                    </h4>

                    <ul class="m-b-70">
                        <li class="txt14 m-b-14">
                            <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            Blvd. Luis Donaldo Colosio Plaza Don Bosco local AP-19 Col. Independencia cp.- 36666
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            462-217-5459
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                            direccion@coparmexirapuato.org
                        </li>
                        <li class="txt14 m-b-14">
                            <img src="~/Estructura/imagenes/icons/caparmex_blanco.png" style="height:70px;width:70px" />
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            Boulevard Villas #169, Plaza Vips edificio C. Locales 5 y 6
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            462-688-7558
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                            rsanchez@guiaemprende.org
                        </li>
                        <li class="txt14 m-b-14">
                            <img src="~/Estructura/imagenes/icons/logo_rsm_blanco.png" style="height:70px;width:120px" />
                        </li>


                    </ul>

                </div>

                <div class="col-sm-6 col-md-4 p-t-50">
                    <h4 class="txt13 m-b-32">
                        Horario de atención
                    </h4>

                    <ul>
                        <li class="txt14">
                            Lunes a viernes
                        </li>

                        <li class="txt14">
                            9:00 AM - 2:00 PM y 4:00 PM - 6:00 PM
                        </li>
                    </ul>

                    <br /><br /><br />
                    <a href="@Url.Action("Index","AvisoPrivacidad")" style="font-size:18px; color:white;">Aviso de Privacidad</a>
                    <br />
                    <a href="@Url.Action("Index","EticaCorporativa")" style="font-size:18px; color:white;">Ética Corporativa</a>
                </div>

                <div class="col-sm-6 col-md-4 p-t-50">
                    <!-- - -->
                    <h4 class="txt13 m-b-38">
                        Colaboradores
                    </h4>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="~/Estructura/imagenes/icons/banner_tres_logos_nuevos.png"
                                 style="height:70px" />
                        </div>
                    </div>

                    @*<div class="row" style="margin-top:40px;">
                        <p class="txt14 m-b-14">
                            This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="end-footer bg2">
            <div class="container">
                <div class="flex-sb-m flex-w p-t-22 p-b-22">

                    <div class="txt17 p-r-20 p-t-5 p-b-5">
                        © 2021 Conectividad y Telecomunicación SA de CV  CONTEL
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script type="text/javascript">

        @*var sessionTimeoutWarning = @Session.Timeout- 1;

        var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
        setTimeout('SessionEnd()', sTimeout);

        function SessionEnd() {
            window.location.href = "@Url.Action("Salir", "UsuariosVisitantes")";
        }*@

    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>


    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="~../../../../Estructura/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~../../../../Estructura/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="~../../../../Estructura/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/parallax100/parallax100.js"></script>
    <script type="text/javascript">
        $('.parallax100').parallax100();

        var Ruta_Panel_Control = '@Url.Action("Panel_Control", "UsuariosVisitantes")';
    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../../../Estructura/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Aplicativo/UsuariosVisitantes/login.js?3"></script>



    @*<script src="~../../../../Estructura/js/main.js"></script>*@

</body>
</html>

