﻿
@{
    Layout = null;
}






@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


<script src="~/Estructura/js/bootbox.min.js"></script>

<!--===============================================================================================-->
<script type="text/javascript" src="~../../../../Estructura/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~../../../../Estructura/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~../../../../Estructura/vendor/bootstrap/js/popper.js"></script>
<script type="text/javascript" src="~../../../../Estructura/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~../../../../Estructura/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~../../../../Estructura/vendor/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="~../../../../Estructura/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~../../../../Estructura/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="~../../../../Estructura/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~../../../../Estructura/vendor/parallax100/parallax100.js"></script>
<script type="text/javascript">
    $('.parallax100').parallax100();
    var Ruta_Panel_Control = '@Url.Action("Panel_Control", "UsuariosVisitantes")';
</script>
@*<!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~../../../../Estructura/vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../../../Estructura/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->*@


<script src="~/Scripts/Aplicativo/UsuariosVisitantes/login.js?5"></script>


<div class="modal" id="Ventana_Login_Nueva" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Ingresa para recibir asistencia personalizada</h2>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <form id="frm_login">

                    <h2 style="text-align:center; font-weight:bold;">Inicio de sesi&oacute;n</h2>

                    <div class="row" style="margin-top:40px;">
                        <div class="col-lg-12">
                            <label for="txt_mail">Correo :</label>
                            <input type="text" id="txt_mail" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px;">
                        <div class="col-lg-12">
                            <label for="txt_clave">Contraseña :</label>
                            <input type="password" id="txt_clave" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:30px;">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" id="btn_login" style="width:100%;">Ingresar</button>
                        </div>
                    </div>

                    <br />
                    <a href="#" onclick="return mostrar_registro()">¿Aún no tienes cuenta? Regístrate</a>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                               
                            </div>

                            <div class="pull-right">
                                <a href="@Url.Action("Password","Recuperar", new { returnUrl = @Url.Action("Index","Home")})" class="btn btn-primary btn-sm"> Recuperar constrase&ntilde;a </a>
                            </div>

                        </div>

                    </div>

                </form>


                <form id="frm_registro" style="display:none;">

                    <h2 style="text-align:center; font-weight:bold;">Regístrate con tu información</h2>

                    <div class="row" style="margin-top:40px;">
                        <div class="col-lg-12">
                            <label for="txt_nombre_rg">Nombre :</label>
                            <input type="text" id="txt_nombre_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px;">
                        <div class="col-lg-12">
                            <label for="txt_apellido_p_rg">Apellido Paterno :</label>
                            <input type="text" id="txt_apellido_p_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px;">
                        <div class="col-lg-12">
                            <label for="txt_apellido_m_rg">Apellido Materno :</label>
                            <input type="text" id="txt_apellido_m_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px;">
                        <div class="col-lg-12">
                            <label for="txt_mail_rg">Correo :</label>
                            <input type="text" id="txt_mail_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px;">
                        <div class="col-lg-12">
                            <label for="txt_clave_rg">Contraseña :</label>
                            <input type="password" id="txt_clave_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px;">
                        <div class="col-lg-12">
                            <label for="txt_telefono_rg">Telefono :</label>
                            <input type="text" id="txt_telefono_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px;">
                        <div class="col-lg-12">
                            <label for="txt_empresa_rg">Empresa :</label>
                            <input type="text" id="txt_empresa_rg" class="form-control" style="width:100%; background-color:#dbdbdb;" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:30px;">
                        <div class="col-lg-12">
                            <button class="btn btn-success" id="btn_registrarse" style="width:100%;">Registrarse</button>
                        </div>
                    </div>

                    <br />
                    <a href="#" onclick="return mostrar_login()">¿Ya tienes cuenta? Inicia sesión</a>

                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>