﻿
@{
    ViewBag.Title = "Panel_Control";
}

@section style{
    
    <style>
        .notificacion{
            color:white;
            background-color:red;
            border-radius:10px;
            padding:0px 10px 0px 10px;
            font-size:15px;
            font-weight:bold;
            float:right;
        }

        hr {
            height: 2px;
            background-color: black;
        }

        a:hover{
            cursor:pointer;
        }

        .contenedor-mensajes {
            height: 500px;
            max-height: 500px;
            overflow-y: scroll;
        }
    </style>
}

@section scripts{

    <script src="~/Scripts/Aplicativo/UsuariosVisitantes/panel_control.js"></script>

    <script type="text/javascript">

        var sessionTimeoutWarning = @Session.Timeout- 1;

        var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
        setTimeout('SessionEnd()', sTimeout);

        function SessionEnd() {
            window.location.href = "@Url.Action("Salir", "UsuariosVisitantes")";
        }

    </script>
}


<input type="hidden" id="usuario_id" value="@ViewData["usuario_id"]"/>

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(../../Estructura/imagenes/panel_control.png);">
    <div style="width:100%; height:100%; text-align:center; color:white;">
        <h1 style="font-size:60px; font-weight:bold; margin-bottom:40px;">Panel de Control</h1>
        <h2>@ViewData["nombre_usuario"]</h2>        
    </div>
</section>

<br /><br /><br />

<div style="background-color:whitesmoke; width:90%; padding:20px 30px 30px 20px; margin:0px auto;">

    <div class="row">
        <div class="col-4" id="columna_clasificaciones" style="margin-bottom:30px;">

            <a class="btn btn-primary" href="@Url.Action("Salir","UsuariosVisitantes")" style="width:90%"> Salir del Panel </a>
            <br />
            <br />
            <a class="btn btn-success" style="width:90%;" href="@Url.Action("Encontrar_Ayuda_Cercana","AsistenciaLocal")">Hacer una nueva pregunta</a>
            <br />
            <br />
            <div class="list-group" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-recibidas-list" data-toggle="list" href="#list-recibidas" role="tab" aria-controls="recibidas">Respuestas Recibidas<div class="notificacion" style="display:none;"><label id="notificacion_recibidas">1</label></div></a>
                <a class="list-group-item list-group-item-action" id="list-leidas-list" data-toggle="list" href="#list-leidas" role="tab" aria-controls="leidas">Respuestas Leídas</a>
                <a class="list-group-item list-group-item-action" id="list-pendientes-list" data-toggle="list" href="#list-pendientes" role="tab" aria-controls="pendientes">Preguntas Pendientes</a>
            </div>
        </div>

        <div class="col-8" id="columna_contenido" style="margin-bottom:30px;">
            <div class="tab-content mentores_content">

                <div class="tab-pane fade show active" id="list-recibidas" role="tabpanel" aria-labelledby="list-recibidas-list">

                    <h3 style="width:100%; text-align:left; font-weight:bold;">Nuevas respuestas Recibidas</h3>
                    <hr /><br />

                    <div class="list-group contenedor-mensajes" id="lista_respuestas_nuevas">

                        <!--<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 style="font-weight:bold; font-size:20px">Roberto Cruz Rangel</h4>
                                <small>15/07/2021</small>
                            </div>
                            <small style="font-size:15px; font-weight:bold;">Especialidad: SAT</small>
                            <br />
                            <small style="font-size:15px;">Aqui va la respuesta</small>
                        </a>-->                    

                    </div>

                </div>




                <div class="tab-pane fade" id="list-leidas" role="tabpanel" aria-labelledby="list-leidas-list">
                    <h3 style="width:100%; text-align:left; font-weight:bold;">Respuestas Leídas</h3>
                    <hr /><br />

                    <div class="list-group contenedor-mensajes" id="lista_respuestas_contestadas">

                        <!--<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 style="font-weight:bold; font-size:20px">Roberto Cruz Rangel</h4>
                                <small>15/07/2021</small>
                            </div>
                            <small style="font-size:15px; font-weight:bold;">Especialidad: SAT</small>
                            <br />
                            <small style="font-size:15px;">Aqui va la respuesta</small>
                        </a>-->

                    </div>

                </div>
                



                <div class="tab-pane fade" id="list-pendientes" role="tabpanel" aria-labelledby="list-pendientes-list">
                    <h3 style="width:100%; text-align:left; font-weight:bold;">Preguntas pendientes de responder</h3>
                    <hr /><br />

                    <div class="list-group contenedor-mensajes" id="lista_preguntas_pendientes">

                        <!--<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 style="font-weight:bold; font-size:20px">Roberto Cruz Rangel</h4>
                                <small>15/07/2021</small>
                            </div>
                            <small style="font-size:15px; font-weight:bold;">Especialidad: SAT</small>
                            <br />
                            <small style="font-size:15px;">Aqui va la respuesta</small>
                        </a>-->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br /><br /><br /><br />



<input type="hidden" id="hid_respuesta_id"/>

<div class="modal" tabindex="-1" role="dialog" id="modal_conultar_mensaje">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Información Mensaje</h3>                    
            </div>
            <div class="modal-body" style="padding:10px 30px 10px 30px;">

                <div class="row">
                    <div class="col-lg-12">
                        <label id="lbl_fecha" style="width:100%; text-align:right;">2020/07/12</label>
                        <br />
                        <label style="font-size:15px;">pregunta para: </label><br />
                        <label id="lbl_nombre_mentor" style="font-size:20px;">Respuesta de: </label>
                        <br />
                        <label id="lbl_especialidad">Especialidad: </label>
                    </div>
                </div>

                <div class="row" style="margin-top:30px;">
                    <div class="col-lg-12">
                        <label for="txt_pregunta">Tu pregunta:</label>
                        <textarea id="txt_pregunta" readonly="readonly" rows="3" class="form-control" style="resize:none; width:100%;"></textarea>
                    </div>
                </div>

                <div class="row" style="margin-top:30px;">
                    <div class="col-lg-12">
                        <label for="txt_respuesta">Respuesta :</label>
                        <textarea id="txt_respuesta" readonly="readonly" rows="5" class="form-control" style="resize:none; width:100%;"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

