﻿@model IEnumerable<PruebaEmpresa.Models.CargosView>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_LayoutPageProveedor.cshtml";
}

<div class="page-header ">
    <h3>Cargos</h3>
</div>

<div class="panel panel-primary">

    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> Listado </h4>

        <div class="btn-group pull-right">
                <a class="btn btn-success btn-sm" href="@Url.Action("Registrar","Cargos")">Nuevo</a>
        </div>


    </div>

    <div class="panel-body">

        <div class="table-responsive">

            <table class="table table-bordered table-striped">
                <tr>

                    <th>Nombre Cargo</th>
                    <th>Precio</th>
                    <th>D&iacute;as</th>
                    <th>Estatus</th>
                    <th>Producto Stripe</th>
                    <th></th>
                </tr>

                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Nombre_Cargo</td>
                        <td>@item.Precio</td>
                        <td>@item.Dias </td>
                        <td>@item.Estatus </td>
                        <td>@item.ProductoFinancieroID</td>
                        <td style="text-align:center">
                            <a class="btn btn-primary btn-sm" href='@Url.Action("Registrar", "Cargos", new { Cargo_ID = item.Cargo_ID })'>
                                Editar
                            </a>
                            &nbsp;&nbsp;
                            <a class="btn btn-danger btn-sm" href='@Url.Action("Eliminar", "Cargos", new { Cargo_ID = item.Cargo_ID })'>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                }

            </table>

        </div>


    </div>


</div>

