﻿<section class="contenido" id="redacte_plan">

    <p>[Planifique su empresa / Redacte su plan de negocios]</p>
    <span class="titulo">Redacte su plan de negocios</span>
    <br /><br /><br />


    <p>
        Su plan de negocio es el fundamento de su negocio. Aprenda a escribir, de forma fácil y eficiente, un plan de negocio con un modelo de plan de negocio.
    </p>
    <br /><br />


    <span class="subtitulo">Contenidos:</span><br />
    <ol>
        <li><a href="#" onclick="return desplazarse('redaque_plan_1')">Los planes de negocios le ayudan a operar su negocio</a></li>
        <li><a href="#" onclick="return desplazarse('redaque_plan_2')">Elije un formato de plan de negocio</a></li>
    </ol>
    <br /><br /><br />


    <span class="subtitulo" id="redaque_plan_1">Los planes de negocios le ayudan a operar su negocio</span><br />
    <p>
        Un buen plan de negocios lo guía por cada etapa de inicio y administración de su empresa. Su plan de negocios le servirá como mapa de ruta para estructurar, operar y hacer crecer su nuevo negocio. Es una forma de considerar en detalle los elementos clave de su negocio.
    </p>

    <p>
        Los planes de negocios pueden ayudarle a obtener financiamiento o atraer a nuevos socios. Los inversionistas desean tener la confianza de que su inversión redituará. Su plan de negocios es el instrumento que utilizará para convencer a la gente de que trabajar con usted (o invertir en su compañía) es una opción inteligente.
    </p>
    <br /><br />

    <span class="subtitulo" id="redaque_plan_2">Elija un formato de plan de negocio de acuerdo a sus necesidades</span><br />
    <p>
        No hay forma correcta ni incorrecta de redactar un plan de negocios. Lo importante es que su plan satisfaga sus necesidades.
    </p>
    <p>
        En general, los planes de negocios caen en una de dos categorías frecuentes: tradicional o ágil. Los tradicionales son más comunes, utilizan una estructura estándar y lo motivan a entrar en detalle en cada sección; tienden a requerir más trabajo al principio y pueden requerir docenas de páginas.
    </p>
    <p>
        Los planes de negocios ágiles son menos comunes; también utilizan una estructura estándar; se concentran en resumir los puntos más importantes; pueden redactarse en solo una hora y requieren apenas una página.
    </p>

    <br /><br />

    <span class="titulo">Plan de negocio tradicional</span><br />
    <p>
        Es un documento más detallado que abarca varios aspectos a tener en cuenta, Suele lleva más tiempo en poder redactarlo e integrarlo, Es el que más solicitan los inversores y Prestamistas, los aspectos solicitados serían los siguientes:
    </p>

    <span class="subtitulo">Resumen ejecutivo</span>
    <p>
        En pocas palabras, indique a su lector qué es su empresa y por qué tendrá éxito. Enuncie los objetivos, su producto o servicio e información básica sobre el equipo directivo, empleados y ubicación de la empresa. Incluya también información financiera y planes de crecimiento de alto nivel si tiene pensado solicitar financiamiento.
    </p>

    <span class="subtitulo">Descripción de la compañía</span>
    <p>
        Brinde información detallada de su empresa. Entre en detalle sobre los problemas que resuelve. Sea específico y mencione a qué consumidores, organizaciones o compañías atendería.
    </p>

    <span class="subtitulo">Análisis de mercado</span>
    <p>
        Necesitará una buena comprensión del panorama de su sector y del mercado destinatario. La investigación competitiva le revelará lo que hacen otras empresas y sus fortalezas. En su investigación de mercado busque tendencias y temas. ¿Qué hacen los competidores exitosos? ¿Por qué les funciona? ¿Podría hacerlo mejor usted?
    </p>

    <span class="subtitulo">Organización y gestión</span>
    <p>
        Explique cómo se estructurará su empresa y quién la dirigirá.
    </p>
    <p>
        Presente un organigrama con los nombres de los encargados; indique cómo la particular experiencia de cada uno contribuirá al éxito de su proyecto.
    </p>

    <span class="subtitulo">Línea de servicios o productos</span>
    <p>
        Describa lo que vende o el servicio que ofrece. Explique cómo beneficia a sus clientes y cómo es el ciclo vital del producto.
    </p>

    <span class="subtitulo">Publicidad y ventas</span>
    <p>
        No hay una forma única de abordar una estrategia de mercado. Su estrategia debe evolucionar y cambiar para satisfacer sus necesidades específicas.
    </p>
    <p>
        Debe describir el procedimiento para atraer y conservar a los clientes, y para producir realmente una venta.
    </p>

    <span class="subtitulo">Proyecciones financieras</span><br />
    <p>
        Complemente su petición de fondos con proyecciones financieras. Su objetivo es convencer al lector de que su empresa es estable y será un éxito financiero.
    </p>

    <p>
        Si su empresa ya está establecida, incluya estados de resultados, balances generales y flujos de caja por los últimos tres a cinco años. Si tiene otra garantía prendaria con la cual respaldar un préstamo, es el momento de mencionarla.
    </p>

    <p>
        Dé una prospección financiera de los próximos cinco años. Incluya los estados de resultados, balances generales, flujos de caja y presupuestos para gastos de capital. Para el primer año, sea aún más específico y utilice proyecciones trimestrales o incluso mensuales. Explique claramente sus proyecciones y relaciónelas con sus solicitudes de financiamiento.
    </p>

    <p>Es un lugar excelente para incluir gráficas y diagramas de la historia financiera de su empresa.</p>

    <br />
    <br />
    <span class="subtitulo">Puede descargar un ejemplo de un plan de negocios tradicional desde la siguiente dirección: <a href="../../Estructura/Descargas/Plantilla_Plan_negocio_tradicional.docx" download="Plantilla_Plan_negocio_tradicional.docx">Descargar Archivo</a></span>


    <br /><br />

    <span class="titulo">Modelo Canvas para plan de negocios</span><br /><br />
    <p>
        El modelo canvas es la herramienta para analizar y crear modelos de negocio de forma simplificada. Se visualiza de manera global en un lienzo dividido en los principales aspectos que involucran al negocio y gira entorno a la propuesta de valor que se ofrece. Dentro de los principales aspectos que componen un modelo canvas encontramos los siguientes nueve:
    </p>

    <span class="subtitulo">Alianzas clave</span><br />
    <p>
        Señale otros negocios y servicios con los que trabajará para dirigir su negocio. Considere los proveedores, fabricantes, subcontratistas y aliados estratégicos similares.
    </p>

    <span class="subtitulo">Actividades clave</span><br />
    <p>
        Tenga en cuenta a las otras empresas o servicios con los que trabajará para operar su empresa. Considere proveedores, fabricantes, subcontratistas y socios estratégicos similares.
    </p>

    <span class="subtitulo">Recursos clave</span><br />
    <p>
        Mencione cualquier recurso que aprovechará para generar valor para sus clientes. Sus recursos más importantes pueden incluir personal, capital o propiedad intelectual.
    </p>

    <span class="subtitulo">Propuesta de valor</span><br />
    <p>
        Haga una declaración clara y convincente sobre el valor especial que su empresa trae al mercado.
    </p>

    <span class="subtitulo">Relaciones con los clientes</span><br />
    <p>
        Describa la manera en que los clientes interactuarán con su empresa. ¿Es en forma automatizada o personal? ¿En persona o en línea? Considere la experiencia del cliente de principio a fin.
    </p>

    <span class="subtitulo">Segmentos del cliente</span><br />
    <p>
        Sea específico al nombrar su mercado destinatario. Su empresa no es para todos, así que es importante aclarar a quién servirá.
    </p>

    <span class="subtitulo">Canales</span><br />
    <p>
        Mencione las formas más importantes en que se comunicará con sus clientes. La mayoría de las empresas utilizan una combinación de canales y los optimizan con el tiempo.
    </p>

    <span class="subtitulo">Estructura de costos</span><br />
    <p>
        ¿Su empresa se concentrará en reducir los costos o en maximizar el valor? Defina su estrategia; luego enumere los costos más importantes que enfrentará al perseguirla.
    </p>

    <span class="subtitulo">Corrientes de ingresos</span><br />
    <p>
        Explique cómo hará dinero realmente su empresa. Algunos ejemplos son ventas directas, cuotas por membresías y venta de espacio publicitario. Si su empresa tiene múltiples corrientes de ingresos, menciónelas todas.
    </p>

    <span class="subtitulo">Corrientes de ingresos</span><br />
    <p>
        Explique cómo hará dinero realmente su empresa. Algunos ejemplos son ventas directas, cuotas por membresías y venta de espacio publicitario. Si su empresa tiene múltiples corrientes de ingresos, menciónelas todas.
    </p>

    <br />
    <span class="subtitulo">Puede descargar un ejemplo de un plan de negocios Modelo Canvas desde la siguiente dirección: <a href="../../Estructura/Descargas/Plantilla_Formato_Modelos_Negocios_Canva.docx" download="Plantilla_Formato_Modelos_Negocios_Canva.docx">Descargar Archivo</a></span>





    <br /><br /><br />
    @*<span class="subtitulo">Ejemplo sobre planes de negocios</span><br /><br />

        <div style="background-color:wheat; width:95%; margin:0px auto; padding:30px;">
            <span class="titulo">Resumen ejecutivo</span>
            <br /><br />

            <span class="subtitulo">Producto</span><br />

            <p>
                “Mi Empresa” proporciona servicios de asesoría a compañías pequeñas y medianas.
                Nuestros servicios incluyen administración de oficina y reingeniería de procesos
                empresariales para mejorar la eficiencia y reducir los costos administrativos.
            </p>




            <span class="subtitulo">Clientes</span><br />

            <p>
                El público objetivo de “Mi Empresa” son los propietarios, los directores de
                recursos humanos, los gerentes de programa, los presidentes y los directores
                generales, de empresas con 5 a 500 empleados, que quieren incrementar su
                productividad y reducir gastos generales. Nos especializamos, específicamente,
                en asesorar a los ejecutivos de alto nivel en procesos de oficina tales como
                supervisión del trabajo, producción, obtención del máximo rendimiento de las
                reuniones, liderazgo, mejores prácticas financieras o de contratación, y otras
                necesidades relevantes para los clientes potenciales; que se desempeñan en roles
                gerenciales en organizaciones pequeñas o grandes y que pueden estar atascados
                por procesos, burocracia o expertos técnicos con poca experiencia de liderazgo.
            </p>



            <span class="subtitulo">Futuro de la compañía</span><br />

            <p>
                La consultoría es una industria rápida, en evolución. En respuesta a estas
                circunstancias, “Mi Empresa” ofrecerá otros servicios, en el futuro, incluyendo
                la gestión y el análisis de proyectos.
            </p>
            <br /><br />





            <span class="titulo">Descripción de la compañía</span><br /><br />


            <span class="subtitulo">Declaración de objetivos</span><br />

            <p>
                Proporcionar servicios de calidad a nuestros clientes que ayudarán a prosperar
                y harán crecer a sus compañías.
            </p>



            <span class="subtitulo">Integrantes principales</span><br />
            <ol>
                <li><p>Alberto Pérez — propietaria, consultora principal</p></li>
                <li><p>Gustavo Campos — gerente de negocios/ventas</p></li>
                <li><p>Lucía Ramírez — gerente de contabilidad</p></li>
            </ol>

            <br />
            <span class="subtitulo">Estructura legal</span><br />
            <p>
                “Mi Empresa” es una pequeña empresa de consultoría, fundada en Irapuato,
                Guanajuato dada de alta en el SAT como persona física con actividad empresarial.
            </p>

            <br /><br />




            <span class="titulo">Estudio de mercado</span><br /><br />

            <span class="subtitulo">Industria</span><br />
            <p>
                “Mi Empresa” se incorporará a la industria de asesoría de la gestión de
                oficina y de mejoramiento del proceso empresarial. Habitualmente, las empresas
                consultoras más grandes, tales como Deloitte, trabajan con corporaciones
                internacionales, mientras que las firmas consultoras más pequeñas trabajan
                tanto con corporaciones grandes como con organizaciones pequeñas, generalmente,
                de ubicación más cercana. Las empresas consultoras estructuradas, como la nuestra,
                tienen un historial de trabajo con agencias gubernamentales locales, estatales
                y federales. La industria de consultoría aun se está recuperando de la pandemia.
                Fue golpeada más fuertemente en el 2009, cuando dicha industria se contrajo
                en un 9,1%. Sin embargo, a medida que la economía se recupera, la industria
                muestra signos de crecimiento. Un estudio reciente afirmó que se proyecta
                un crecimiento, en la consultoría de gestión de operaciones, de un 5.1% anual
                en los próximos años.
            </p>



            <span class="subtitulo">Descripción detallada de los clientes</span><br />
            <p>
                Los clientes objetivo de “Mi Empresa” son los propietarios, los directores
                de recursos humanos, los gerentes de programa, los presidentes y los directores
                generales, de empresas con 5 a 500 empleados, que quieren incrementar su
                productividad y reducir gastos generales. Nos especializamos, específicamente,
                en asesorar a los ejecutivos de alto nivel en procesos de oficina tales como
                supervisión del trabajo, producción, obtención del máximo rendimiento de las
                reuniones, liderazgo, mejores prácticas financieras o de contratación, y otras
                necesidades relevantes para los clientes potenciales; que se desempeñan en
                roles gerenciales en organizaciones pequeñas o grandes y que pueden estar
                atascados por procesos, burocracia o expertos técnicos con poca experiencia de
                liderazgo. Para aprovechar las oportunidades geográficamente cercanas, mientras
                iniciamos y hacemos crecer nuestro negocio, “Mi Empresa” se dirigirá
                específicamente a los ejecutivos objetivo de las compañías de las industrias
                manufacturera, automotriz, sanitaria y de defensa. Esto nos permitirá sacar
                ventaja de la proximidad de la compañía respecto a las empresas agroindustriales,
                a las fábricas de automóviles y de partes para vehículos y a los contratistas
                gubernamentales.
            </p>


            <span class="subtitulo">Ventajas de la compañía</span><br />
            <p>
                Como “Mi Empresa” proporciona servicios, en lugar de un producto, nuestras
                ventajas son tan fuertes como lo son nuestros consultores. Además de garantizar
                que nuestro equipo es flexible, rápido, y está capacitado para proporcionar
                consejo experto y trabajar con plazos cortos, Tomaremos las siguientes acciones
                para respaldar los servicios de asesoría:
            </p>

            <ol>
                <li><p>Tener solo gerentes que sean profesionales en gestión de proyectos (PMP, por sus siglas en inglés) certificados.</p></li>
                <li><p>Garantizar que los integrantes del equipo de contabilidad utilicen nuestra planeación y proceso informativo, exclusivos, para estar en contacto con los clientes y mantenerlos actualizados respecto a los proyectos.</p></li>
                <li><p>Proporcionar entrenamiento verbal público para todos los consultores.</p></li>
                <li><p>Desarrollar relaciones cercanas con subcontratistas que puedan apoyarnos en áreas tales como el diseño gráfico, para garantizar que el material y las presentaciones sean siempre claras y mantengan un estilo uniforme.</p></li>
                <li><p>Todos los integrantes de nuestro personal tienen una titulación de al menos cuatro años, y el 20% tiene un grado avanzado.</p></li>
                <li><p>Somos una compañía virtual sin muchos gastos generales o normas corporativas estrictas, lo que ahorra tiempo y dinero y crea un lugar de trabajo flexible para hacer las cosas. </p></li>
            </ol>

            <br /><br />


            <span class="subtitulo">Regulaciones</span><br />
            <p>
                “Mi Empresa” debe cumplir todas las regulaciones federales y estatales
                referentes a la asesoría empresarial, tales como: Ley de Adquisiciones,
                Arrendamientos y Servicios del Sector Publico (LAASP) en vigor desde el 27 de
                mayo de 2009. Reglamento de la Ley de Adquisiciones, Arrendamientos y Servicios
                del Sector Publico (RLAAS) en vigor desde el 28 de Julio de 2010. • Ley de
                Obras Públicas y Servicios Relacionados con las Mismas (LOPSR), última reforma
                publicada el 28 de mayo de 2009.  Reglamento de la Ley de Obras Pública y
                Servicios Relacionados con las Mismas (RLOPSR), última reforma publicada el
                28 de Julio de 2010. • Lineamientos en materia de adquisiciones, arrendamientos
                y servicios y de obras públicas y servicios relacionados con las mismas,
                publicados el 9 de septiembre de 2010.
            </p>

            <br /><br /><br />




            <span class="titulo">Línea de servicio</span><br /><br />

            <span class="subtitulo">Producto/servicio</span><br />

            <p>Servicios incluidos:</p>

            <ol>
                <li><p>Análisis de reingeniería de procesos empresariales</p></li>
                <li><p>Análisis de gestión de oficina</p></li>
                <li><p>Servicios presenciales de gestión de oficina</p></li>
                <li><p>Facilitación de reingeniería de procesos empresariales</p></li>
                <li><p>Analítica</p></li>
                <li><p>Gestión del cambio</p></li>
                <li><p>Gestión de la relación con el cliente</p></li>
                <li><p>Desempeño financiero</p></li>
                <li><p>Mejoramiento de operaciones</p></li>
                <li><p>Gestión de riesgos</p></li>
            </ol>
            <br /><br />


            <span class="subtitulo">Estructura de precios</span><br />
            <p>
                “Mi Empresa” ofrecerá sus servicios a una tarifa por hora, utilizando las
                siguientes categorías y tasas laborales:
            </p>

            <ol>
                <li><p>Director, $3,000 mil/hora</p></li>
                <li><p>Ejecutivo de contabilidad, $2,800/hora</p></li>
                <li><p>Gerente de proyecto, $2,800/hora</p></li>
                <li><p>Coordinador de proyecto, $2,000/hora</p></li>
                <li><p>Analista de negocios, $1,800/hora</p></li>
                <li><p>Analista de procesos, $1,800/hora</p></li>
                <li><p>Analista financiero, $1,700/hora</p></li>
                <li><p>Técnico, USD $1,500/hora</p></li>
            </ol>
            <br /><br />




            <span class="subtitulo">Ciclo de vida del producto</span><br />

            <p>
                Todos los servicios están listos para ser ofrecidos a los clientes,
                en espera de la aprobación de los contratos.
            </p>




            <span class="subtitulo">Derechos de propiedad intelectual</span><br />

            <p>
                “Mi Empresa” es un nombre de marca en el estado de Guanajuato, y hemos
                solicitado protección de nuestros procesos exclusivos y de otras propiedades
                intelectuales, tal como nuestro logo. También hemos registrado el nombre de
                nuestro dominio y hemos apartado las cuentas de redes sociales relevantes para
                su uso futuro y para evitar la posible suplantación de uno de nuestros
                consultores.
            </p>




            <span class="subtitulo">Investigación y desarrollo</span><br />

            <p>La compañía tiene planeado efectuar la siguiente investigación y desarrollo:</p>

            <ol>
                <li><p>Crear una solución tecnológica, a la medida, para los fabricantes de vehículos, tales como automóviles, que ayude a dar mejor seguimiento a cada pieza manufacturada y a su estatus en el proceso de ensamblaje.</p></li>
                <li><p>Determinar la necesidad de servicios de asesoría adicionales, en nuestro mercado, relacionados con la vinculación entre procesos mejorados y oportunidades de mayores ventas y promoción a los clientes potenciales</p></li>
                <li><p>Hallar tendencias en las soluciones de software que pueden proporcionar servicios automatizados potencialmente competitivos para asegurar que “Mi Empresa” sigue profundizando cuidadosamente su nicho en el mercado.</p></li>
            </ol>

            <br /><br />







            <span class="titulo">Comercialización y ventas</span><br /><br />


            <span class="subtitulo">Estrategia de crecimiento</span><br />

            <p>Para hacer crecer la compañía, “Mi Empresa” hará lo siguiente:</p>
            <ol>
                <li><p>Se interconectará con las industrias manufacturera y automotriz y en los congresos nacionales e internacionales</p></li>
                <li><p>Establecerá un sitio web de la compañía que contenga llamativo contenido multimedia sobre nuestros servicios</p></li>
                <li><p>A medida que crezca el negocio, hará publicidad en publicaciones que lleguen a nuestras industrias objetivo.</p></li>
            </ol>

            <br /><br />





            <span class="subtitulo">Comunicación con el cliente</span><br />

            <p>“Mi Empresa” se comunicará con sus clientes a través de:</p>

            <ol>
                <li><p>Reuniones con los gerentes locales en las compañías objetivo</p></li>
                <li><p>El uso de las redes sociales tales como Twitter, YouTube, Facebook, y LinkedIn</p></li>
                <li><p>El suministro de información de contacto en el sitio web de la compañía</p></li>
            </ol>

            <br /><br />




            <span class="subtitulo">Cómo vender</span><br />

            <p>
                Actualmente, la única persona encargada de las ventas de “Mi Empresa” es el
                gerente de negocios, Gustavo. A medida que se incrementen los ingresos,
                “Mi Empresa”, buscará incorporar un empleado para que ayude con la
                gestión/coordinación contable. Esta persona también proporcionará apoyo
                con las redes sociales y comercialización en línea. La compañía aumentará
                la concientización de nuestros clientes objetivo a través de publicidad
                en línea, campañas proactivas de relaciones públicas y la asistencia a
                ferias comerciales.
            </p>

        </div>*@




    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('calcule_costos')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Calcule sus costos de lanzamiento
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>


</section>
