﻿<section class="contenido" id="calcule_costos">

    <p>[Planifique su empresa / Calcule sus costos de lanzamiento]</p>
    <span class="titulo">Calcule sus costos de lanzamiento</span>
    <br /><br /><br />

    <span class="subtitulo">
        ¿Cuánto dinero necesitará para iniciar su pequeña empresa? Calcule los costos de lanzamiento de su empresa, de modo que pueda solicitar financiamiento, atraer a inversionistas y estimar cuándo empezará a tener ganancias.
    </span><br /><br /><br />



    <span class="subtitulo">Contenidos:</span><br />
    <ol>
        <li><a href="#" onclick="return desplazarse('calcule_1')">Calcule los costos de lanzamiento de su empresa antes de iniciar</a></li>
        <li><a href="#" onclick="return desplazarse('calcule_2')">Identifique sus gastos de lanzamiento</a></li>
        <li><a href="#" onclick="return desplazarse('calcule_3')">Estime de cuánto serán sus gastos</a></li>
        <li><a href="#" onclick="return desplazarse('calcule_4')">Sume sus gastos para tener una imagen financiera completa</a></li>
        <li><a href="#" onclick="return desplazarse('calcule_5')">Utilice su cálculo de los costos de lanzamiento para conseguir financiamiento</a></li>
    </ol>


    <br /><br /><br />
    <a href="@Url.Action("calculadora_punto_equilibrio","PuntoEquilibrio")" style="font-weight:bold;font-size:20px;">Calculadora para el PUNTO DE EQUILIBRIO</a>
    <br /><br /><br /><br />



    <span class="subtitulo" id="calcule_1">Calcule los costos de lanzamiento de su empresa antes de iniciar</span><br />
    <p>
        La clave para una empresa exitosa es la preparación. Antes de que su empresa abra sus puertas, ya tendrá cuentas por pagar. Entender sus gastos le ayudará a tener un lanzamiento exitoso.
    </p>
    <br />

    <p>Calcular sus costos de lanzamiento le ayudará a:</p>
    <ol>
        <li>Calcular ganancias</li>
        <li>Hacer un análisis de punto de equilibrio</li>
        <li><a href="https://fondos.guanajuato.gob.mx/fondos/" target="_blank">Conseguir préstamos (Fondos Guanajuato) </a></li>
        <li>Atraer inversionistas</li>
        <li>Ahorrar dinero mediante deducciones fiscales</li>
    </ol>
    <br /><br /><br />





    <span class="subtitulo" id="calcule_2">Identifique sus gastos de lanzamiento</span><br />
    <p>
        La mayoría de las empresas caen en una de tres categorías: con presencia física (de ladrillo y mortero), por Internet (en línea) y proveedores de servicios. Enfrentará diferentes gastos de lanzamiento, lo cual depende del tipo de empresa.
    </p>
    <br />

    <div class="row">
        <div class="col-lg-4">
            <img src="~/Estructura/imagenes/calcule_costos_esquema1.png" style="width:90%;" />
            <p style="font-weight:bold; width:100%; text-align:center;">Con presencia física</p>
        </div>
        <div class="col-lg-4">
            <img src="~/Estructura/imagenes/calcule_costos_esquema2.png" style="width:90%;" />
            <p style="font-weight:bold; width:100%; text-align:center;">En línea</p>
        </div>
        <div class="col-lg-4">
            <img src="~/Estructura/imagenes/calcule_costos_esquema3.png" style="width:90%;" />
            <p style="font-weight:bold; width:100%; text-align:center;">Servicio</p>
        </div>
    </div>
    <br /><br />

    <p>
        Hay costos de lanzamiento comunes que probablemente tendrá de cualquier modo. Revise la siguiente lista y asegúrese de añadir cualquier otro gasto que sea propio de su empresa.
    </p>

    <ul>
        <li>Espacio de oficinas</li>
        <li>Equipos y suministros</li>
        <li>Comunicaciones</li>
        <li>Servicios públicos</li>
        <li>Licencias y permisos</li>
        <li>Seguro</li>
        <li>Abogado y contador</li>
        <li>Inventario</li>
        <li>Sueldos de empleados</li>
        <li>Publicidad y marketing</li>
        <li>Investigación de mercado</li>
        <li>Materiales publicitarios impresos</li>
        <li>Creación de un sitio web</li>
    </ul>
    <br /><br /><br />



    <span class="subtitulo" id="calcule_3">Estime de cuánto serán sus gastos</span><br />
    <p>
        Una vez que tenga su lista de gastos, puede calcular a cuánto ascenderán realmente. Este proceso será diferente por cada gasto que tenga.
    </p>

    <p>
        Algunos gastos tendrán montos bien definidos; los permisos y licencias tienden a tener costos claros, publicados. Tal vez tenga que calcular otros costos que son más inciertos, como los sueldos de empleados. Busque en Internet y hable directamente con consejeros, proveedores y prestadores de servicios, para saber cuánto pagan por gastos empresas similares.
    </p>
    <br /><br /><br />




    <span class="subtitulo" id="calcule_4">Sume sus gastos para tener una imagen financiera completa</span><br />
    <p>
        Una vez que haya identificado los gastos de su empresa y a cuánto ascenderán, deberá organizarlos en gastos de una vez y gastos mensuales.
    </p>

    <p>
        Los gastos por única vez son los costos iniciales necesarios para el lanzamiento de la empresa. La compra del equipo principal, la contratación de un diseñador de logotipos y el pago de permisos, licencias y cargos suelen considerarse gastos por única vez. Por lo general, los gastos por única vez pueden deducirse para fines del pago de impuestos, lo que puede ahorrarle dinero en la cantidad de impuestos que deba pagar. Procure llevar un control de sus gastos y avisar a su contador cuando sea momento de declarar <a href="https://www.sat.gob.mx/home" target="_blank">sus impuestos.</a>
    </p>

    <p>
        Los gastos mensuales suelen incluir renglones como sueldos, renta y pago de servicios públicos. Deseará contar por lo menos un año de gastos mensuales, pero una cuenta de cinco años es ideal.
    </p>

    <p>
        Sume sus gastos por única vez con los gastos mensuales para tener una idea de cuánto capital necesitará y cuándo.
    </p>
    <br /><br /><br />






    <span class="subtitulo" id="calcule_5">Utilice su cálculo de los costos de lanzamiento para conseguir financiamiento</span><br />
    <p>
        Le conviene crear un informe formal de sus costos de lanzamiento previstos.
    </p>

    <p>
        Lo querrá en un formato de comprensión clara y fácil de entender. Los inversionistas y los prestamistas comparan los costos esperados con las ganancias proyectadas y determinan la capacidad de generar ganancias de su empresa.
    </p>
    <br /><br /><br />




    <span class="subtitulo">Puede descargar un archivo de muestra para calcular sus costos de lanzamiento desde el siguiente enlace: <a href="../../Estructura/Descargas/Calcula sus costos de Lanzamineto.xlsx" download="Calcula sus costos de Lanzamineto.xlsx">Descargar archivo</a></span>



    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('financie_empresa')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Financie su empresa
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>
</section>
