﻿<section class="contenido" id="investigacion_mercado">

    <p>[Planifique su empresa / Investigación de mercado y análisis competitivo]</p>

    <span class="titulo">Investigación de mercado y análisis competitivo</span>
    <br /><br /><br />




    <p>
        La investigación de mercado le ayuda a encontrar clientes. El análisis competitivo le ayuda a hacer que su empresa sea única. Combínelos para encontrarle una ventaja competitiva a su empresa.
    </p>
    <br />
    <p>
        Busca los negocios existentes en tu área y planifica el futuro de tu futura empresa
    </p>
    <span class="subtitulo"><a href="https://www.inegi.org.mx/app/mapa/denue/default.aspx" target="_blank">Consultar empresas registradas</a></span>
    <br /><br /><br /><br />


    <span class="subtitulo">Contenidos:</span><br />
    <ol>
        <li><a href="#" onclick="return desplazarse('investigacion_mercado_1')">Utilice la investigación de mercado para encontrar clientes</a></li>
        <li><a href="#" onclick="return desplazarse('investigacion_mercado_2')">Utilice el análisis competitivo para encontrar una ventaja comercial</a></li>
        <li><a href="#" onclick="return desplazarse('investigacion_mercado_3')">Tendencias y datos gratuitos sobre las pequeñas empresas</a></li>
    </ol>








    <br /><br /><br />
    <span class="subtitulo" id="investigacion_mercado_1">Utilice la investigación de mercado para encontrar clientes</span><br /><br />

    <p>
        La investigación de mercado combina el comportamiento del consumidor y las
        tendencias económicas para confirmar y mejorar su idea de negocios.
    </p>

    <p>
        Es crucial para entender su base de consumidores desde un principio. La
        investigación de mercado le permite reducir riesgos incluso desde que su negocio
        es una simple idea.
    </p>

    <p>
        Recopile información demográfica para entender mejor las oportunidades y
        las limitaciones para ganar clientes. Puede incluir datos de población sobre edad,
        patrimonio, familia, intereses o cualquier cosa que sea pertinente para su empresa.
    </p>
    <br />

    <p>Luego conteste las siguientes preguntas para formarse una buena idea de su mercado.</p>
    <ol>
        <li>Demanda: ¿Existe interés por su producto o servicio?</li>
        <li>Tamaño del mercado: ¿Cuántas personas estarían interesadas en su oferta?</li>
        <li>Indicadores económicos: ¿Cuáles es el nivel de ingresos y la tasa de empleo?</li>
        <li>Ubicación: ¿Dónde viven sus clientes y hasta dónde puede llegar su empresa?</li>
        <li>Saturación del mercado: ¿Cuántas opciones similares ya están a disposición de los consumidores?</li>
        <li>Determinación de precios: ¿Cuánto pagan los posibles clientes por estas alternativas?</li>
    </ol>

    <br /><br />

    <p>
        Deseará también seguir las últimas tendencias de las pequeñas empresas. Es importante
        tener una idea de la cuota de mercado específica que incidirá en sus ganancias.
    </p>

    <p>
        Puede hacer la investigación de mercado a partir de fuentes ya existentes o hacerla usted mismo acudiendo directamente a los consumidores.
    </p>

    <p>
        Las fuentes existentes pueden ahorrarle mucho tiempo y energía, pero la información sobre su público puede no ser tan específica como sería deseable. Utilícela para contestar preguntas que son generales y cuantificables, por ejemplo, tendencias de la industria, demografía e ingresos de las familias.
    </p>

    <br /><br />

    <p>
        La consulta directa a los consumidores puede darle una comprensión más detallada de su público objetivo específico. Sin embargo, la investigación directa puede consumir tiempo y dinero. Utilícela para responder a interrogantes específicos sobre su negocio o clientela; por ejemplo, reacciones a su logotipo, mejoras que podría hacer a la experiencia de compra y a dónde podrían ir los clientes en vez de ir a su negocio.
    </p>

    <p>
        He aquí algunos métodos que puede utilizar para hacer investigación directa:
    </p>

    <br />

    <ol>
        <li>Ecuestas</li>
        <li>Cuestionarios</li>
        <li>Grupos focales</li>
        <li>Entrevistas a fondo</li>
    </ol>

    <br /><br /><br />






    <span class="subtitulo" id="investigacion_mercado_2">Utilice el análisis competitivo para encontrar una ventaja comercial</span><br /><br />

    <p>
        El análisis competitivo le ayuda a aprender de las empresas que compiten por sus posibles clientes. Es crucial para definir una ventaja competitiva que genere ganancias sostenibles.
    </p>

    <p>
        Su análisis competitivo debe identificar a su competencia según la línea de producto o servicio y el sector del mercado.
    </p>

    <p>Evalúe las siguientes características del panorama competitivo:</p>
    <ol>
        <li>Cuota del mercado</li>
        <li>Fortalezas y debilidades</li>
        <li>Su espacio de oportunidad para entrar en el mercado</li>
        <li>La importancia de su mercado objetivo para sus competidores</li>
        <li>Cualquier obstáculo que pueda surgir al entrar en el mercado</li>
        <li>Competidores indirectos o secundarios que pueden afectar su éxito</li>
    </ol>
    <br />

    <p>
        Varios sectores pueden competir por atender el mismo mercado que usted pretende. Por eso debe cerciorarse de diferenciar su análisis competitivo por sector o ramo de la industria.
    </p>

    <br /><br /><br />






    <span class="subtitulo" id="investigacion_mercado_3">Tendencias y datos gratuitos sobre las pequeñas empresas</span><br /><br />

    <p>
        Hay muchas fuentes confiables que proporcionan sin costo información sobre los clientes y el mercado. Existen estadísticas gratuitas para ayudar a los futuros propietarios de pequeñas empresas.
    </p>
    <br /><br /><br />

    <div class="table-responsive">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Concepto
                    </td>

                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Meta
                    </td>

                    <td style="background-color:cornflowerblue; color:white; text-align:center; font-size:17px; font-weight:bold;">
                        Referencia
                    </td>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>Estadísticas generales de negocios</td>

                    <td>Encontrar datos de identificación, ubicación, actividad económica y tamaño de las unidades económicas, productividad y sectores económicos</td>

                    <td>
                        <p>
                            <a href="https://www.inegi.org.mx/app/mapa/denue/default.aspx" target="_blank">DENUE</a>
                            ,
                            <a href="https://www.inegi.org.mx/datos/?t=0080" target="_blank">INEGI</a>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>Estadísticas del consumidor</td>

                    <td>Obtener información sobre comportamiento del consumidor.</td>

                    <td>
                        <p>
                            <a href="https://datos.gob.mx/busca/organization/profeco" target="_blank">PROFECO</a>
                            ,
                            <a href="https://www.inegi.org.mx/rnm/index.php/catalog/432" target="_blank">INEGI</a>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>Datos demográficos</td>

                    <td>Segmentar a la población para enfocarse directamente en los clientes</td>

                    <td><a href="https://www.inegi.org.mx/" target="_blank">INEGI</a></td>
                </tr>

                <tr>

                    <td>Indicadores económicos</td>

                    <td>Conocer las tasas de desempleo, préstamos otorgados y más</td>

                    <td><a href="https://www.inegi.org.mx/app/indicadores/?tm=0" target="_blank">INEGI</a></td>
                </tr>


                <tr>

                    <td>Estadísticas de empleo</td>

                    <td>Profundizar en las tendencias del empleo en su mercado</td>

                    <td><a href="https://www.inegi.org.mx/app/indicadores/?tm=0" target="_blank" >INEGI</a></td>
                </tr>

                <tr>

                    <td>Estadísticas de ingresos</td>

                    <td>Información de referencia para pagar a sus empleados tarifas justas con base en los datos de ingresos</td>

                    <td><a href="https://www.inegi.org.mx/app/indicadores/?tm=0" target="_blank">INEGI</a></td>
                </tr>

                <tr>

                    <td>Dinero y tasas de interés</td>

                    <td>Conservar el dinero dominando las tasas de cambio y de interés</td>

                    <td><a href="https://www.banxico.org.mx/" target="_blank">BANCO DE MÉXICO</a></td>
                </tr>

                <tr>

                    <td>Estadísticas de industrias específicas</td>

                    <td>Analizar la mayor cantidad de datos proporcionados por el gobierno.</td>

                    <td><a href="https://www.inegi.org.mx/default.html" target="_blank">INEGI</a></td>
                </tr>

            </tbody>
        </table>
    </div>


    <br /><br /><br /><br />
    <div class="banner_asistencia_local">

        <h1 style="font-weight:bold; font-size:30px; color:white;">
            ¿Necesita ayuda? Obtenga asesoría empresarial gratuita
        </h1>
        <br />

        <h2 style="font-weight:bold; font-size:18px; color:white;">
            Consulte con profesionales que lo podrán orientar en cualquier duda que se le pueda presentar
        </h2>
        <br /><br />

        <a class="btn btn-primary" href="@Url.Action("Encontrar_Ayuda_Cercana","AsistenciaLocal")">Consulte mentores</a>
    </div>




    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('redacte_plan')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Redacte su plan de negocios
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>




</section>

