﻿<section class="contenido" id="financie_empresa">

    <p>[Planifique su empresa / Financie su empresa]</p>

    <span class="titulo">Financie su empresa</span>
    <br /><br /><br />

    <span class="subtitulo">
        Cuesta dinero empezar una empresa. Financiar su empresa es una de las primeras (y más importantes) decisiones que toman los dueños de empresas. La forma en que decida financiar su empresa puede afectar la manera en que la estructura y opere.
    </span><br /><br /><br />






    <span class="subtitulo">Contenidos:</span><br />
    <ol>
        <li><a href="#" onclick="return desplazarse('financie_1')">Determine cuánto financiamiento necesitará</a></li>
        <li><a href="#" onclick="return desplazarse('financie_2')">Financie su empresa con fondos propios</a></li>
        <li><a href="#" onclick="return desplazarse('financie_3')">Obtenga capital de riesgo de inversionistas</a></li>
        <li><a href="#" onclick="return desplazarse('financie_4')">Utilice financiamiento colectivo para financiar su empresa</a></li>
        <li><a href="#" onclick="return desplazarse('financie_5')">Obtenga un préstamo para pequeñas empresas</a></li>        
    </ol>
    <br /><br /><br /><br />





    <span class="subtitulo" id="financie_1">Determine cuánto financiamiento necesitará</span><br />
    <p>
        Cada empresa tiene diferentes necesidades y no hay una solución financiera que se ajuste a todas. Su situación financiera personal y la visión para su empresa determinaran el futuro financiero de su empresa.
    </p>
    <p>
        Una vez que sepa cuánto <a href="#" onclick="cambiar_contenido('calcule_costos')">financiamiento inicial necesitará </a>, será momento de evaluar cómo lo conseguirá.
    </p>
    <br />

    <div class="row">
        <div class="col-lg-4">
            <img src="~/Estructura/imagenes/financie_empresa_esquema_1.png" style="width:90%;" />
            <p style="font-weight:bold; width:100%; text-align:center;">Con fondos propios</p>
        </div>
        <div class="col-lg-4">
            <img src="~/Estructura/imagenes/financie_empresa_esquema_2.png" style="width:90%;" />
            <p style="font-weight:bold; width:100%; text-align:center;">Inversionistas</p>
        </div>
        <div class="col-lg-4">
            <img src="~/Estructura/imagenes/financie_empresa_esquema_3.png" style="width:90%;" />
            <p style="font-weight:bold; width:100%; text-align:center;">Préstamos</p>
        </div>
    </div>

    <br /><br /><br />





    <span class="subtitulo" id="financie_2">Financie su empresa con fondos propios</span><br />
    <p>
        El autofinanciamiento le permite aprovechar sus propios recursos financieros para sustentar su empresa.
    </p>

    <p>
        El autofinanciamiento puede consistir en recurrir a la familia y los amigos para obtener capital, usar las propias cuentas de ahorros o incluso aprovechar su cuenta 401k.
    </p>

    <p>
        Con el autofinanciamiento, usted conserva pleno control del negocio, pero también asume usted solo todo el riesgo. Asegúrese de no gastar más de lo que pueda pagar, en especial si decide utilizar prematuramente sus cuentas de jubilación. Tal vez deba enfrentar cuotas o multas costosas, o dañar su capacidad de jubilarse a tiempo, así que debe consultar antes con su administrador de planes y un asesor financiero personal.
    </p>
    <br /><br /><br />







    <span class="subtitulo" id="financie_3">Obtenga capital de riesgo de inversionistas</span><br />
    <p>
        Los inversionistas pueden aportar fondos para que arranque su empresa, en la forma de inversiones de capital de riesgo. El capital de riesgo se ofrece normalmente a cambio de una parte de la propiedad y una participación activa en la empresa.
    </p>

    <p>
        El capital de riesgo difiere del financiamiento tradicional en varios aspectos importantes. Por lo común, los inversionistas de capital de riesgo:
    </p>

    <ul>
        <li>Se enfocan en empresas de alto crecimiento</li>
        <li>Invierten capital a cambio de patrimonio neto, y no a cambio de deuda (no es un préstamo)</li>
        <li>Asumen mayores riesgos a cambio de un posible mayor rendimiento</li>
        <li>Tienen un horizonte de inversión más largo que el financiamiento tradicional</li>
    </ul>
    <br />

    <p>
        Casi todos los capitalistas de riesgo desearán, como mínimo, un asiento en la junta directiva. Entonces, prepárese para ceder una parte del control y la propiedad de su empresa a cambio del financiamiento.
    </p>

    <br /><br /><br />








    <span class="subtitulo">Cómo obtener fondos de capital de riesgo</span><br />
    <p>
        No existe forma segura de obtener capital de riesgo, pero el proceso suele seguir un orden establecido de pasos básicos:
    </p>

    <ul>
        <li>
            <p style="font-weight:bold;">Encuentre un inversionista</p>
            <p>Busque inversionistas individuales (llamados también “inversionistas ángeles”) o firmas de capital de riesgo. Procure hacer suficiente investigación de antecedentes para saber si el inversionista es honesto y tiene experiencia trabajando con empresas que inician.</p>
        </li>

        <li>
            <p style="font-weight:bold;">Comparta su plan de negocios</p>
            <p>El inversionista revisará su plan de negocios para corroborar que cumpla con sus criterios de inversión. La mayoría de los fondos de inversión se concentran en una industria, región geográfica o etapa de desarrollo comercial.</p>
        </li>

        <li>
            <p style="font-weight:bold;">Sométase a una revisión de auditoría de compra (diligencia debida)</p>
            <p>Los inversionistas examinarán el equipo directivo de su empresa, su mercado, productos y servicios, documentos de gestión corporativa y declaraciones financieras.</p>
        </li>

        <li>
            <p style="font-weight:bold;">Establezca los términos</p>
            <p>Si desean invertir, el paso siguiente es ponerse de acuerdo sobre un pliego de condiciones que describa los términos y condiciones para que el fondo haga una inversión.</p>
        </li>

        <li>
            <p style="font-weight:bold;">Inversión</p>
            <p>¡Tan pronto acepte el pliego de condiciones, podrá obtener la inversión! Una vez que un fondo de riesgo invierte, pasa a ser participante activo en la empresa. Normalmente, los fondos de riesgo llegan “por tandas”. Conforme la empresa alcanza metas intermedias, se ponen a disposición otras tandas de financiamiento, con ajustes en el precio a medida que la empresa ejecuta su plan.</p>
        </li>
    </ul>
    <br /><br /><br />






    <span class="subtitulo" id="financie_4">Utilice financiamiento colectivo para financiar su empresa</span><br />
    <p>
        El financiamiento colectivo (crowdfunding o micromecenazgo) recaba fondos para una empresa de una gran cantidad de personas, llamadas micromecenas (crowdfunders). Los micromecenas no son técnicamente inversionistas, porque no reciben una parte de la propiedad en el negocio y no esperan un rendimiento financiero de su dinero;
    </p>

    <p>
        en su lugar, esperan obtener de su empresa un “regalo” como un agradecimiento por su aportación. A menudo, ese regalo es el producto que usted piensa vender u otras gratificaciones especiales, como reunirse con el dueño de la empresa u obtener su nombre en los créditos. Esto convierte al financiamiento colectivo en una opción favorita de personas que quieren producir trabajos creativos (p. ej., un documental) o un producto físico (p. ej., un refrigerador de alta tecnología).
    </p>

    <p>
        El financiamiento colectivo es popular también porque implica un riesgo muy bajo para los dueños de la empresa. Así, no sólo logra mantener pleno control de su empresa, sino que, si su plan falla, normalmente no tendrá ninguna obligación de compensar a sus financiadores. Puesto que cada plataforma de financiamiento colectivo es diferente, asegúrese de leer la letra pequeña y entender sus obligaciones financieras y legales completas.
    </p>
    <br /><br /><br />





    <span class="subtitulo" id="financie_5">Obtenga un préstamo para pequeñas empresas</span><br />
    <p>
        Si quiere conservar todo el control de su empresa, pero no tiene los fondos suficientes para empezar, considere pedir un préstamo para pequeñas empresas.
    </p>

    <p>
        Para aumentar la posibilidad de recibir un préstamo, debe tener un 
        <a href="#" onclick="cambiar_contenido('redacte_plan')" >plan de negocios</a>, 
        <a href="../../Estructura/Descargas/Calcula sus costos de Lanzamineto.xlsx" download="Calcula sus costos de Lanzamineto.xlsx" target="_blank">una hoja de gastos</a> y proyecciones financieras para los cinco años siguientes. Estos medios le darán una idea de cuánto tendrá que pedir y ayudarán al banco a entender que está tomando una decisión inteligente al otorgarle el préstamo.
    </p>

    <p>
        Una vez que los tenga listos, póngase en contacto con los bancos y las uniones de crédito para solicitar un préstamo. Deseará comparar ofertas para lograr los mejores términos posibles de su préstamo.
    </p>
    <br /><br /><br />






    <br /><br /><br /><br />
    <p style="font-weight:bold;">Siguiente</p>
    <button class="btn btn-primary" onclick="cambiar_contenido('escoja_ubicacion')" id="btn_siguiente" style="font-weight:bold; font-size:20px; padding:15px 40px;">
        Escoja la ubicación de su empresa
        &nbsp;&nbsp;&nbsp;<i class="icn fa fa-chevron-right"></i>
    </button>


</section>
