﻿
@model PruebaEmpresa.Models.LoginView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio Sesión</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/validaciones.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.toast.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/login_proveedor.css" />
    <link rel="stylesheet" type="text/css" href="~/Estructura/css/main.css" />
    <link rel="stylesheet" type="text/css" href="~/Estructura/css/util.css" />
    <link rel="stylesheet" type="text/css" href="~/Estructura/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Estructura/fonts/themify/themify-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Estructura/imagenes/icons/logo2.png" />
    <link rel="stylesheet" type="text/css" href="~/Estructura/imagenes/icons/logo_coparmex.png" />
    <link rel="stylesheet" type="text/css" href="~/Estructura/imagenes/icons/logo_uiw.png" />
</head>

<body class="login">


    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="logo" href="#"> <img src="~/Estructura/imagenes/icons/logo_completo.png" /> </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Volver a la Plataforma", "Index", "Home")
                    </li>
                </ul>
            </div>

        </div>



    </div>

    <div class="panel page-section page-section--default">

        <div class="panel-body">
            <div class="col-md-6 col-md-offset-3">


                <h1>Inicio de sesi&oacute;n</h1>

                @using (Html.BeginForm("Verificar_Usuario", "Login"))
                {




                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Inicio_Sesion.Correo_Electronico, new { @class = "form-control", @maxlength = "80", placeholder = "Correo Electrónico", autocomplete = "off" })
                        <div> @Html.ValidationMessageFor(x => x.Inicio_Sesion.Correo_Electronico) </div>
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(x => x.Inicio_Sesion.Contraseña, new { @class = "form-control", @maxlength = "8", placeholder = "Contraseña" })
                        <div> @Html.ValidationMessageFor(x => x.Inicio_Sesion.Contraseña) </div>
                    </div>
                    <a href="@Url.Action("Password","Recuperar", new { returnUrl = Request.Url.PathAndQuery})" class="btn btn-link"> Recuperar constrase&ntilde;a </a>

                    <div class="form-submit-section">
                        <input type="submit" class="btn btn-primary custom" value="Iniciar" />
                    </div>

                }


            </div>
        </div>
    </div>


    <div class="page-section page-section--light">

        <div class="panel-body" style="display:none">
            <div class="col-md-6 col-md-offset-3">

                <h1>Registrarse</h1>


                @using (Html.BeginForm("Registrar_Usuario", "Login"))
                {



                    <div class="row">

                        <div class="form-group col-md-12">
                            @Html.TextBoxFor(x => x.Registro_Usuario.Correo_Electronico, new { @class = "form-control", @maxlength = "80", placeholder = "Correo Electrónico", autocomplete = "off" })
                            <div> @Html.ValidationMessageFor(x => x.Registro_Usuario.Correo_Electronico) </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">

                            @Html.TextBoxFor(x => x.Registro_Usuario.Nombre, new { @class = "form-control", @maxlength = "100", placeholder = "Nombre" })
                            <div> @Html.ValidationMessageFor(x => x.Registro_Usuario.Nombre) </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(x => x.Registro_Usuario.Apellido_Paterno, new { @class = "form-control", @maxlength = "100", placeholder = "Apellido Paterno" })
                            <div> @Html.ValidationMessageFor(x => x.Registro_Usuario.Apellido_Paterno) </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(x => x.Registro_Usuario.Apellido_Materno, new { @class = "form-control", @maxlength = "100", placeholder = "Apellido Materno" })
                            <div> @Html.ValidationMessageFor(x => x.Registro_Usuario.Apellido_Materno) </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">

                            @Html.TextBoxFor(x => x.Registro_Usuario.Telefono, new { @class = "form-control", @maxlength = "10", placeholder = "Teléfono" })
                            <div> @Html.ValidationMessageFor(x => x.Registro_Usuario.Telefono) </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-6">
                            @Html.PasswordFor(x => x.Registro_Usuario.Contraseña, new { @class = "form-control", @maxlength = "8", placeholder = "Contraseña" })
                            <div> @Html.ValidationMessageFor(x => x.Registro_Usuario.Contraseña) </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.PasswordFor(x => x.Registro_Usuario.Confirmar_Contraseña, new { @class = "form-control", @maxlength = "8", placeholder = "Contraseña" })
                            <div> @Html.ValidationMessageFor(x => x.Registro_Usuario.Confirmar_Contraseña) </div>
                        </div>

                        <div class="columns">
                            <span class="helpInfo">
                                Introduzca constrase&ntilde;as coincidentes m&iacute;nimo de 6 caracteres y m&aacute;ximo 8 caracteres
                            </span>
                        </div>

                    </div>
                    <br />
                    <br />

                    <div class="form-submit-section">
                        <input type="submit" class="btn btn-primary custom" value="Registrarse" />
                    </div>


                }

            </div>
        </div>
    </div>



    <footer class="bg1">

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 p-t-50">
                    <!-- - -->
                    <h4 class="txt13 m-b-33">
                        Cont&aacute;ctanos
                    </h4>

                    <ul class="m-b-70">

                        <li class="txt14 m-b-14">
                            <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            Blvd. Luis Donaldo Colosio Plaza Don Bosco local AP-19 Col. Independencia cp.- 36666
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            462-217-5459
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                            direccion@coparmexirapuato.org
                        </li>
                        <li class="txt14 m-b-14">
                            <img src="~/Estructura/imagenes/icons/caparmex_blanco.png" style="height:70px;width:70px" />
                        </li>
                        <li class="txt14 m-b-14">
                            <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            Boulevard Villas #169, Plaza Vips edificio C.
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            462-688-7558
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                            rsanchez@guiaemprende.org
                        </li>
                        <li class="txt14 m-b-14">
                            <img src="~/Estructura/imagenes/icons/logo_rsm_blanco.png" style="height:70px;width:120px" />
                        </li>

                    </ul>

                </div>

                <div class="col-sm-6 col-md-4 p-t-50">
                    <h4 class="txt13 m-b-32">
                        Horario de atención
                    </h4>

                    <ul>
                        <li class="txt14">
                            Lunes a viernes
                        </li>

                        <li class="txt14">
                            9:00 AM - 2:00 PM y 4:00 PM - 6:00 PM
                        </li>
                    </ul>

                    <br /><br /><br />
                    <a href="@Url.Action("Index","AvisoPrivacidad")" style="font-size:18px; color:white;">Aviso de Privacidad</a>
                    <br />
                    <a href="@Url.Action("Index","EticaCorporativa")" style="font-size:18px; color:white;">Ética Corporativa</a>
                </div>

                <div class="col-sm-6 col-md-4 p-t-50">
                    <!-- - -->
                    <h4 class="txt13 m-b-38">
                        Colaboradores
                    </h4>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="~/Estructura/imagenes/icons/banner_tres_logos_nuevos.png"
                                 style="height:70px" />
                        </div>
                    </div>

                    @*<div class="row" style="margin-top:40px;">
                        <p class="txt14 m-b-14">
                            This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="end-footer bg2">
            <div class="container">
                <div class="flex-sb-m flex-w p-t-22 p-b-22">

                    <div class="txt17 p-r-20 p-t-5 p-b-5">
                        © 2021 Conectividad y Telecomunicación SA de CV  CONTEL
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.toast.min.js"></script>


    <script type="text/javascript">

        $(function () {

            var mensaje = '@Model.Mensajes';

            if (mensaje.length > 0) {

                $.toast({
                    heading: 'Centro Capacitación',
                    text: mensaje,
                    position: 'top-right',
                    stack: false

                });
            }

        });

    </script>
</body>
</html>
